
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}


    <!--
    				<div class="card">
    					<div class="card-header">
    						<h4>Информация о статье</h4>
    					</div>
    					<div class="card-body">
    						<ul>
    							<li><h4>Lung Cancer. 2011 Nov;74(2):284-92. doi: 10.1016/j.lungcan.2011.02.008. Epub  2011 Mar 15.</h4></li>
    							<li><H4><a  href="https://www.ncbi.nlm.nih.gov/pubmed/21411176" target="_blank"> A metabolomic approach to lung cancer.</a></H4></li>
    							<li><h4 > Hori S, Nishiumi S, Kobayashi K, Shinohara M, Hatakeyama Y, Kotani Y, Hatano N, Maniwa Y, Nishio W, Bamba T, Fukusaki E, Azuma T, Takenawa T, Nishimura Y, Yoshida M.</h4></li>
    						</ul>
    					</div>
    				</div>
    -->



    	<div class="container">
        <br>
        <div class="card">
          <div class="card-header">
            				<h3>Отображение подробной информации об исследовании</h3>
          </div>
        <div class="card-body">



          <table class= "table table-border table-hover bg" cellspacing="6"  >
            <thead style="background-color: #DEDEDE;">
              <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Информация о статье</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Pubmed ID</td>

                    <td> <a href=https://www.ncbi.nlm.nih.gov/pubmed/26762741> 26762741 </a> </td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Авторы</td>

                    <td>Peter J Mazzone, Xiao-Feng Wang, Mary Beukemann, Qi Zhang, Meredith Seeley, Rob Mohney, Tracy Holt, Kirk L Pappan </td>
                </tr>
                <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Страна</td>

                    <td>US</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Год публикации</td>

                    <td>2016</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Функция исследования</td>

                    <td>–</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Сравниваемые группы</td>

                    <td>adenocarcinoma, squamous cell carcinoma</td>
                </tr>
            </tbody>
        </table>




        
                        <table class= "table table-border table-hover bg cell-border" cellspacing="6"  >
                          <thead style="background-color: #DEDEDE;">
                            <tr><th colspan="3" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Дизайн эксперимента</h4></th></tr>
                            <tr>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#FFFFFF;font-size:20px;"> Сравнительное исследование #1 </td>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Группа с заболеванием</td>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Контрольная группа</td>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Тип (характеристика) пациентов</td>

                                  <td>adenocarcinoma, squamous cell carcinoma</td>
                                  <td>at-risk controls </td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Число участников</td>

                                  <td>94</td>
                                  <td>190</td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Пол (М/Ж)</td>

                                  <td>52, 42</td>
                                  <td>96, 94</td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">средний возраст</td>

                                  <td>68.7</td>
                                  <td>66.2</td>
                              </tr>
                          </tbody>
                      </table>
                    
                <table class= "table table-border table-hover bg cell-border" cellspacing="6"  >
                  <thead style="background-color: #DEDEDE;">
                    <tr>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#FFFFFF;font-size:20px;"> Сравнительное исследование #2 </td>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Группа с заболеванием</td>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Контрольная группа</td>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Тип (характеристика) пациентов</td>

                          <td>adenocarcinoma, squamous cell carcinoma</td>
                          <td>at-risk controls </td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Число участников</td>

                          <td>94</td>
                          <td>190</td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Пол (М/Ж)</td>

                          <td>52, 42</td>
                          <td>96, 94</td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">средний возраст</td>

                          <td>68.7</td>
                          <td>66.2</td>
                      </tr>
                  </tbody>
              </table>
                
                <table class= "table table-border table-hover bg cell-border" cellspacing="6"  >
                  <thead style="background-color: #DEDEDE;">
                    <tr>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#FFFFFF;font-size:20px;"> Сравнительное исследование #3 </td>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Группа с заболеванием</td>
                        <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Контрольная группа</td>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Тип (характеристика) пациентов</td>

                          <td>adenocarcinoma, squamous cell carcinoma</td>
                          <td>at-risk controls </td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Число участников</td>

                          <td>94</td>
                          <td>190</td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Пол (М/Ж)</td>

                          <td>52, 42</td>
                          <td>96, 94</td>
                      </tr>
                      <tr>
                          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">средний возраст</td>

                          <td>68.7</td>
                          <td>66.2</td>
                      </tr>
                  </tbody>
              </table>
                

      <table class= "table table-border table-hover bg" cellspacing="6"  >
        <thead style="background-color: #DEDEDE;">
          <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Инструментальный анализ</h4></th></tr>
        </thead>
        <tbody>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Хроматографическое разделение  </td>

                <td>GC</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Источник ионизации </td>

                <td>EI</td>
            </tr>
            <tr>
            <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Режим положительной/отрицательной ионизации </td>

                <td>–</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Масс-анализатор </td>

                <td>quadrupole</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Уровень идентификации </td>

                <td>MS/MS</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Программное обеспечение для обработки данных </td>

                <td> Metabolon LIMS system</td>
            </tr>
        </tbody>
    </table>




    <table class= "table table-border table-hover bg" cellspacing="6"  >
      <thead style="background-color: #DEDEDE;">
        <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Процессинг данных</h4></th></tr>
      </thead>
      <tbody>
          <tr>
              <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Поиск по базам данных  </td>

              <td> Metabolon LIMS system</td>
          </tr>
          <tr>
              <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Статистический анализ </td>

              <td>two- sample independent t test </td>
          </tr>
          <tr>
          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Метод классификации </td>

              <td>–</td>
          </tr>

      </tbody>
    </table>
    </div>
    </div>
    <br>
    <div class="card">
    					<div class="card-header" >
    						<h4>Выявленные значимые метаболиты</h4>
    					</div>
    					<div class="card-body" role="tablist">
    						<ul class="nav nav-tabs">
    							<li class="nav-item">
    								<a class="nav-link active" data-toggle='tab' href="#tab1" role="tab" aria-controls="home" aria-expanded="true">Метод дифференциального анализа</a>
    							</li>
    							<li class="nav-item">
    								<a class="nav-link " data-toggle='tab' href="#tab2" role="tab" aria-controls="profile">Классификационный метод</a>
    							</li>
    						</ul>
    			            <div class="tab-content">
    			            	<div class="tab-pane fade show active" role='tabpanel' id="tab1" style="width: 100% !important;">
    								<table class="compact cell-border hover stripe display" width= "100%;" id="table1">
    									<thead>
    										<th style="font-family: monospace;color:black !important">Метаболит</th>
    										<!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->
    										<th style="font-family: monospace;color:black !important">Средняя концентрация (заболевание)</th>
    										<th style="font-family: monospace;color:black !important">Средняя концентрация (контроль)</th>
    										<th style="font-family: monospace;color:black !important">Fold change (case/control)</th>
    										<th style="font-family: monospace;color:black !important">P-value</th>
    										<th style="font-family: monospace;color:black !important">FDR</th>
    										<th style="font-family: monospace;color:black !important">VIP</th>
                                            <th > HMDB </th>
    									</thead>
                                        <tbody>
    										
                    <tr>
                        <td> ascorbate </td>
                        <td> 0.6943213± 0.8740479 </td>
                        <td> 1.1995205± 1.1003519 </td>
                        <td> 0.578832375103218 </td>
                        <td> 0.0001253 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00044 </td>
                    </tr>
                
                    <tr>
                        <td> quinate </td>
                        <td> 0.7863202± 0.8655946 </td>
                        <td> 1.2846232± 1.211069 </td>
                        <td> 0.612101820985329 </td>
                        <td> 0.0004238 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB03072 </td>
                    </tr>
                
                    <tr>
                        <td> paraxanthine </td>
                        <td> 0.8349149± 0.8945667 </td>
                        <td> 1.1984211± 0.8908108 </td>
                        <td> 0.696679072155856 </td>
                        <td> 0.0013598 </td>
                        <td> 0.015374512 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0001860 </td>
                    </tr>
                
                    <tr>
                        <td> azelate </td>
                        <td> 0.9385702± 0.3581637 </td>
                        <td> 1.1286984± 0.5664229 </td>
                        <td> 0.831550926270472 </td>
                        <td> 0.0031792 </td>
                        <td> 0.019631853 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00784 </td>
                    </tr>
                
                    <tr>
                        <td> pelargonate </td>
                        <td> 0.9449255± 0.1431241 </td>
                        <td> 1.0330258± 0.1629988 </td>
                        <td> 0.914716263620909 </td>
                        <td> 1.2e-05 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00847 </td>
                    </tr>
                
                    <tr>
                        <td> inositol 1-phosphate </td>
                        <td> 0.9531117± 0.4427782 </td>
                        <td> 1.0794205± 0.4084556 </td>
                        <td> 0.882984619988225 </td>
                        <td> 0.0176547 </td>
                        <td> 0.050549198 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00213 </td>
                    </tr>
                
                    <tr>
                        <td> riboflavin </td>
                        <td> 0.9552777± 0.5302281 </td>
                        <td> 1.2389121± 0.8798746 </td>
                        <td> 0.771061724233705 </td>
                        <td> 0.0042882 </td>
                        <td> 0.02226035 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0000244 </td>
                    </tr>
                
                    <tr>
                        <td> methionine </td>
                        <td> 0.9703404± 0.2671491 </td>
                        <td> 1.0918958± 0.2642577 </td>
                        <td> 0.88867490835664 </td>
                        <td> 0.0003276 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00696 </td>
                    </tr>
                
                    <tr>
                        <td> phosphate </td>
                        <td> 0.9902234± 0.1644398 </td>
                        <td> 1.0462695± 0.1990623 </td>
                        <td> 0.946432444030912 </td>
                        <td> 0.0189469 </td>
                        <td> 0.053533462 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0001429 </td>
                    </tr>
                
                    <tr>
                        <td> alpha-tocopherol </td>
                        <td> 1.002835± 0.425534 </td>
                        <td> 1.120921± 0.4151652 </td>
                        <td> 0.89465270077017 </td>
                        <td> 0.0259186 </td>
                        <td> 0.068287014 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB01893 </td>
                    </tr>
                
                    <tr>
                        <td> theobromine </td>
                        <td> 1.029067± 0.8584048 </td>
                        <td> 1.437394± 1.3011977 </td>
                        <td> 0.715925487375069 </td>
                        <td> 0.0061223 </td>
                        <td> 0.025297307 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0002825 </td>
                    </tr>
                
                    <tr>
                        <td> hippurate </td>
                        <td> 1.029847± 1.063944 </td>
                        <td> 1.420652± 1.040638 </td>
                        <td> 0.724911519499497 </td>
                        <td> 0.0033414 </td>
                        <td> 0.019631853 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00714 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylalanine </td>
                        <td> 1.0308628± 0.3164823 </td>
                        <td> 0.9473979± 0.2181509 </td>
                        <td> 1.08809909753864 </td>
                        <td> 0.0098328 </td>
                        <td> 0.033685739 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00766 </td>
                    </tr>
                
                    <tr>
                        <td> 2-hydroxystearate </td>
                        <td> 1.071784± 0.2271114 </td>
                        <td> 0.9912795± 0.2379984 </td>
                        <td> 1.08121271548539 </td>
                        <td> 0.0068445 </td>
                        <td> 0.027175059 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> arachidonate </td>
                        <td> 1.113699± 0.3113646 </td>
                        <td> 1.005789± 0.3566317 </td>
                        <td> 1.10728890453167 </td>
                        <td> 0.0129245 </td>
                        <td> 0.040458542 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB01043 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylmethionine </td>
                        <td> 1.1641053± 0.5503488 </td>
                        <td> 0.9748595± 0.354519 </td>
                        <td> 1.19412623049783 </td>
                        <td> 0.0005385 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB11745 </td>
                    </tr>
                
                    <tr>
                        <td> cortisol </td>
                        <td> 1.1981351± 0.4646532 </td>
                        <td> 0.9698453± 0.3325259 </td>
                        <td> 1.23538785000041 </td>
                        <td> 3.18e-06 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00063 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylneuraminate </td>
                        <td> 1.2324011± 0.5777806 </td>
                        <td> 0.9765911± 0.3560096 </td>
                        <td> 1.26194176866859 </td>
                        <td> 6.44e-06 </td>
                        <td> 0.015006832 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB00230 </td>
                    </tr>
                

                                    </tbody>
    								</table>
    			            	</div>
    			           <div class="tab-pane fade" role='tabpanel' id="tab2" style="width: 100% !important;">

    								<table class="compact cell-border hover stripe display" width= "100%;" id="table2">
    									<thead>
    										<th style="font-family: monospace;color:black !important">Метаболит</th>
    										<!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->

    											<th style="font-family: monospace;color:black !important">Значение отсечки</th>

    											<th style="font-family: monospace;color:black !important">AUROC (95%CI)</th>

    											<th style="font-family: monospace;color:black !important">Чувствительность (%)</th>

    											<th style="font-family: monospace;color:black !important">Специфичность (%)</th>

    											<th style="font-family: monospace;color:black !important">Точность (%)</th>

                                                <th> HMDB </th>

    									</thead>
                                        <tbody>
    										
                    <tr>
                        <td> ascorbate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00044 </td>
                    </tr>
                
                    <tr>
                        <td> quinate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB03072 </td>
                    </tr>
                
                    <tr>
                        <td> paraxanthine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB0001860 </td>
                    </tr>
                
                    <tr>
                        <td> azelate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00784 </td>
                    </tr>
                
                    <tr>
                        <td> pelargonate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00847 </td>
                    </tr>
                
                    <tr>
                        <td> inositol 1-phosphate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00213 </td>
                    </tr>
                
                    <tr>
                        <td> riboflavin </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB0000244 </td>
                    </tr>
                
                    <tr>
                        <td> methionine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00696 </td>
                    </tr>
                
                    <tr>
                        <td> phosphate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB0001429 </td>
                    </tr>
                
                    <tr>
                        <td> alpha-tocopherol </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB01893 </td>
                    </tr>
                
                    <tr>
                        <td> theobromine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB0002825 </td>
                    </tr>
                
                    <tr>
                        <td> hippurate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00714 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylalanine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00766 </td>
                    </tr>
                
                    <tr>
                        <td> 2-hydroxystearate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> arachidonate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB01043 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylmethionine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB11745 </td>
                    </tr>
                
                    <tr>
                        <td> cortisol </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00063 </td>
                    </tr>
                
                    <tr>
                        <td> N-acetylneuraminate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> – </td>
                        <td> HMDB00230 </td>
                    </tr>
                

                                    </tbody>
    								</table>
    			            	</div>
    			            </div>
    					</div>
    				</div>

    			</div>



    	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



    <script type="text/javascript" src='{% static "browse/js/paper_try.js" %}'></script>

    {% endblock content %}
    