
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}
    <div class="container">
        <br>
        <div class="card">
        <div class="card-header">
          <h3>Метаболиты, выявленные в исследовании <a style="font-family: monospace;" href='{% url "PUBMED27651926" %}' target="_blank">27651926</a></h3>
        </div>
        <div class="card-body">
          <div class="container">
            <table class="compact cell-border hover stripe" id="table">
              <thead>
                <td>Метаболит</td>
                <!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->
                <td>Fold change (case/control)</td>
                <td>P-value</td>
                <td>FDR</td>
                <td>VIP</td>
                <td>Выделен автором, как значимый</td>
                <td> HMDB </td> <!-- make invisible -->
              </thead>

                
                <tr>
                    <td> PS(O-20:0/18:0)/( O-16:0/22:0) </td>
                    <td> - </td>
                    <td> 0.0036 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PE(O-20:0/22:6) </td>
                    <td> - </td>
                    <td> 0.0116 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PS(22:6/20:4)  </td>
                    <td> - </td>
                    <td> 0.0174 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PC(O-17:0/20:4) </td>
                    <td> - </td>
                    <td> 0.0255 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PC(O-16:1/2:0)/(P-16:0/2:0)/(18:1/0:0) </td>
                    <td> - </td>
                    <td> 0.0270 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PI(P-16:0/17:2)  </td>
                    <td> - </td>
                    <td> 0.0294 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PG(17:0/21:0)/(22:0/16:0)/(19:0/19:0)/(20:0/18:0) </td>
                    <td> - </td>
                    <td> 0.0312 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PC(15:0/18:2)/(13:0/20:2)/(14:1/19:1)/(15:1/18:1)/(16:0/17:2)  </td>
                    <td> - </td>
                    <td> 0.0384 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PI(16:1/22:2)/(18:1/20:2)/(18:2/20:1)/(18:3/20:0)  </td>
                    <td> - </td>
                    <td> 0.045 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PS(17:1/22:2)/(17:2/22:1)/(18:3/21:0)/(19:0/20:3)  </td>
                    <td> - </td>
                    <td> 0.0475 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PS(O-16:0/21:0)/(O-18:0/19:0)/(O-20:0/17:0) </td>
                    <td> - </td>
                    <td> 0.048 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> PI(14:1/22:4)/(18:1/18:4)/(18:2/18:3)  </td>
                    <td> - </td>
                    <td> 0.0499 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> Phenylalanine </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> 2-hydroxyvalerate </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> succinate </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> choline </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> glycine </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> acetoacetate </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> tyrosine </td>
                    <td> - </td>
                    <td> <0.05 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> threonine </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> glutamate </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> creatinine </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> 3-hydroxybutirate </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> glycerol </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            
                <tr>
                    <td> taurine </td>
                    <td> - </td>
                    <td> <0.1 </td>
                    <td> - </td>
                    <td> - </td>
                    <td> -</td>
                    <td> - </td>
                </tr>
            


            </table>
        </div>
        </div>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



    <script type="text/javascript" src='{% static "browse/js/meta_try_br.js" %}'></script>

    {% endblock content %}

    