
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}
    <div class="container">
        <br>
        <div class="card">
        <div class="card-header">
          <h3>Метаболиты, выявленные в исследовании <a style="font-family: monospace;" href='{% url "PUBMED28803255" %}' target="_blank">28803255</a></h3>
        </div>
        <div class="card-body">
          <div class="container">
            <table class="compact cell-border hover stripe" id="table">
              <thead>
                <td>Метаболит</td>
                <!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->
                <td>Средняя концентрация (заболевание)</td>
                <td>Средняя концентрация (контроль)</td>
                <td>Fold change (case/control)</td>
                <td>P-value</td>
                <td>FDR</td>
                <td>VIP</td>
                <td>Выделен автором, как значимый</td>
                <td> HMDB </td> <!-- make invisible -->
              </thead>

                
                <tr>
                    <td> D-gluconic acid </td>
                    <td> 0.093606 ± 0.039298 </td>
                    <td> 0.089903 ± 0.045331 </td>
                    <td> 1.0411888368575 </td>
                    <td> 0.15103 </td>
                    <td> 0.45967 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> myristic acid </td>
                    <td> 0.11147 ± 0.051075 </td>
                    <td> 0.11417 ± 0.054058 </td>
                    <td> 0.976351055443637 </td>
                    <td> 0.75974 </td>
                    <td> 0.8487 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000806 </td>
                </tr>
            
                <tr>
                    <td> allyl laurate </td>
                    <td> 0.16995 ± 0.03841 </td>
                    <td> 0.21582 ± 0.10258 </td>
                    <td> 0.787461773700306 </td>
                    <td> 0.011757 </td>
                    <td> 0.14963 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> inositol </td>
                    <td> 0.17334 ± 0.10512 </td>
                    <td> 0.22076 ± 0.15748 </td>
                    <td> 0.785196593585794 </td>
                    <td> 0.047971 </td>
                    <td> 0.26628 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> gluconic acid </td>
                    <td> 0.19286 ± 0.12173 </td>
                    <td> 0.25519 ± 0.23889 </td>
                    <td> 0.755750617187194 </td>
                    <td> 0.25478 </td>
                    <td> 0.59449 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> D-turanose </td>
                    <td> 0.20914 ± 0.1477 </td>
                    <td> 0.17504 ± 0.09622 </td>
                    <td> 1.1948126142596 </td>
                    <td> 0.093989 </td>
                    <td> 0.39874 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> octadecanoic acid, 2-hydroxy-1-(hydroxymethyl)ethyl ester </td>
                    <td> 0.24677 ± 0.12359 </td>
                    <td> 0.23489 ± 0.089984 </td>
                    <td> 1.05057686576695 </td>
                    <td> 0.72059 </td>
                    <td> 0.85493 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-threonic acid </td>
                    <td> 0.27756 ± 0.13879 </td>
                    <td> 0.29536 ± 0.20327 </td>
                    <td> 0.939734561213434 </td>
                    <td> 0.58199 </td>
                    <td> 0.75265 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> γ-tocopherol </td>
                    <td> 0.28104 ± 0.11558 </td>
                    <td> 0.40574 ± 0.28152 </td>
                    <td> 0.69266032434564 </td>
                    <td> 0.0097645 </td>
                    <td> 0.12427 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> fumaric acid </td>
                    <td> 0.30476 ± 0.18536 </td>
                    <td> 0.3389 ± 0.2455 </td>
                    <td> 0.899262319268221 </td>
                    <td> 0.15778 </td>
                    <td> 0.46772 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000134 </td>
                </tr>
            
                <tr>
                    <td> N-acetylneuraminic acid </td>
                    <td> 0.31266 ± 0.19452 </td>
                    <td> 0.44205 ± 0.5918 </td>
                    <td> 0.707295554801493 </td>
                    <td> 0.10599 </td>
                    <td> 0.41219 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> gluconic acid lactone </td>
                    <td> 0.33681 ± 0.27565 </td>
                    <td> 0.52309 ± 0.499 </td>
                    <td> 0.643885373453899 </td>
                    <td> 0.038092 </td>
                    <td> 0.2424 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> hexadecanol </td>
                    <td> 0.35049 ± 0.18497 </td>
                    <td> 0.4707 ± 0.55204 </td>
                    <td> 0.744614404079031 </td>
                    <td> 0.037833 </td>
                    <td> 0.26483 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ethyl iso-allocholate </td>
                    <td> 0.40573 ± 0.22174 </td>
                    <td> 0.4969 ± 0.34458 </td>
                    <td> 0.81652243912256 </td>
                    <td> 0.32894 </td>
                    <td> 0.68529 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> D-talofuranose </td>
                    <td> 0.41546 ± 0.30859 </td>
                    <td> 0.45986 ± 0.40101 </td>
                    <td> 0.903448875744792 </td>
                    <td> 0.49554 </td>
                    <td> 0.76237 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ketoleucine </td>
                    <td> 0.42639 ± 0.26632 </td>
                    <td> 0.58974 ± 0.43089 </td>
                    <td> 0.723013531386713 </td>
                    <td> 0.0036184 </td>
                    <td> 0.070773 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000695 </td>
                </tr>
            
                <tr>
                    <td> taurine </td>
                    <td> 0.42753 ± 0.19055 </td>
                    <td> 0.40801 ± 0.25967 </td>
                    <td> 1.04784196465773 </td>
                    <td> 0.072326 </td>
                    <td> 0.33753 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000251 </td>
                </tr>
            
                <tr>
                    <td> indol-3-acetic acid </td>
                    <td> 0.43824 ± 0.26038 </td>
                    <td> 0.61811 ± 0.47103 </td>
                    <td> 0.70900001617835 </td>
                    <td> 0.017905 </td>
                    <td> 0.17905 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> glycolic acid </td>
                    <td> 0.44052 ± 0.38849 </td>
                    <td> 0.78842 ± 0.56528 </td>
                    <td> 0.5587377286218 </td>
                    <td> 0.00072096 </td>
                    <td> 0.020187 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> HMDB0000115 </td>
                </tr>
            
                <tr>
                    <td> α-linolenic acid </td>
                    <td> 0.44304 ± 0.48158 </td>
                    <td> 0.56977 ± 0.70563 </td>
                    <td> 0.777576917001597 </td>
                    <td> 0.42316 </td>
                    <td> 0.69016 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-asparagine </td>
                    <td> 0.45388 ± 0.46352 </td>
                    <td> 0.5809 ± 0.48931 </td>
                    <td> 0.781339301084524 </td>
                    <td> 0.16036 </td>
                    <td> 0.46772 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000168 </td>
                </tr>
            
                <tr>
                    <td> cholesta-3,5-dien-7-one </td>
                    <td> 0.49462 ± 0.23804 </td>
                    <td> 0.43776 ± 0.15984 </td>
                    <td> 1.12988852339181 </td>
                    <td> 0.051355 </td>
                    <td> 0.26628 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> phosphoryethanolamine </td>
                    <td> 0.50995 ± 0.24888 </td>
                    <td> 0.63338 ± 0.31128 </td>
                    <td> 0.80512488553475 </td>
                    <td> 0.022801 </td>
                    <td> 0.21281 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 3-hydroxypyruvic acid </td>
                    <td> 0.53299 ± 0.56089 </td>
                    <td> 0.35277 ± 0.34446 </td>
                    <td> 1.51087110581966 </td>
                    <td> 0.12197 </td>
                    <td> 0.42688 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-cysteine </td>
                    <td> 0.54811 ± 0.28307 </td>
                    <td> 0.77687 ± 0.89885 </td>
                    <td> 0.70553631881782 </td>
                    <td> 0.3094 </td>
                    <td> 0.64914 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> pseudo uridine </td>
                    <td> 0.58723 ± 0.35835 </td>
                    <td> 0.62956 ± 0.34589 </td>
                    <td> 0.932762564330644 </td>
                    <td> 0.50208 </td>
                    <td> 0.76403 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> citrulline </td>
                    <td> 0.6485 ± 0.50829 </td>
                    <td> 0.78608 ± 0.4787 </td>
                    <td> 0.824979645837574 </td>
                    <td> 0.034879 </td>
                    <td> 0.2424 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> myristate </td>
                    <td> 0.69566 ± 0.45751 </td>
                    <td> 0.89545 ± 1.0872 </td>
                    <td> 0.776883131386454 </td>
                    <td> 0.28907 </td>
                    <td> 0.63233 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> benzoic acid </td>
                    <td> 0.70968 ± 1.9495 </td>
                    <td> 0.71993 ± 1.1979 </td>
                    <td> 0.985762504687956 </td>
                    <td> 0.44022 </td>
                    <td> 0.69016 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> octadecanol </td>
                    <td> 0.71063 ± 0.27 </td>
                    <td> 0.84132 ± 0.66295 </td>
                    <td> 0.844660771169115 </td>
                    <td> 0.36196 </td>
                    <td> 0.66677 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> formic acid </td>
                    <td> 0.71745 ± 0.47897 </td>
                    <td> 0.78942 ± 0.52681 </td>
                    <td> 0.908831800562438 </td>
                    <td> 0.64329 </td>
                    <td> 0.78314 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> eicosapentaenoic acid </td>
                    <td> 0.73605 ± 1.0848 </td>
                    <td> 0.69884 ± 0.66637 </td>
                    <td> 1.05324537805506 </td>
                    <td> 0.55826 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0001999 </td>
                </tr>
            
                <tr>
                    <td> pregn-4-ene-3,11,20-trione </td>
                    <td> 0.74349 ± 0.6575 </td>
                    <td> 1.3534 ± 3.6854 </td>
                    <td> 0.549349785724841 </td>
                    <td> 0.18032 </td>
                    <td> 0.50489 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 2,3-dihydroxybutanoic acid </td>
                    <td> 0.85191 ± 0.29106 </td>
                    <td> 0.93478 ± 0.60297 </td>
                    <td> 0.911348124692441 </td>
                    <td> 0.52357 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-alpha-aminobutyric acid </td>
                    <td> 0.89256 ± 0.2562 </td>
                    <td> 0.89347 ± 0.36794 </td>
                    <td> 0.998981499099018 </td>
                    <td> 0.66854 </td>
                    <td> 0.79319 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> arachidic acid </td>
                    <td> 0.93076 ± 0.34941 </td>
                    <td> 1.042 ± 0.55174 </td>
                    <td> 0.893243761996161 </td>
                    <td> 0.47189 </td>
                    <td> 0.71038 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0002212 </td>
                </tr>
            
                <tr>
                    <td> lauric acid </td>
                    <td> 0.9694 ± 0.53461 </td>
                    <td> 0.97646 ± 0.6661 </td>
                    <td> 0.992769801118325 </td>
                    <td> 0.75969 </td>
                    <td> 0.87264 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 3-hydroxyphenylpropionic acid </td>
                    <td> 0.98054 ± 1.1013 </td>
                    <td> 1.4376 ± 1.5675 </td>
                    <td> 0.682067334446299 </td>
                    <td> 0.20504 </td>
                    <td> 0.52412 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> parabanic acid </td>
                    <td> 1.0337 ± 0.77281 </td>
                    <td> 1.6321 ± 2.2193 </td>
                    <td> 0.633355799277005 </td>
                    <td> 0.10485 </td>
                    <td> 0.43173 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> phenylacetic acid </td>
                    <td> 1.1384 ± 0.90942 </td>
                    <td> 1.609 ± 1.9907 </td>
                    <td> 0.707520198881293 </td>
                    <td> 0.14817 </td>
                    <td> 0.48858 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> cholesta-4,6-dien-3-ol </td>
                    <td> 1.1694 ± 0.8889 </td>
                    <td> 1.7972 ± 5.6779 </td>
                    <td> 0.650678833741375 </td>
                    <td> 0.38702 </td>
                    <td> 0.67727 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> butane-2,3-diol </td>
                    <td> 1.179 ± 1.1028 </td>
                    <td> 1.5672 ± 1.6905 </td>
                    <td> 0.75229709035222 </td>
                    <td> 0.13821 </td>
                    <td> 0.44998 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> docosahexaenoic acid </td>
                    <td> 1.1822 ± 1.6287 </td>
                    <td> 1.1189 ± 0.87031 </td>
                    <td> 1.05657342032353 </td>
                    <td> 0.5771 </td>
                    <td> 0.76992 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0002183 </td>
                </tr>
            
                <tr>
                    <td> L-aspartic acid </td>
                    <td> 1.2278 ± 0.77025 </td>
                    <td> 1.0937 ± 0.78496 </td>
                    <td> 1.1226113193746 </td>
                    <td> 0.32302 </td>
                    <td> 0.68529 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> heptadecanoic acid </td>
                    <td> 1.2438 ± 0.6796 </td>
                    <td> 1.2944 ± 0.57039 </td>
                    <td> 0.960908529048208 </td>
                    <td> 0.44367 </td>
                    <td> 0.69016 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0002259 </td>
                </tr>
            
                <tr>
                    <td> octadecanoic acid, propyl ester </td>
                    <td> 1.2669 ± 0.57273 </td>
                    <td> 1.2881 ± 0.77338 </td>
                    <td> 0.983541650492974 </td>
                    <td> 0.9907 </td>
                    <td> 0.9907 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> glycerol-3-phosphate </td>
                    <td> 1.4266 ± 0.6999 </td>
                    <td> 1.4702 ± 1.2486 </td>
                    <td> 0.970344170861107 </td>
                    <td> 0.78202 </td>
                    <td> 0.8487 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> glutamic acid </td>
                    <td> 1.5425 ± 1.0398 </td>
                    <td> 1.5055 ± 1.5135 </td>
                    <td> 1.02457655264032 </td>
                    <td> 0.39669 </td>
                    <td> 0.67727 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000148 </td>
                </tr>
            
                <tr>
                    <td> benzaldehyde </td>
                    <td> 1.6015 ± 0.66405 </td>
                    <td> 0.9599 ± 0.77073 </td>
                    <td> 1.66840295864152 </td>
                    <td> 9.42e-06 </td>
                    <td> 0.00065959 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> phosphoric acid, monomethyl ester </td>
                    <td> 1.7226 ± 1.7763 </td>
                    <td> 1.7938 ± 1.4086 </td>
                    <td> 0.960307726613892 </td>
                    <td> 0.61249 </td>
                    <td> 0.7963 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> glycerol </td>
                    <td> 10.698 ± 5.9459 </td>
                    <td> 13.681 ± 8.0682 </td>
                    <td> 0.781960383012938 </td>
                    <td> 0.13514 </td>
                    <td> 0.44998 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ribitol </td>
                    <td> 11.481 ± 5.4321 </td>
                    <td> 13.066 ± 7.6992 </td>
                    <td> 0.878692790448492 </td>
                    <td> 0.41979 </td>
                    <td> 0.69016 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-serine </td>
                    <td> 11.528 ± 4.8431 </td>
                    <td> 12.326 ± 6.5947 </td>
                    <td> 0.935258802531235 </td>
                    <td> 0.8135 </td>
                    <td> 0.85228 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000187 </td>
                </tr>
            
                <tr>
                    <td> 1,5-anhydrosorbitol </td>
                    <td> 11.743 ± 7.108 </td>
                    <td> 11.998 ± 8.638 </td>
                    <td> 0.978746457742957 </td>
                    <td> 0.79547 </td>
                    <td> 0.85012 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-alanine </td>
                    <td> 112.14 ± 45.496 </td>
                    <td> 119.19 ± 67.485 </td>
                    <td> 0.940850742511956 </td>
                    <td> 0.85441 </td>
                    <td> 0.87954 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> linoleic acid </td>
                    <td> 12.631 ± 4.624 </td>
                    <td> 14.513 ± 6.8175 </td>
                    <td> 0.870323158547509 </td>
                    <td> 0.18801 </td>
                    <td> 0.50619 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000673 </td>
                </tr>
            
                <tr>
                    <td> hydrogene sulfide </td>
                    <td> 135.24 ± 109.11 </td>
                    <td> 177.52 ± 242.58 </td>
                    <td> 0.761829652996845 </td>
                    <td> 0.76044 </td>
                    <td> 0.87264 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-isoleucine </td>
                    <td> 14.606 ± 10.526 </td>
                    <td> 23.197 ± 17.309 </td>
                    <td> 0.629650385825753 </td>
                    <td> 0.00016592 </td>
                    <td> 0.0058073 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> HMDB0000172 </td>
                </tr>
            
                <tr>
                    <td> ornithine </td>
                    <td> 14.939 ± 7.7875 </td>
                    <td> 17.369 ± 10.619 </td>
                    <td> 0.860095572571823 </td>
                    <td> 0.3094 </td>
                    <td> 0.64914 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000214 </td>
                </tr>
            
                <tr>
                    <td> oxalic acid </td>
                    <td> 178.94 ± 87.797 </td>
                    <td> 193.22 ± 163.01 </td>
                    <td> 0.926094607183521 </td>
                    <td> 0.94659 </td>
                    <td> 0.9534 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> γ-aminobutyric acid </td>
                    <td> 19.623 ± 9.3508 </td>
                    <td> 23.651 ± 11.954 </td>
                    <td> 0.829690076529534 </td>
                    <td> 0.12645 </td>
                    <td> 0.45449 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 2-keto-3-methylpentanoic acid </td>
                    <td> 2.0003 ± 1.0415 </td>
                    <td> 2.1392 ± 1.4664 </td>
                    <td> 0.935069184741959 </td>
                    <td> 0.63497 </td>
                    <td> 0.77978 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ethylamine </td>
                    <td> 2.1395 ± 0.68325 </td>
                    <td> 2.6158 ± 1.9932 </td>
                    <td> 0.817914213624895 </td>
                    <td> 0.12552 </td>
                    <td> 0.45449 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> β-hydroxybutyric acid </td>
                    <td> 2.1996 ± 2.0896 </td>
                    <td> 3.8785 ± 3.8139 </td>
                    <td> 0.567126466417429 </td>
                    <td> 0.002942 </td>
                    <td> 0.068648 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> palmitelaidic acid </td>
                    <td> 2.2284 ± 1.4919 </td>
                    <td> 2.9179 ± 5.7876 </td>
                    <td> 0.763699921176188 </td>
                    <td> 0.39023 </td>
                    <td> 0.67727 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 2-phosphoglyceric acid </td>
                    <td> 2.2489 ± 1.1021 </td>
                    <td> 2.9713 ± 1.7826 </td>
                    <td> 0.756874095513748 </td>
                    <td> 0.066584 </td>
                    <td> 0.33292 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> arachidonic acid </td>
                    <td> 2.263 ± 2.5874 </td>
                    <td> 2.2252 ± 2.1857 </td>
                    <td> 1.01698723710228 </td>
                    <td> 0.33941 </td>
                    <td> 0.65093 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0001043 </td>
                </tr>
            
                <tr>
                    <td> cadaverine </td>
                    <td> 2.3988 ± 1.8976 </td>
                    <td> 3.4773 ± 3.7539 </td>
                    <td> 0.689845569838668 </td>
                    <td> 0.18859 </td>
                    <td> 0.52343 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> succinic acid </td>
                    <td> 2.6072 ± 2.5057 </td>
                    <td> 3.2949 ± 3.15 </td>
                    <td> 0.791283498740478 </td>
                    <td> 0.14451 </td>
                    <td> 0.45967 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> arsenous acid </td>
                    <td> 2.7499 ± 2.8011 </td>
                    <td> 2.9498 ± 2.6372 </td>
                    <td> 0.932232693741949 </td>
                    <td> 0.50479 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> hydroxylamine </td>
                    <td> 2.7677 ± 1.0417 </td>
                    <td> 3.467 ± 4.2689 </td>
                    <td> 0.798298240553793 </td>
                    <td> 0.34982 </td>
                    <td> 0.66183 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> palmitic acid </td>
                    <td> 2.9461 ± 1.3686 </td>
                    <td> 3.1191 ± 1.846 </td>
                    <td> 0.944535282613574 </td>
                    <td> 0.53693 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000220 </td>
                </tr>
            
                <tr>
                    <td> pipecolinic acid </td>
                    <td> 28.258 ± 27.926 </td>
                    <td> 50.149 ± 89.059 </td>
                    <td> 0.563480827135137 </td>
                    <td> 0.11851 </td>
                    <td> 0.45449 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> D-Erythrose </td>
                    <td> 3.4437 ± 1.6261 </td>
                    <td> 3.802 ± 2.1422 </td>
                    <td> 0.905760126249342 </td>
                    <td> 0.51979 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> dihydrouracil </td>
                    <td> 3.7831 ± 2.8928 </td>
                    <td> 5.8847 ± 7.2572 </td>
                    <td> 0.642870494672625 </td>
                    <td> 0.19068 </td>
                    <td> 0.52343 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> oleic acid </td>
                    <td> 3.8226 ± 2.6189 </td>
                    <td> 4.8695 ± 5.9457 </td>
                    <td> 0.785008727795462 </td>
                    <td> 0.79322 </td>
                    <td> 0.85012 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000207 </td>
                </tr>
            
                <tr>
                    <td> erythrose, O-methyloxime </td>
                    <td> 30.264 ± 13.462 </td>
                    <td> 34.099 ± 19.556 </td>
                    <td> 0.887533358749524 </td>
                    <td> 0.58599 </td>
                    <td> 0.75265 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> cholesterol </td>
                    <td> 365.71 ± 139.16 </td>
                    <td> 400.39 ± 186.85 </td>
                    <td> 0.913384450161093 </td>
                    <td> 0.35551 </td>
                    <td> 0.68761 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000067 </td>
                </tr>
            
                <tr>
                    <td> lactic acid </td>
                    <td> 398.04 ± 274.04 </td>
                    <td> 371.49 ± 339.18 </td>
                    <td> 1.07146894936607 </td>
                    <td> 0.55826 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000190 </td>
                </tr>
            
                <tr>
                    <td> L-fucose </td>
                    <td> 4.8068 ± 2.2044 </td>
                    <td> 5.7134 ± 4.1916 </td>
                    <td> 0.841320404662723 </td>
                    <td> 0.5526 </td>
                    <td> 0.76992 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> D-glucose </td>
                    <td> 400.5 ± 198.36 </td>
                    <td> 413.3 ± 220.6 </td>
                    <td> 0.969029760464554 </td>
                    <td> 0.74647 </td>
                    <td> 0.8487 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-valine </td>
                    <td> 42.645 ± 15.846 </td>
                    <td> 55.047 ± 29.244 </td>
                    <td> 0.774701618616818 </td>
                    <td> 0.017197 </td>
                    <td> 0.20063 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> phosphoric acid </td>
                    <td> 434.61 ± 187.6 </td>
                    <td> 479.37 ± 308.42 </td>
                    <td> 0.906627448526191 </td>
                    <td> 0.71978 </td>
                    <td> 0.85493 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ethanolamine </td>
                    <td> 4971.8 ± 1409.7 </td>
                    <td> 4627.3 ± 1790 </td>
                    <td> 1.07444946296977 </td>
                    <td> 0.53309 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> D-mannose </td>
                    <td> 5.0944 ± 3.0151 </td>
                    <td> 5.6794 ± 4.2151 </td>
                    <td> 0.896996161566363 </td>
                    <td> 0.77978 </td>
                    <td> 0.8487 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> N-acetyl-L-lysine </td>
                    <td> 5.1715 ± 2.4718 </td>
                    <td> 6.3036 ± 3.5657 </td>
                    <td> 0.820404213465321 </td>
                    <td> 0.17085 </td>
                    <td> 0.50893 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> α-hydroxybutyric acid </td>
                    <td> 5.4432 ± 1.9203 </td>
                    <td> 8.5115 ± 8.1791 </td>
                    <td> 0.63951124948599 </td>
                    <td> 0.39668 </td>
                    <td> 0.67727 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 2-deoxy-erythro-pentonic acid </td>
                    <td> 5.9952 ± 3.0547 </td>
                    <td> 6.5688 ± 3.8418 </td>
                    <td> 0.912678114724151 </td>
                    <td> 0.61026 </td>
                    <td> 0.76283 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> α-tocopherol </td>
                    <td> 5.9955 ± 2.8545 </td>
                    <td> 7.8236 ± 3.9278 </td>
                    <td> 0.766335190960683 </td>
                    <td> 0.031829 </td>
                    <td> 0.24145 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-glycine </td>
                    <td> 53.529 ± 41.399 </td>
                    <td> 67.121 ± 39.885 </td>
                    <td> 0.797500037246167 </td>
                    <td> 0.0088345 </td>
                    <td> 0.12368 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-proline </td>
                    <td> 56.388 ± 23.616 </td>
                    <td> 72.431 ± 35.646 </td>
                    <td> 0.778506440612445 </td>
                    <td> 0.027879 </td>
                    <td> 0.24145 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000162 </td>
                </tr>
            
                <tr>
                    <td> octanoic acid </td>
                    <td> 560.9 ± 207.11 </td>
                    <td> 609.3 ± 256.11 </td>
                    <td> 0.920564582307566 </td>
                    <td> 0.48339 </td>
                    <td> 0.76237 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> urea </td>
                    <td> 574.66 ± 560.22 </td>
                    <td> 486.81 ± 397.39 </td>
                    <td> 1.18046054929028 </td>
                    <td> 0.24283 </td>
                    <td> 0.57621 </td>
                    <td> – </td>
                    <td> Y</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-phenylalanine </td>
                    <td> 6.3446 ± 2.6528 </td>
                    <td> 7.1747 ± 4.454 </td>
                    <td> 0.884301782652933 </td>
                    <td> 0.7028 </td>
                    <td> 0.81993 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000159 </td>
                </tr>
            
                <tr>
                    <td> L-threonine </td>
                    <td> 6.5654 ± 3.2932 </td>
                    <td> 7.5102 ± 3.5181 </td>
                    <td> 0.874197757716173 </td>
                    <td> 0.10599 </td>
                    <td> 0.41219 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000167 </td>
                </tr>
            
                <tr>
                    <td> citric acid </td>
                    <td> 7.475 ± 3.8499 </td>
                    <td> 9.7114 ± 6.9109 </td>
                    <td> 0.769713944436436 </td>
                    <td> 0.17959 </td>
                    <td> 0.51312 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000094 </td>
                </tr>
            
                <tr>
                    <td> carbodiimide </td>
                    <td> 792.53 ± 452.25 </td>
                    <td> 928.08 ± 594.15 </td>
                    <td> 0.853945780536161 </td>
                    <td> 0.33502 </td>
                    <td> 0.65093 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> L-glutamine </td>
                    <td> 8.8609 ± 3.7115 </td>
                    <td> 11.28 ± 7.2898 </td>
                    <td> 0.785540780141844 </td>
                    <td> 0.11645 </td>
                    <td> 0.42688 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000641 </td>
                </tr>
            
                <tr>
                    <td> stearic acid </td>
                    <td> 82.832 ± 31.72 </td>
                    <td> 92.816 ± 64.789 </td>
                    <td> 0.892432339251853 </td>
                    <td> 0.53118 </td>
                    <td> 0.73733 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000827 </td>
                </tr>
            
                <tr>
                    <td> myo-inositol </td>
                    <td> 9.0947 ± 6.3865 </td>
                    <td> 10.548 ± 6.0754 </td>
                    <td> 0.862220326128176 </td>
                    <td> 0.21339 </td>
                    <td> 0.52412 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000211 </td>
                </tr>
            
                <tr>
                    <td> uric acid </td>
                    <td> 9.4724 ± 4.6332 </td>
                    <td> 11.51 ± 8.243 </td>
                    <td> 0.822971329278888 </td>
                    <td> 0.66856 </td>
                    <td> 0.83761 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> HMDB0000289 </td>
                </tr>
            
                <tr>
                    <td> L-tyrosine </td>
                    <td> 9.632 ± 4.0878 </td>
                    <td> 11.79 ± 7.3324 </td>
                    <td> 0.81696352841391 </td>
                    <td> 0.32347 </td>
                    <td> 0.64914 </td>
                    <td> – </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            


            </table>
        </div>
        </div>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



    <script type="text/javascript" src='{% static "browse/js/meta_try.js" %}'></script>

    {% endblock content %}

    