
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}


    <!--
    				<div class="card">
    					<div class="card-header">
    						<h4>Информация о статье</h4>
    					</div>
    					<div class="card-body">
    						<ul>
    							<li><h4>Lung Cancer. 2011 Nov;74(2):284-92. doi: 10.1016/j.lungcan.2011.02.008. Epub  2011 Mar 15.</h4></li>
    							<li><H4><a  href="https://www.ncbi.nlm.nih.gov/pubmed/21411176" target="_blank"> A metabolomic approach to lung cancer.</a></H4></li>
    							<li><h4 > Hori S, Nishiumi S, Kobayashi K, Shinohara M, Hatakeyama Y, Kotani Y, Hatano N, Maniwa Y, Nishio W, Bamba T, Fukusaki E, Azuma T, Takenawa T, Nishimura Y, Yoshida M.</h4></li>
    						</ul>
    					</div>
    				</div>
    -->



    	<div class="container">
        <br>
        <div class="card">
          <div class="card-header">
            				<h3>Отображение подробной информации об исследовании</h3>
          </div>
        <div class="card-body">



          <table class= "table table-border table-hover bg" cellspacing="6"  >
            <thead style="background-color: #DEDEDE;">
              <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Информация о статье</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Pubmed ID</td>

                    <td> <a href=https://www.ncbi.nlm.nih.gov/pubmed/28803255> 28803255 </a> </td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Авторы</td>

                    <td>Małgorzata Roś-Mazurczyk, Anna Wojakowska, Łukasz Marczak, Krzysztof Polański, Monika Pietrowska, Joanna Polanska, Rafał Dziadziuszko, Jacek Jassem, Witold Rzyman, Piotr Widlak </td>
                </tr>
                <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Страна</td>

                    <td>Poland</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Год публикации</td>

                    <td>2017</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Функция исследования</td>

                    <td>diagnosis</td>
                </tr>
                <tr>
                    <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Сравниваемые группы</td>

                    <td>adenocarcinoma, squamous cell carcinoma</td>
                </tr>
            </tbody>
        </table>




        
                        <table class= "table table-border table-hover bg cell-border" cellspacing="6"  >
                          <thead style="background-color: #DEDEDE;">
                            <tr><th colspan="3" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Дизайн эксперимента</h4></th></tr>
                            <tr>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#FFFFFF;font-size:20px;"> Сравнительное исследование #1 </td>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Группа с заболеванием</td>
                                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Контрольная группа</td>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Тип (характеристика) пациентов</td>

                                  <td>adenocarcinoma, squamous cell carcinoma</td>
                                  <td>healthy</td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Число участников</td>

                                  <td>31</td>
                                  <td>92</td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Пол (М/Ж)</td>

                                  <td>17, 14</td>
                                  <td>52, 40</td>
                              </tr>
                              <tr>
                                  <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">средний возраст</td>

                                  <td>52-72</td>
                                  <td>52–73 </td>
                              </tr>
                          </tbody>
                      </table>
                    

      <table class= "table table-border table-hover bg" cellspacing="6"  >
        <thead style="background-color: #DEDEDE;">
          <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Инструментальный анализ</h4></th></tr>
        </thead>
        <tbody>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Хроматографическое разделение  </td>

                <td>GC</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Источник ионизации </td>

                <td>–</td>
            </tr>
            <tr>
            <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Режим положительной/отрицательной ионизации </td>

                <td>–</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Масс-анализатор </td>

                <td>TOF</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Уровень идентификации </td>

                <td>In-source fragmentation</td>
            </tr>
            <tr>
                <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Программное обеспечение для обработки данных </td>

                <td>Leco ChromaTOF-GC</td>
            </tr>
        </tbody>
    </table>




    <table class= "table table-border table-hover bg" cellspacing="6"  >
      <thead style="background-color: #DEDEDE;">
        <tr><th colspan="6" style="font-family: monospace;color:black !important;border-top-style: solid;"><h4>Процессинг данных</h4></th></tr>
      </thead>
      <tbody>
          <tr>
              <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Поиск по базам данных  </td>

              <td> Replib, Mainlib and Fiehn libraries</td>
          </tr>
          <tr>
              <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Статистический анализ </td>

              <td>two-sample T test, U Mann-Whitney test, Benjamini-Hochberg approach</td>
          </tr>
          <tr>
          <td width="400px" style="font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;"> Метод классификации </td>

              <td>ROC curve</td>
          </tr>

      </tbody>
    </table>
    </div>
    </div>
    <br>
    <div class="card">
    					<div class="card-header" >
    						<h4>Выявленные значимые метаболиты</h4>
    					</div>
    					<div class="card-body" role="tablist">
    						<ul class="nav nav-tabs">
    							<li class="nav-item">
    								<a class="nav-link active" data-toggle='tab' href="#tab1" role="tab" aria-controls="home" aria-expanded="true">Метод дифференциального анализа</a>
    							</li>
    							<li class="nav-item">
    								<a class="nav-link " data-toggle='tab' href="#tab2" role="tab" aria-controls="profile">Классификационный метод</a>
    							</li>
    						</ul>
    			            <div class="tab-content">
    			            	<div class="tab-pane fade show active" role='tabpanel' id="tab1" style="width: 100% !important;">
    								<table class="compact cell-border hover stripe display" width= "100%;" id="table1">
    									<thead>
    										<th style="font-family: monospace;color:black !important">Метаболит</th>
    										<!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->
    										<th style="font-family: monospace;color:black !important">Средняя концентрация (заболевание)</th>
    										<th style="font-family: monospace;color:black !important">Средняя концентрация (контроль)</th>
    										<th style="font-family: monospace;color:black !important">Fold change (case/control)</th>
    										<th style="font-family: monospace;color:black !important">P-value</th>
    										<th style="font-family: monospace;color:black !important">FDR</th>
    										<th style="font-family: monospace;color:black !important">VIP</th>
                                            <th > HMDB </th>
    									</thead>
                                        <tbody>
    										
                    <tr>
                        <td> allyl laurate </td>
                        <td> 0.16995 ± 0.03841 </td>
                        <td> 0.21582 ± 0.10258 </td>
                        <td> 0.787461773700306 </td>
                        <td> 0.011757 </td>
                        <td> 0.14963 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> gluconic acid lactone </td>
                        <td> 0.33681 ± 0.27565 </td>
                        <td> 0.52309 ± 0.499 </td>
                        <td> 0.643885373453899 </td>
                        <td> 0.038092 </td>
                        <td> 0.2424 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> glycolic acid </td>
                        <td> 0.44052 ± 0.38849 </td>
                        <td> 0.78842 ± 0.56528 </td>
                        <td> 0.5587377286218 </td>
                        <td> 0.00072096 </td>
                        <td> 0.020187 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0000115 </td>
                    </tr>
                
                    <tr>
                        <td> α-linolenic acid </td>
                        <td> 0.44304 ± 0.48158 </td>
                        <td> 0.56977 ± 0.70563 </td>
                        <td> 0.777576917001597 </td>
                        <td> 0.42316 </td>
                        <td> 0.69016 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> 3-hydroxypyruvic acid </td>
                        <td> 0.53299 ± 0.56089 </td>
                        <td> 0.35277 ± 0.34446 </td>
                        <td> 1.51087110581966 </td>
                        <td> 0.12197 </td>
                        <td> 0.42688 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> benzaldehyde </td>
                        <td> 1.6015 ± 0.66405 </td>
                        <td> 0.9599 ± 0.77073 </td>
                        <td> 1.66840295864152 </td>
                        <td> 9.42e-06 </td>
                        <td> 0.00065959 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                
                    <tr>
                        <td> L-isoleucine </td>
                        <td> 14.606 ± 10.526 </td>
                        <td> 23.197 ± 17.309 </td>
                        <td> 0.629650385825753 </td>
                        <td> 0.00016592 </td>
                        <td> 0.0058073 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> HMDB0000172 </td>
                    </tr>
                
                    <tr>
                        <td> urea </td>
                        <td> 574.66 ± 560.22 </td>
                        <td> 486.81 ± 397.39 </td>
                        <td> 1.18046054929028 </td>
                        <td> 0.24283 </td>
                        <td> 0.57621 </td>
                        <td> – </td>
                        <td "visibility:collapse;"> – </td>
                    </tr>
                

                                    </tbody>
    								</table>
    			            	</div>
    			           <div class="tab-pane fade" role='tabpanel' id="tab2" style="width: 100% !important;">

    								<table class="compact cell-border hover stripe display" width= "100%;" id="table2">
    									<thead>
    										<th style="font-family: monospace;color:black !important">Метаболит</th>
    										<!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->

    											<th style="font-family: monospace;color:black !important">Значение отсечки</th>

    											<th style="font-family: monospace;color:black !important">AUROC (95%CI)</th>

    											<th style="font-family: monospace;color:black !important">Чувствительность (%)</th>

    											<th style="font-family: monospace;color:black !important">Специфичность (%)</th>

    											<th style="font-family: monospace;color:black !important">Точность (%)</th>

                                                <th> HMDB </th>

    									</thead>
                                        <tbody>
    										
                    <tr>
                        <td> allyl laurate </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> gluconic acid lactone </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> glycolic acid </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> HMDB0000115 </td>
                    </tr>
                
                    <tr>
                        <td> α-linolenic acid </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> 3-hydroxypyruvic acid </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> benzaldehyde </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                
                    <tr>
                        <td> L-isoleucine </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> HMDB0000172 </td>
                    </tr>
                
                    <tr>
                        <td> urea </td>
                        <td> – </td>
                        <td> – </td>
                        <td> combination of nine metabolites: 100 </td>
                        <td> combination of nine metabolites: 86 </td>
                        <td> – </td>
                        <td> – </td>
                    </tr>
                

                                    </tbody>
    								</table>
    			            	</div>
    			            </div>
    					</div>
    				</div>

    			</div>



    	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



    <script type="text/javascript" src='{% static "browse/js/paper_try.js" %}'></script>

    {% endblock content %}
    