
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}
    <div class="container">
        <br>
        <div class="card">
        <div class="card-header">
          <h3>Метаболиты, выявленные в исследовании <a style="font-family: monospace;" href='{% url "PUBMED34527604" %}' target="_blank">34527604</a></h3>
        </div>
        <div class="card-body">
          <div class="container">
            <table class="compact cell-border hover stripe" id="table">
              <thead>
                <td>Метаболит</td>
                <!-- <th style="font-family: monospace;color:black !important">Comparative study</th> -->
                <td>Средняя концентрация (заболевание)</td>
                <td>Средняя концентрация (контроль)</td>
                <td>Fold change (case/control)</td>
                <td>P-value</td>
                <td>FDR</td>
                <td>VIP</td>
                <td>Выделен автором, как значимый</td>
                <td> HMDB </td> <!-- make invisible -->
              </thead>

                
                <tr>
                    <td> 12S-HHT </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 4.33991597150124 </td>
                    <td> 1.08845524517e-06 </td>
                    <td> – </td>
                    <td> 3.83535944563443 </td>
                    <td> –</td>
                    <td> HMDB0012535 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 14:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 3.68456391964361 </td>
                    <td> 1.72609354388519e-07 </td>
                    <td> – </td>
                    <td> 3.51797210108711 </td>
                    <td> –</td>
                    <td> HMDB0010379 </td>
                </tr>
            
                <tr>
                    <td> beta-Santalyl acetate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 3.37395614932333 </td>
                    <td> 1.24263920048145e-06 </td>
                    <td> – </td>
                    <td> 3.41376199119008 </td>
                    <td> –</td>
                    <td> HMDB0038024 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 16:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 3.15837230964865 </td>
                    <td> 5.05649620444054e-07 </td>
                    <td> – </td>
                    <td> 3.29052202106187 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 3-cyclohexyl-1,1-dimethylurea </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 3.12333723479935 </td>
                    <td> 1.49360145331155e-12 </td>
                    <td> – </td>
                    <td> 4.67041610936975 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> acetyl-DL-carnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.96055810664312 </td>
                    <td> 1.34209198867761e-05 </td>
                    <td> – </td>
                    <td> 2.88592843049829 </td>
                    <td> –</td>
                    <td> HMDB0240773 </td>
                </tr>
            
                <tr>
                    <td> docosatrienoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.8524934752748 </td>
                    <td> 5.10582668536452e-13 </td>
                    <td> – </td>
                    <td> 4.05925206191343 </td>
                    <td> –</td>
                    <td> HMDB0002823 </td>
                </tr>
            
                <tr>
                    <td> Plasmenyl-PC 16:0; PC(P-14:0/2:0) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.84123762854543 </td>
                    <td> 1.01420402477319e-07 </td>
                    <td> – </td>
                    <td> 3.22952783496766 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 18:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.63937213997913 </td>
                    <td> 7.16119918901602e-08 </td>
                    <td> – </td>
                    <td> 3.13626033339859 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 8Z,14Z-Eicosadienoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.4232529842682 </td>
                    <td> 0.00409610860029133 </td>
                    <td> – </td>
                    <td> 1.78518158383006 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 5-hydroxy-6E,8Z,11Z,14Z-eicosatetraenoic acid, 1,5-lactone </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.40422236241856 </td>
                    <td> 0.000212134087795656 </td>
                    <td> – </td>
                    <td> 2.66764124999277 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 18:2 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.31908375178268 </td>
                    <td> 1.76157470095402e-07 </td>
                    <td> – </td>
                    <td> 2.97134024248626 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> desmethylofloxacin </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.3050852181705 </td>
                    <td> 0.0345506743417107 </td>
                    <td> – </td>
                    <td> 1.30031935011903 </td>
                    <td> –</td>
                    <td> HMDB0251059 </td>
                </tr>
            
                <tr>
                    <td> PC 9:0; PC(4:0/5:0) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.24225942500184 </td>
                    <td> 9.40074515479541e-10 </td>
                    <td> – </td>
                    <td> 3.22786686558029 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPA 18:2; LysoPA 18:2 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.24219622982026 </td>
                    <td> 0.000719257674480684 </td>
                    <td> – </td>
                    <td> 2.27532883178852 </td>
                    <td> –</td>
                    <td> HMDB0007852 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 18:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.19834499709557 </td>
                    <td> 1.06990497903297e-06 </td>
                    <td> – </td>
                    <td> 2.74634950283784 </td>
                    <td> –</td>
                    <td> HMDB0010388 </td>
                </tr>
            
                <tr>
                    <td> LysoPE 22:6 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.18178810114067 </td>
                    <td> 1.31232559412658e-05 </td>
                    <td> – </td>
                    <td> 2.66523539933766 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 20:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.16941063502146 </td>
                    <td> 1.59449976076393e-07 </td>
                    <td> – </td>
                    <td> 2.84937372386333 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> linoleoylcarnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.13629067552972 </td>
                    <td> 1.83110703303293e-09 </td>
                    <td> – </td>
                    <td> 3.07787177500806 </td>
                    <td> –</td>
                    <td> HMDB0006469 </td>
                </tr>
            
                <tr>
                    <td> LysoPE 18:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.1068637966385 </td>
                    <td> 1.33340820016805e-07 </td>
                    <td> – </td>
                    <td> 2.84875832755173 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> dehydrocarpaine I </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.09656778493362 </td>
                    <td> 0.000707341555145053 </td>
                    <td> – </td>
                    <td> 2.09256040696559 </td>
                    <td> –</td>
                    <td> HMDB0030271 </td>
                </tr>
            
                <tr>
                    <td> TG 62:17; TG(18:4/22:6/22:7) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.07126384444396 </td>
                    <td> 1.67199681934811e-06 </td>
                    <td> – </td>
                    <td> 2.64614863820652 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 22:5 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.06129717744411 </td>
                    <td> 0.00186877345391899 </td>
                    <td> – </td>
                    <td> 1.90892499807586 </td>
                    <td> –</td>
                    <td> HMDB0240261 </td>
                </tr>
            
                <tr>
                    <td> TG 66:21; TG(22:7/22:7/22:7) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.04392738188192 </td>
                    <td> 2.28601196099626e-05 </td>
                    <td> – </td>
                    <td> 2.51878319171484 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> Plasmenyl-PE 18:0; PE(P-15:0/3:0) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.03031667095412 </td>
                    <td> 1.46918250732802e-05 </td>
                    <td> – </td>
                    <td> 2.44626519699303 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 11.alpha.-Hydroxyprogesterone .beta.-D-glucuronide </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.0245121348395 </td>
                    <td> 1.56880839928078e-09 </td>
                    <td> – </td>
                    <td> 3.00785116120021 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 16:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.01068933597183 </td>
                    <td> 2.63606866231616e-08 </td>
                    <td> – </td>
                    <td> 2.85981152052963 </td>
                    <td> –</td>
                    <td> HMDB0011477 </td>
                </tr>
            
                <tr>
                    <td> omega.-3 Arachidonic acid methyl ester </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 2.00785126957047 </td>
                    <td> 3.36869772683773e-05 </td>
                    <td> – </td>
                    <td> 2.48064596302801 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> acrolein </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.98170680549263 </td>
                    <td> 7.53572011070399e-08 </td>
                    <td> – </td>
                    <td> 2.76152342672314 </td>
                    <td> –</td>
                    <td> HMDB0041822 </td>
                </tr>
            
                <tr>
                    <td> Trp-Leu </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.9585366487882 </td>
                    <td> 1.44695803931964e-13 </td>
                    <td> – </td>
                    <td> 3.32408479724494 </td>
                    <td> –</td>
                    <td> HMDB0029087 </td>
                </tr>
            
                <tr>
                    <td> riboflavin </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.92965132194683 </td>
                    <td> 0.00797595039730827 </td>
                    <td> – </td>
                    <td> 1.65417421969296 </td>
                    <td> –</td>
                    <td> HMDB0000244 </td>
                </tr>
            
                <tr>
                    <td> 5-hexyltetrahydro-2-furanoctanoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.92224248825653 </td>
                    <td> 3.88397836346182e-07 </td>
                    <td> – </td>
                    <td> 2.71492285284439 </td>
                    <td> –</td>
                    <td> HMDB0031127 </td>
                </tr>
            
                <tr>
                    <td> Neurine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.90012693451051 </td>
                    <td> 6.77801950328638e-09 </td>
                    <td> – </td>
                    <td> 2.96205832450586 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> Trp-Glu </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.89797160494055 </td>
                    <td> 3.86313911852565e-10 </td>
                    <td> – </td>
                    <td> 2.95094126548745 </td>
                    <td> –</td>
                    <td> HMDB0029082 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 15:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.88634669943076 </td>
                    <td> 7.86359722106891e-05 </td>
                    <td> – </td>
                    <td> 2.2037508485762 </td>
                    <td> –</td>
                    <td> HMDB0010381 </td>
                </tr>
            
                <tr>
                    <td> 8-HETrE </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.88052935133694 </td>
                    <td> 0.00546855183329625 </td>
                    <td> – </td>
                    <td> 1.93830035401426 </td>
                    <td> –</td>
                    <td> HMDB0060052 </td>
                </tr>
            
                <tr>
                    <td> LysoPE 20:4 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.87893104995048 </td>
                    <td> 1.48503401488112e-07 </td>
                    <td> – </td>
                    <td> 2.65160001937102 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> PC(16:0/20:3(5Z,8Z,11Z)) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.8765567577889 </td>
                    <td> 0.00440013707205705 </td>
                    <td> – </td>
                    <td> 1.5147987206856 </td>
                    <td> –</td>
                    <td> HMDB0007980 </td>
                </tr>
            
                <tr>
                    <td> 12R-Hydroxy-5Z,8Z,10E,14Z-eicosatetraenoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.87480715763431 </td>
                    <td> 0.010517821157651 </td>
                    <td> – </td>
                    <td> 1.96496198108326 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> ormosanine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.86951671527832 </td>
                    <td> 3.7555439582928e-09 </td>
                    <td> – </td>
                    <td> 2.70808055196888 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPC 22:5 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.8479375958182 </td>
                    <td> 4.36036412742962e-05 </td>
                    <td> – </td>
                    <td> 2.27735821097202 </td>
                    <td> –</td>
                    <td> HMDB0010402 </td>
                </tr>
            
                <tr>
                    <td> L-propionylcarnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.83497421001363 </td>
                    <td> 0.000551320047109074 </td>
                    <td> – </td>
                    <td> 2.13679093593118 </td>
                    <td> –</td>
                    <td> HMDB0000824 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 20:5 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.83295866845186 </td>
                    <td> 0.0110067650896525 </td>
                    <td> – </td>
                    <td> 1.93913330347667 </td>
                    <td> –</td>
                    <td> HMDB0010397 </td>
                </tr>
            
                <tr>
                    <td> oleoyl-L-carnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.82714070871448 </td>
                    <td> 5.78776895494849e-06 </td>
                    <td> – </td>
                    <td> 2.42293049195591 </td>
                    <td> –</td>
                    <td> HMDB0005065 </td>
                </tr>
            
                <tr>
                    <td> pyruvic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.82503272097756 </td>
                    <td> 3.81066409255031e-06 </td>
                    <td> – </td>
                    <td> 2.39291756540717 </td>
                    <td> –</td>
                    <td> HMDB0000243 </td>
                </tr>
            
                <tr>
                    <td> 7-hydroxyquetiapine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.80295432467859 </td>
                    <td> 0.000163337058800147 </td>
                    <td> – </td>
                    <td> 2.15061128459584 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPC 22:6 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.78227687074397 </td>
                    <td> 0.00215328729270134 </td>
                    <td> – </td>
                    <td> 1.89952590062957 </td>
                    <td> –</td>
                    <td> HMDB0010404 </td>
                </tr>
            
                <tr>
                    <td> N-lactoyl-leucine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.75777675251559 </td>
                    <td> 0.000220883346100528 </td>
                    <td> – </td>
                    <td> 2.12781289185666 </td>
                    <td> –</td>
                    <td> HMDB0062176 </td>
                </tr>
            
                <tr>
                    <td> PC(18:3(6Z,9Z,12Z)/16:0) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.75309105423833 </td>
                    <td> 0.0123191110940223 </td>
                    <td> – </td>
                    <td> 1.64439982940534 </td>
                    <td> –</td>
                    <td> HMDB0008166 </td>
                </tr>
            
                <tr>
                    <td> germbudine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.74110860888514 </td>
                    <td> 6.39688820772226e-08 </td>
                    <td> – </td>
                    <td> 2.49943582796804 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> LysoPE 18:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.72348229819998 </td>
                    <td> 0.000116649166644495 </td>
                    <td> – </td>
                    <td> 2.12046337887958 </td>
                    <td> –</td>
                    <td> HMDB0011495 </td>
                </tr>
            
                <tr>
                    <td> ent-16b,19-Kauranediol 19-acetate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.71861711414386 </td>
                    <td> 0.00821509686552932 </td>
                    <td> – </td>
                    <td> 1.90913972370758 </td>
                    <td> –</td>
                    <td> HMDB0036801 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 20:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.71032818634388 </td>
                    <td> 9.32210502642203e-07 </td>
                    <td> – </td>
                    <td> 2.33088456901952 </td>
                    <td> –</td>
                    <td> HMDB0010394 </td>
                </tr>
            
                <tr>
                    <td> 8(9)-epoxy-5Z,11Z,14Z-eicosatrienoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.70177535588324 </td>
                    <td> 1.11085852006511e-05 </td>
                    <td> – </td>
                    <td> 2.32164132550038 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> Plasmenyl-PC 18:0; PC(P-14:0/4:0) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.69032355602554 </td>
                    <td> 4.9509352823936e-07 </td>
                    <td> – </td>
                    <td> 2.3431230251322 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> palmitoylcarnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.68461003720874 </td>
                    <td> 1.07680849199372e-06 </td>
                    <td> – </td>
                    <td> 2.32639821013507 </td>
                    <td> –</td>
                    <td> HMDB0000222 </td>
                </tr>
            
                <tr>
                    <td> (S)-Reticuline </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.68037980846255 </td>
                    <td> 0.000161834467110814 </td>
                    <td> – </td>
                    <td> 1.99913102906413 </td>
                    <td> –</td>
                    <td> HMDB0003601 </td>
                </tr>
            
                <tr>
                    <td> linoleic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.67720579829738 </td>
                    <td> 0.00617183065099263 </td>
                    <td> – </td>
                    <td> 1.72644843866208 </td>
                    <td> –</td>
                    <td> HMDB0000673 </td>
                </tr>
            
                <tr>
                    <td> 1,2-Di-(9Z,12Z,15Z-octadecatrienoyl)-sn-glycero-3-phosphocholine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.67401464212842 </td>
                    <td> 0.0053372518416751 </td>
                    <td> – </td>
                    <td> 1.53734923159061 </td>
                    <td> –</td>
                    <td> HMDB0008206 </td>
                </tr>
            
                <tr>
                    <td> adipoyl-L-carnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.66976655584588 </td>
                    <td> 0.000201235662411281 </td>
                    <td> – </td>
                    <td> 2.02441385895106 </td>
                    <td> –</td>
                    <td> HMDB0061677 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 18:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.66386951950013 </td>
                    <td> 7.0467171636835e-06 </td>
                    <td> – </td>
                    <td> 2.24064400713205 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> methyl .gamma.-linolenate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.66103755949031 </td>
                    <td> 0.00367920805479637 </td>
                    <td> – </td>
                    <td> 1.55896281278096 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> cocaine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.65408599864773 </td>
                    <td> 0.000150672303751687 </td>
                    <td> – </td>
                    <td> 2.35515304317216 </td>
                    <td> –</td>
                    <td> HMDB0015043 </td>
                </tr>
            
                <tr>
                    <td> irbesartan </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.64735215731708 </td>
                    <td> 2.69342441687241e-07 </td>
                    <td> – </td>
                    <td> 2.33659314260095 </td>
                    <td> –</td>
                    <td> HMDB0015163 </td>
                </tr>
            
                <tr>
                    <td> 11,14,17-eicosatrienoic acid, (Z,Z,Z)- </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.63875323068021 </td>
                    <td> 2.08976789300556e-05 </td>
                    <td> – </td>
                    <td> 2.12991917821648 </td>
                    <td> –</td>
                    <td> HMDB0060039 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 17:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.63013331129436 </td>
                    <td> 2.08313109684984e-05 </td>
                    <td> – </td>
                    <td> 2.02637329829434 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 1-(3-(Trifluoromethyl)phenyl)piperazine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.62237707090555 </td>
                    <td> 0.000433616461480599 </td>
                    <td> – </td>
                    <td> 1.80535608931498 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> pyroglutamic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.61742459847787 </td>
                    <td> 1.27811761461224e-05 </td>
                    <td> – </td>
                    <td> 2.15728021808745 </td>
                    <td> –</td>
                    <td> HMDB0000267 </td>
                </tr>
            
                <tr>
                    <td> drofenine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.61519171191721 </td>
                    <td> 2.68943477653489e-10 </td>
                    <td> – </td>
                    <td> 2.5294759817931 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> glutamyltryptophan </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.61397514065243 </td>
                    <td> 3.62893098656161e-05 </td>
                    <td> – </td>
                    <td> 2.32221298735851 </td>
                    <td> –</td>
                    <td> HMDB0028830 </td>
                </tr>
            
                <tr>
                    <td> 3-tert-Butyl-4-hydroxyanisole </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.61221678941704 </td>
                    <td> 0.00133458111591201 </td>
                    <td> – </td>
                    <td> 1.8857732797532 </td>
                    <td> –</td>
                    <td> HMDB0059925 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 20:3 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.60421507961373 </td>
                    <td> 0.000180204809169952 </td>
                    <td> – </td>
                    <td> 2.03967370616744 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 6-(3-Dimethylaminopropionyl)forskolin </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.58921282543386 </td>
                    <td> 0.00307579002301828 </td>
                    <td> – </td>
                    <td> 1.66051313068033 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 16:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.58672491769103 </td>
                    <td> 0.00180346931741514 </td>
                    <td> – </td>
                    <td> 1.74817905966891 </td>
                    <td> –</td>
                    <td> HMDB0006317 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 20:4 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.58649927485383 </td>
                    <td> 0.000536182622378455 </td>
                    <td> – </td>
                    <td> 1.95354855018857 </td>
                    <td> –</td>
                    <td> HMDB0010395 </td>
                </tr>
            
                <tr>
                    <td> butaprost (free acid) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.58643996466891 </td>
                    <td> 0.0274135218398232 </td>
                    <td> – </td>
                    <td> 1.48881564077236 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 4-methylumbelliferone </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.58106047679593 </td>
                    <td> 0.000123743075461906 </td>
                    <td> – </td>
                    <td> 1.95730780032861 </td>
                    <td> –</td>
                    <td> HMDB0059622 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 18:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.56989029257418 </td>
                    <td> 0.00515727946925242 </td>
                    <td> – </td>
                    <td> 1.57474393938705 </td>
                    <td> –</td>
                    <td> HMDB0010384 </td>
                </tr>
            
                <tr>
                    <td> LysoPS 20:4; LysoPS 20:4 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.5642846599823 </td>
                    <td> 2.96856980920345e-06 </td>
                    <td> – </td>
                    <td> 2.25248317132693 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> stearamide </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.5622640895388 </td>
                    <td> 0.0306879696549178 </td>
                    <td> – </td>
                    <td> 1.30387997800167 </td>
                    <td> –</td>
                    <td> HMDB0034146 </td>
                </tr>
            
                <tr>
                    <td> LysoPC 16:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.55825400548929 </td>
                    <td> 7.60311412924404e-07 </td>
                    <td> – </td>
                    <td> 2.12376007113286 </td>
                    <td> –</td>
                    <td> HMDB0010382 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 20:2 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.55229166699364 </td>
                    <td> 7.58136581872892e-06 </td>
                    <td> – </td>
                    <td> 2.01632388247895 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> chloridazone-methyl-desphenyl </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.54284292082651 </td>
                    <td> 2.19350259994785e-05 </td>
                    <td> – </td>
                    <td> 2.02576995286196 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> PC(18:2(9Z,12Z)/18:2(9Z,12Z)) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.54135185517471 </td>
                    <td> 0.0448764257271562 </td>
                    <td> – </td>
                    <td> 1.3682251073683 </td>
                    <td> –</td>
                    <td> HMDB0008138 </td>
                </tr>
            
                <tr>
                    <td> 2S-Amino-4E-octadecene-1,3S-diol </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.53675819119881 </td>
                    <td> 3.24984334092767e-06 </td>
                    <td> – </td>
                    <td> 2.00314571060425 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 9-oxoprosta-10,12Z,14E-trienoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.53107398685355 </td>
                    <td> 0.00554957639720008 </td>
                    <td> – </td>
                    <td> 1.56579060910746 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 2,2,6,7-Tetramethylbicyclo[4.3.0]nona-1(9),4-diene-7,8-diol </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.52376526205447 </td>
                    <td> 0.00291356399487708 </td>
                    <td> – </td>
                    <td> 1.57264949986037 </td>
                    <td> –</td>
                    <td> HMDB0036686 </td>
                </tr>
            
                <tr>
                    <td> methyl dihydrojasmonate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.52328822706762 </td>
                    <td> 0.00917412116423054 </td>
                    <td> – </td>
                    <td> 1.33232747896323 </td>
                    <td> –</td>
                    <td> HMDB0031740 </td>
                </tr>
            
                <tr>
                    <td> perfluoroundecanoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.52201953351852 </td>
                    <td> 0.0352163280580572 </td>
                    <td> – </td>
                    <td> 1.44845126590348 </td>
                    <td> –</td>
                    <td> HMDB0061743 </td>
                </tr>
            
                <tr>
                    <td> drostanolone </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.51943570510604 </td>
                    <td> 0.00238797321303908 </td>
                    <td> – </td>
                    <td> 1.62019521324348 </td>
                    <td> –</td>
                    <td> HMDB0014996 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 20:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.50372365197515 </td>
                    <td> 0.00480408439434248 </td>
                    <td> – </td>
                    <td> 1.65057157065689 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 3-decen-2-one </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.50241604149837 </td>
                    <td> 0.00771666136906645 </td>
                    <td> – </td>
                    <td> 1.83750073919484 </td>
                    <td> –</td>
                    <td> HMDB0031410 </td>
                </tr>
            
                <tr>
                    <td> Plasmenyl-PC 44:5; PC(P-22:0/22:5) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 1.50008864938489 </td>
                    <td> 0.000236607157467789 </td>
                    <td> – </td>
                    <td> 1.76018942779994 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> 8-isoprostaglandin E2 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.661939923260968 </td>
                    <td> 0.00126403718980375 </td>
                    <td> – </td>
                    <td> 2.01951703041286 </td>
                    <td> –</td>
                    <td> HMDB0005844 </td>
                </tr>
            
                <tr>
                    <td> hypoxanthine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.661145962986549 </td>
                    <td> 0.0011851753505705 </td>
                    <td> – </td>
                    <td> 3.08804714465351 </td>
                    <td> –</td>
                    <td> HMDB0000157 </td>
                </tr>
            
                <tr>
                    <td> 2-butyl-4-methylphenol </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.660528747179084 </td>
                    <td> 0.000777990727974539 </td>
                    <td> – </td>
                    <td> 2.27081814290744 </td>
                    <td> –</td>
                    <td> HMDB0032060 </td>
                </tr>
            
                <tr>
                    <td> AcylGlcADG 66:18; AcylGlcADG(22:6/22:6/22:6) </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.655993665829249 </td>
                    <td> 6.03870041054225e-09 </td>
                    <td> – </td>
                    <td> 2.36106557014053 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> isopropyl tiglate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.644396065452402 </td>
                    <td> 0.0020962054435272 </td>
                    <td> – </td>
                    <td> 2.08674981062873 </td>
                    <td> –</td>
                    <td> HMDB0037624 </td>
                </tr>
            
                <tr>
                    <td> indoxyl sulfate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.627435547366825 </td>
                    <td> 0.00797304173267265 </td>
                    <td> – </td>
                    <td> 2.04377031101526 </td>
                    <td> –</td>
                    <td> HMDB0000682 </td>
                </tr>
            
                <tr>
                    <td> paraxanthine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.626426277126173 </td>
                    <td> 0.027407317837155 </td>
                    <td> – </td>
                    <td> 2.25603816608248 </td>
                    <td> –</td>
                    <td> HMDB0001860 </td>
                </tr>
            
                <tr>
                    <td> decanoyl-L-Carnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.625633630862466 </td>
                    <td> 0.000767975457668185 </td>
                    <td> – </td>
                    <td> 2.34865787615955 </td>
                    <td> –</td>
                    <td> HMDB0000651 </td>
                </tr>
            
                <tr>
                    <td> octanoylcarnitine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.624033497203042 </td>
                    <td> 0.000803886844453544 </td>
                    <td> – </td>
                    <td> 2.17210665252658 </td>
                    <td> –</td>
                    <td> HMDB0000791 </td>
                </tr>
            
                <tr>
                    <td> theobromine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.603359046006333 </td>
                    <td> 0.00860491190521346 </td>
                    <td> – </td>
                    <td> 3.02718359723594 </td>
                    <td> –</td>
                    <td> HMDB0002825 </td>
                </tr>
            
                <tr>
                    <td> inosine </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.597341178570064 </td>
                    <td> 0.00152089781294404 </td>
                    <td> – </td>
                    <td> 3.24823983263551 </td>
                    <td> –</td>
                    <td> HMDB0000195 </td>
                </tr>
            
                <tr>
                    <td> 5.alpha.-Androstan-3.beta.-ol-17-one sulfate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.591121266120905 </td>
                    <td> 0.00379805682601074 </td>
                    <td> – </td>
                    <td> 2.58342365860826 </td>
                    <td> –</td>
                    <td> HMDB0062657 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 13:1 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.587980845625274 </td>
                    <td> 0.000636281388590675 </td>
                    <td> – </td>
                    <td> 1.97510929259235 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> cyclamate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.575069011817302 </td>
                    <td> 0.030554430018667 </td>
                    <td> – </td>
                    <td> 2.0720702542346 </td>
                    <td> –</td>
                    <td> HMDB0031340 </td>
                </tr>
            
                <tr>
                    <td> 1,2,3-Trihydroxybenzene </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.570497402042478 </td>
                    <td> 0.0439270706886001 </td>
                    <td> – </td>
                    <td> 2.00731705120953 </td>
                    <td> –</td>
                    <td> HMDB0013674 </td>
                </tr>
            
                <tr>
                    <td> trandolaprilat </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.566329470193296 </td>
                    <td> 0.0253946794474948 </td>
                    <td> – </td>
                    <td> 1.65583431841578 </td>
                    <td> –</td>
                    <td> HMDB0060583 </td>
                </tr>
            
                <tr>
                    <td> perfluorooctanoic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.564422784839714 </td>
                    <td> 0.00131176820751784 </td>
                    <td> – </td>
                    <td> 2.64814398996261 </td>
                    <td> –</td>
                    <td> HMDB0256329 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 11:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.562998019984327 </td>
                    <td> 2.74635490981068e-06 </td>
                    <td> – </td>
                    <td> 2.57202965708005 </td>
                    <td> –</td>
                    <td> HMDB0006202 </td>
                </tr>
            
                <tr>
                    <td> acylcarnitine 13:0 </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.557455127314932 </td>
                    <td> 0.00336344844283658 </td>
                    <td> – </td>
                    <td> 1.99169427612259 </td>
                    <td> –</td>
                    <td> – </td>
                </tr>
            
                <tr>
                    <td> O2'-4a-cyclic-tetrahydrobiopterin </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.554118905710728 </td>
                    <td> 2.89631291596081e-05 </td>
                    <td> – </td>
                    <td> 2.63073240040179 </td>
                    <td> –</td>
                    <td> HMDB0013031 </td>
                </tr>
            
                <tr>
                    <td> 3,4,5-trimethoxycinnamic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.546197769428292 </td>
                    <td> 0.00516304948072222 </td>
                    <td> – </td>
                    <td> 2.22137573975878 </td>
                    <td> –</td>
                    <td> HMDB0002511 </td>
                </tr>
            
                <tr>
                    <td> catechol </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.53984962850683 </td>
                    <td> 0.00212081424384836 </td>
                    <td> – </td>
                    <td> 2.57350850498285 </td>
                    <td> –</td>
                    <td> HMDB0000957 </td>
                </tr>
            
                <tr>
                    <td> pyrocatechol sulfate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.519449974481739 </td>
                    <td> 0.00192370214696905 </td>
                    <td> – </td>
                    <td> 2.80257394389069 </td>
                    <td> –</td>
                    <td> HMDB0059724 </td>
                </tr>
            
                <tr>
                    <td> 2-Amino-3,4-dimethylimidazo[4,5-f]quinoline </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.495636949886165 </td>
                    <td> 0.00136459055652006 </td>
                    <td> – </td>
                    <td> 2.70290376364585 </td>
                    <td> –</td>
                    <td> HMDB0029707 </td>
                </tr>
            
                <tr>
                    <td> His-Thr </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.488483219730612 </td>
                    <td> 0.00157389269906348 </td>
                    <td> – </td>
                    <td> 2.77971146751183 </td>
                    <td> –</td>
                    <td> HMDB0028895 </td>
                </tr>
            
                <tr>
                    <td> D8'-Merulinic acid A </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.481126000917012 </td>
                    <td> 0.00867988226992476 </td>
                    <td> – </td>
                    <td> 1.98847972801152 </td>
                    <td> –</td>
                    <td> HMDB0041454 </td>
                </tr>
            
                <tr>
                    <td> 2,4-dihydroxyacetophenone 5-sulfate </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.400122476344023 </td>
                    <td> 0.00556337682873384 </td>
                    <td> – </td>
                    <td> 2.17085249633365 </td>
                    <td> –</td>
                    <td> HMDB0041646 </td>
                </tr>
            
                <tr>
                    <td> perfluorohexane sulfonic acid </td>
                    <td> – </td>
                    <td> – </td>
                    <td> 0.394188303964472 </td>
                    <td> 0.000293826046236813 </td>
                    <td> – </td>
                    <td> 2.87091752116643 </td>
                    <td> –</td>
                    <td> HMDB0094700 </td>
                </tr>
            


            </table>
        </div>
        </div>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>



    <script type="text/javascript" src='{% static "browse/js/meta_try.js" %}'></script>

    {% endblock content %}

    