
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000517 L-Arginine </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED31547832" %}' target="_blank">31547832<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000517</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(2S)-2-Amino-5-(carbamimidamido)pentanoic acid</h6>
<h6>(2S)-2-Amino-5-guanidinopentanoic acid</h6>
<h6>(S)-2-Amino-5-guanidinopentanoic acid</h6>
<h6>(S)-2-Amino-5-guanidinovaleric acid</h6>
<h6>Arg</h6>
<h6>Arginine</h6>
<h6>L-(+)-Arginine</h6>
<h6>L-Arg</h6>
<h6>L-Arginin</h6>
<h6>R</h6>
<h6>(2S)-2-Amino-5-(carbamimidamido)pentanoate</h6>
<h6>(2S)-2-Amino-5-guanidinopentanoate</h6>
<h6>(S)-2-Amino-5-guanidinopentanoate</h6>
<h6>(S)-2-Amino-5-guanidinovalerate</h6>
<h6>(S)-2-Amino-5-[(aminoiminomethyl)amino]-pentanoate</h6>
<h6>(S)-2-Amino-5-[(aminoiminomethyl)amino]-pentanoic acid</h6>
<h6>(S)-2-Amino-5-[(aminoiminomethyl)amino]pentanoate</h6>
<h6>(S)-2-Amino-5-[(aminoiminomethyl)amino]pentanoic acid</h6>
<h6>2-Amino-5-guanidinovalerate</h6>
<h6>2-Amino-5-guanidinovaleric acid</h6>
<h6>5-[(Aminoiminomethyl)amino]-L-norvaline</h6>
<h6>L-a-Amino-D-guanidinovalerate</h6>
<h6>L-a-Amino-D-guanidinovaleric acid</h6>
<h6>L-alpha-Amino-delta-guanidinovalerate</h6>
<h6>L-alpha-Amino-delta-guanidinovaleric acid</h6>
<h6>N5-(Aminoiminomethyl)-L-ornithine</h6>
<h6>DL-Arginine acetate, monohydrate</h6>
<h6>L-Isomer arginine</h6>
<h6>Monohydrate DL-arginine acetate</h6>
<h6>L Arginine</h6>
<h6>Arginine, L isomer</h6>
<h6>Arginine, L-isomer</h6>
<h6>Hydrochloride, arginine</h6>
<h6>Arginine hydrochloride</h6>
<h6>DL Arginine acetate, monohydrate</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C6H14N4O2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2S)-2-amino-5-carbamimidamidopentanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">74-79-3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">174.111675712</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Carboxylic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Amino acids, peptides, and analogues</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>68-422 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>125.6 (37.3)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Down syndrome pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>132.7 (50.7)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>73.0 (6.0-140.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;1-17 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>19-103 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>N-Acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>35-178 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>N-Acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>44.500-256 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>N-acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>45.2 (33.2-63.4) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.8-94.4 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Citrullinemia Type I</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>101.6 +/- 39.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Chronic renal failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>27 (12-58) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>110.97 +/- 26.59  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetuses with trisomy 18</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122.82 +/- 39.7  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>113.4 (16.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Early preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>124.2 (28.8)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>45 (23.0 - 67.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Permanent Intestinal Failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>99 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>24-47 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>18-156 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12-59 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>82.6(67.7-97.9) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>125.77(25.5) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>118.19(17.47) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with reduced ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>136.3 (55.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Late-onset preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>131.2 (35.9)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>91.34 +/- 13.1 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>38 (11-121) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>148-315 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Citrullinemia type II, neonatal-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>35 +/- 12 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Cutis laxa, autosomal recessive, type IIIA</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75.9 +/- 15.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Duchenne Muscular Dystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>30 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>108.0 +/- 21.6 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>117.9 +/- 20.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1250.0 (1000.0-1500.0) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>218.0 +/- 7.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>907 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>252-1579.200 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>88000 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>argininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>21.5 +/- 4.8 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00000964 +/- 0.000001244 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>16.6 +/- 6.3 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6.0 +/- 1.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>58.78 (0.0-117.56) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperargininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>78 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>15.58 +/- 5.74 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>18.89 +/- 1.07 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>14.27 +/- 1.60 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>120-221 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Hyperlysinemia I, familial</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.400-988.300 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.6 (2.5-10.8) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>500.0 (200.0-800.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2-153 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.635-9.216 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperdibasic aminoaciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>488.6 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.490-10.644 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Hyperdibasic aminoaciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>35.102 +/- 30.706 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1941.3 +/- 122.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>39.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.8 +/- 3.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.3 +/- 10.6 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.5 +/- 6.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Aminoaciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.985-10.644 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Dibasic Amino Aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.635-11.747 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dibasic Amino Aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 +/- 0.21 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13.2327 +/- 7.0061 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.8466 +/- 3.7571 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>54-8426 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperlysinuria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>129.5 +/- 30 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10-66 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>101 (72.5-112) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14-140 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6-140 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80 +/- 60 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>99.00 +/- 22.8 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>23-86 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50-100 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80 (60.0 - 100) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26-155 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12-112 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50.0 +/- 20.0 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>92.0 +/- 19.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84.0 +/- 20.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89.0 +/- 26.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75.0 +/- 24.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>81.4 +/- 19.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>110.11(21.24) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75 +/- 24 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>87.4(71.4-103.9) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>77 +/- 20 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>28-99 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>76.6 +/- 20.9 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>111.6 (82.2-140.9) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40-160 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89 +/- 26 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40.00-130.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>113.6 +/- 14.6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>218.0 +/- 6.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>63.45 (40.0 - 86.9) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>17-119 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>21-99 uM</td>
      <td>Infant (1 - 3 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>32-142 uM</td>
      <td>Children (3 months - 6 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>44-130 uM</td>
      <td>Children (6 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>9.33 +/- 0.81 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>20.2 +/- 6.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>24.2 +/-  5.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>30-Oct uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>18.3 +/- 3.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6000-29000 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>20.5 (15.7 - 25.3) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>17.9 +/- 5.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>24.7 (18.3-31.1) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>13-35 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>8-29.4 uM</td>
      <td>Children (0 - 10 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6.8-32.6 uM</td>
      <td>Adolescent (&gt;11 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>2659.763 (1530.799-3788.727) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>4898.556 (2353.603-7443.509) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>7003.404 (4209.696-9797.112) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>60 +/- 70 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>24.89 +/- 6.78 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>9.00 +/- 2.75 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>6.5 +/- 1.6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5.2 +/- 1.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>7.5 +/- 2.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>28.9 +/- 20.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>35.73  +/-  17.33 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5.9 +/- 1.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Sweat</td>
      <td>&lt; 10 uM</td>
      <td>Adult (60 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Sweat</td>
      <td>&lt; 10 uM</td>
      <td>Adult (40 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.37 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.18 +/- 7.91 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;15.16 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>20.35 +/- 13.57 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1-6 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>22.61 +/- 192.20 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;17.31 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.82-30.52 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.40 +/- 6.91 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14.74 +/- 4.52 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-7 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.363 +/- 0.584 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;4.02-22.97 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;12.90 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 17.64 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 14.02 umol/mmol creatinine</td>
      <td>Infant (1 - 6 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 14.02 umol/mmol creatinine</td>
      <td>Infant (6 months - &lt;1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.69 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 10.51 umol/mmol creatinine</td>
      <td>Children (1 - 2 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 11.76 umol/mmol creatinine</td>
      <td>Children (2 - 4 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 9.38 umol/mmol creatinine</td>
      <td>Children (4 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 6.90 umol/mmol creatinine</td>
      <td>Adolescent (13 - 21 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0 - 6.90 umol/mmol creatinine</td>
      <td>Adult (&gt;21 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.83 +/- 0.43 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 +/- 1.15 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.35 +/- 0.89 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.367 +/- 0.907 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.13-63.34 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0133 +/- 1.167 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.5 (2.0-6.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>35.855 +/- 25.427 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.96 +/- 1.77 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.4 (3.2-14.6) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.363 +/- 0.584 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.6 (3.8-18.6) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt; 1.0 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;1.0 umol/mmol creatinine</td>
      <td>Infant (1 - 6 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.26-44.68 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;1.0 umol/mmol creatinine</td>
      <td>Infant (6 months - &lt;1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.2711 +/- 7.2472 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 (1.5-2.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-31 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.58-27.15 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.515 (0.395 - 2.632) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>68-422 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>125.6 (37.3)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Down syndrome pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>132.7 (50.7)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>73.0 (6.0-140.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;1-17 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>19-103 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>N-Acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>35-178 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>N-Acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>44.500-256 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>N-acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>45.2 (33.2-63.4) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.8-94.4 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Citrullinemia Type I</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>101.6 +/- 39.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Chronic renal failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>27 (12-58) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>110.97 +/- 26.59  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetuses with trisomy 18</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122.82 +/- 39.7  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>113.4 (16.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Early preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>124.2 (28.8)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>45 (23.0 - 67.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Permanent Intestinal Failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>99 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>24-47 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>18-156 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Narp Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12-59 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>82.6(67.7-97.9) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>125.77(25.5) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>118.19(17.47) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with reduced ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>136.3 (55.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Late-onset preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>131.2 (35.9)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>91.34 +/- 13.1 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>38 (11-121) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>148-315 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Citrullinemia type II, neonatal-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>35 +/- 12 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Cutis laxa, autosomal recessive, type IIIA</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75.9 +/- 15.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Duchenne Muscular Dystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>30 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>108.0 +/- 21.6 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>117.9 +/- 20.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1250.0 (1000.0-1500.0) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>218.0 +/- 7.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>907 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>252-1579.200 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>88000 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>argininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>21.5 +/- 4.8 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00000964 +/- 0.000001244 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>16.6 +/- 6.3 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6.0 +/- 1.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>58.78 (0.0-117.56) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperargininemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>78 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Argininemia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>15.58 +/- 5.74 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>18.89 +/- 1.07 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>14.27 +/- 1.60 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>120-221 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Hyperlysinemia I, familial</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.400-988.300 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.6 (2.5-10.8) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>500.0 (200.0-800.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2-153 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.635-9.216 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperdibasic aminoaciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>488.6 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cystinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.490-10.644 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Hyperdibasic aminoaciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>35.102 +/- 30.706 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1941.3 +/- 122.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>39.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.8 +/- 3.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.3 +/- 10.6 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.5 +/- 6.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Aminoaciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.985-10.644 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Dibasic Amino Aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.635-11.747 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dibasic Amino Aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 +/- 0.21 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13.2327 +/- 7.0061 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.8466 +/- 3.7571 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>54-8426 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperlysinuria</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    