
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0011564 MG(16:0/0:0/0:0) </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED26866403" %}' target="_blank">26866403<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0011564</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(2S)-1-O-Hexadecanoylglycerol</h6>
<h6>(2S)-1-O-Palmitoylglycerol</h6>
<h6>(S)-1-Monopalmitin</h6>
<h6>(S)-2,3-Dihydroxypropyl N-hexadecanoate</h6>
<h6>MG (16:0/0:0/0:0)</h6>
<h6>sn-1-Palmitoylmonoglyceride</h6>
<h6>sn-1-Palmitoylmonoglycerol</h6>
<h6>(S)-2,3-Dihydroxypropyl N-hexadecanoic acid</h6>
<h6>1-Glyceryl hexadecanoate</h6>
<h6>Palmitoyl glycerol, (+,-)-isomer</h6>
<h6>rac-1(3)-Palmitoyl glycerol</h6>
<h6>1-Monohexadecanoylglycerol</h6>
<h6>1-Monohexadecanoyl-rac-glycerol</h6>
<h6>1-Monopalmitin</h6>
<h6>Palmitoyl glycerol</h6>
<h6>Palmitoyl glycerol, hexadecanoic-1-(14)C-labeled CPD, (R)-isomer</h6>
<h6>1-Hexadecanoylglycerol</h6>
<h6>1-Palmitoylglycerol</h6>
<h6>2,3-Dihydroxypropyl hexadecanoate</h6>
<h6>alpha-Monopalmitin</h6>
<h6>Glycerol 1-monopalmitate</h6>
<h6>Glycerol 1-palmitate</h6>
<h6>Glycerol 3-palmitate</h6>
<h6>Glyceryl palmitate</h6>
<h6>Hexadecanoic acid, 2,3-dihydroxypropyl ester</h6>
<h6>Palmitic acid alpha-monoglyceride</h6>
<h6>Palmitin, 1-mono</h6>
<h6>Glycerol 1-hexadecanoic acid</h6>
<h6>2,3-Dihydroxypropyl hexadecanoic acid</h6>
<h6>a-Monopalmitin</h6>
<h6>Α-monopalmitin</h6>
<h6>Glycerol 1-monopalmitic acid</h6>
<h6>Glycerol 1-palmitic acid</h6>
<h6>Glycerol 3-palmitic acid</h6>
<h6>Glyceryl palmitic acid</h6>
<h6>Hexadecanoate, 2,3-dihydroxypropyl ester</h6>
<h6>Palmitate a-monoglyceride</h6>
<h6>Palmitate alpha-monoglyceride</h6>
<h6>Palmitate α-monoglyceride</h6>
<h6>Palmitic acid a-monoglyceride</h6>
<h6>Palmitic acid α-monoglyceride</h6>
<h6>(+-)-2,3-Dihydroxypropyl hexadecanoate</h6>
<h6>(1)-2,3-Dihydroxypropyl palmitate</h6>
<h6>(C16-C22)Trialkyl glyceride</h6>
<h6>(S)-2,3-Dihydroxypropyl palmitate</h6>
<h6>1,2,3-Propanetriol 1-hexandecanoyl ester</h6>
<h6>1-Hexadecanoyl-sn-glycerol</h6>
<h6>1-mono-Palmitin</h6>
<h6>1-MONOPALMITOYL-rac-glycerol</h6>
<h6>1-Monopalmitoylglycerol</h6>
<h6>1-O-Hexadecanoylglycerol</h6>
<h6>2,3-Dihydroxypropyl ester(.+/-.)-hexadecanoic acid</h6>
<h6>2,3-Dihydroxypropyl palmitate</h6>
<h6>alpha -Monopalmitin</h6>
<h6>DL-alpha-Palmitin</h6>
<h6>Glycerol 1-monohexadecanoate</h6>
<h6>Glycerol alpha -palmitate</h6>
<h6>Glycerol palmitate</h6>
<h6>Glyceryl monopalmitate</h6>
<h6>Hexadecanoic acid, 2,3-bishydroxy propyl ester</h6>
<h6>Hexadexanoic acid 2,3-dihydroxypropyl ester</h6>
<h6>L-(-)-alpha-Monopalmitin</h6>
<h6>Monopalmitin</h6>
<h6>Palmitic acid alpha -monoglyceride</h6>
<h6>Palmitin, 1-mono- (8ci)</h6>
<h6>rac-1-Palmitoylglycerol</h6>
<h6>rac-Glycerol 1-palmitate</h6>
<h6>Glycerol 1-hexadecanoate</h6>
<h6>(±)-1-hexadecanoylglycerol</h6>
<h6>(±)-1-monopalmitin</h6>
<h6>(±)-1-O-hexadecanoylglycerol</h6>
<h6>1-Glycerol hexadecanoates</h6>
<h6>1-Glyceryl monohexadecanoate</h6>
<h6>1-O-Palmitoyl-DL-glycerol</h6>
<h6>1-O-Palmitoylglycerol</h6>
<h6>1-Palmitoyl-rac-glycerol</h6>
<h6>DL-1-Monopalmitin</h6>
<h6>Hexadecanoic acid alpha-monoglyceride</h6>
<h6>Hexadecanoic acid α-monoglyceride</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C19H38O4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2S)-2,3-dihydroxypropyl hexadecanoate</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">32899-41-5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">330.277009704</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Glycerolipids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Monoradylglycerols</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>146 +/- 97 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>313.0 (54.0-863.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alcohol intoxication</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    