
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0002183 Docosahexaenoic acid </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED33066483" %}' target="_blank">33066483<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0002183</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-Docosahexaenoic acid</h6>
<h6>22:6(N-3)</h6>
<h6>22:6-4, 7,10,13,16,19</h6>
<h6>4,7,10,13,16,19-Docosahexaenoic acid</h6>
<h6>all-cis-4,7,10,13,16,19-Docosahexaenoic acid</h6>
<h6>all-cis-DHA</h6>
<h6>Cervonic acid</h6>
<h6>DHA</h6>
<h6>Doconexent</h6>
<h6>DOCOSA-4,7,10,13,16,19-hexaenoIC ACID</h6>
<h6>Docosahexaenoate</h6>
<h6>4Z,7Z,10Z,13Z,16Z,19Z-Docosahexaenoic acid</h6>
<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-Docosa-4,7,10,13,16,19-hexaenoic acid</h6>
<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-Docosahexaenoate</h6>
<h6>4,7,10,13,16,19-Docosahexaenoate</h6>
<h6>all-cis-4,7,10,13,16,19-Docosahexaenoate</h6>
<h6>Cervonate</h6>
<h6>DOCOSA-4,7,10,13,16,19-hexaenoate</h6>
<h6>4Z,7Z,10Z,13Z,16Z,19Z-Docosahexaenoate</h6>
<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-Docosa-4,7,10,13,16,19-hexaenoate</h6>
<h6>all-Z-Docosahexaenoate</h6>
<h6>all-Z-Docosahexaenoic acid</h6>
<h6>cis-4,7,10,13,16,19-Docosahexanoate</h6>
<h6>cis-4,7,10,13,16,19-Docosahexanoic acid</h6>
<h6>Doconexento</h6>
<h6>Doconexentum</h6>
<h6>Doxonexent</h6>
<h6>Acids, docosahexaenoic</h6>
<h6>Acids, docosahexenoic</h6>
<h6>Docosahexaenoic acid, 4,7,10,13,16,19-(all-Z-isomer)</h6>
<h6>Docosahexaenoic acid (all-Z isomer)</h6>
<h6>Docosahexaenoic acid, 4,7,10,13,16,19-isomer</h6>
<h6>Efalex</h6>
<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-4,7,10,13,16,19-Docosahexaenoic acid</h6>
<h6>(4Z,7Z,10Z,13Z,16Z,19Z)-Docosahexenoic acid</h6>
<h6>(all-Z)-4,7,10,13,16,19-Docosahexaenoic acid</h6>
<h6>4-cis,7-cis,10-cis,13-cis,16-cis,19-cis-Docosahexaenoic acid</h6>
<h6>FA(22:6(4Z,7Z,10Z,13Z,16Z,19Z))</h6>
<h6>FA(22:6n3)</h6>
<h6>delta4,7,10,13,16,19-Docosahexaenoic acid</h6>
<h6>Δ4,7,10,13,16,19-docosahexaenoic acid</h6>
<h6>Docosahexaenoic acid</h6>
<h6>Choline docosahexaenoate</h6>
<h6>Choline docosahexaenoic acid</h6>
<h6>Docosahexaenoylcholine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C22H32O2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(4Z,7Z,10Z,13Z,16Z,19Z)-docosa-4,7,10,13,16,19-hexaenoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">6217-54-5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">328.240230268</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Fatty Acyls</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Fatty acids and conjugates</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>64.7 +/- 39.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>56.6 +/- 36.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Essential hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.0 +/- 39.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Essential hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.66 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122.36 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>135.43 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Rhizomelic chondrodysplasia punctata</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>144.700-160.300 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64.3 +/- 28.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Isovaleric acidemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>146.733 +/- 61.798 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Depression</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.43 +/- 0.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Stroke</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.4 +/- 9.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Thyroid cancer</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>94.2 +/- 31.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.66 +/- 3.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>90.9 +/- 21.6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>98.7 +/- 41.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.3 +/- 1.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.9 +/- 0.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.777 +/- 0.796 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.990 +/- 0.009 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>128.5 +/- 46.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>103.504 +/- 30.442 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>100.460 +/- 24.354 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>66.973 +/- 21.310 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00347 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00391 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00414 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00461 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>60.885 +/- 12.177 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>154.252 +/- 47.155 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>165.607 +/- 68.496 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>189.352 +/- 70.0177 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>255.260 +/- 75.162 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>420 +/- 110 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.15 +/- 0.015 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.5 +/- 6.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>64.7 +/- 39.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>56.6 +/- 36.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Essential hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.0 +/- 39.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Essential hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.66 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122.36 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>135.43 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Rhizomelic chondrodysplasia punctata</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>144.700-160.300 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64.3 +/- 28.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Isovaleric acidemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>146.733 +/- 61.798 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Depression</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.43 +/- 0.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Stroke</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.4 +/- 9.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Thyroid cancer</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    