
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0028722 Arginylvaline </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0028722</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>Arginyl-valine</h6>
<h6>L-Arg-L-val</h6>
<h6>RV</h6>
<h6>Arg-val</h6>
<h6>Arginine valine dipeptide</h6>
<h6>Arginine-valine dipeptide</h6>
<h6>L-Arginyl-L-valine</h6>
<h6>N-Arginylvaline</h6>
<h6>N-L-Arginyl-L-valine</h6>
<h6>R-V Dipeptide</h6>
<h6>RV Dipeptide</h6>
<h6>Arginylvaline</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C11H23N5O3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2S)-2-[(2S)-2-amino-5-carbamimidamidopentanamido]-3-methylbutanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">2896-20-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">273.180089621</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Carboxylic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Amino acids, peptides, and analogues</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>10.7 +/- 1.8 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12.0 +/- 1.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Chronic renal failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12.4 +/- 2.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Continuous ambulatory peritoneal dialysis (CAPD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>11.0 +/- 2.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hemodialysis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>11.22 +/- 1.96 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Parkinson's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>93.8 +/- 23.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Multiple sclerosis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.0 +/- 0.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Kidney disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.9 +/- 5.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>150.927 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Hyperzincaemia and Hypercalprotectinaemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>166-174.4 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Hyperzincemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.516 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Acrodermatitis enteropathica</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.6 +/- 1.6  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.83 +/- 1.38 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Not Specified</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>4.739 +/- 0.764 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5.810 +/- 4.281 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.446 +/- 3.0577 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.6 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Hyperzincemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.619 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Acrodermatitis enteropathica</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12.7 +/- 2.1 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.08838(0.08087-0.09589) uM</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.10340(0.09964-0.10731) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>13.5 +/- 2.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16.8 +/- 6.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>13.6 +/- 2.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.2 (11.1 - 17.6) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>13.0 (10.0 - 17.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.0 +/- 2.20 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16.7 +/- 3.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.00-17.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.00-17.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.9 - 16.8 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.937-18.0403 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3.1 +/- 3.1  uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.538 +/- 0.847 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.49 (0.37-0.60) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.742 +/- 0.58 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.00015-0.00167 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.00043-0.00151 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.00041-0.00358 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.00024-0.00124 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.00024-0.00486 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.428-1.0702 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>133.315 +/- 115.428 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>123.989 +/- 212.662 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.905 +/- 0.612 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.206 +/- 0.187 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.162 +/- 0.225 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.176 +/- 0.0703 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.232 +/- 0.252 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.80291(0.67027-0.94439) umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.66850(0.48281-0.88426) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.460 (0.058-0.948) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.52 +/- 0.25 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.35 +/- 0.20 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.400-1.530 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.355 +/- 27.134 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.28 (0.34-3.94) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>152.884-1223.0733 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>10.7 +/- 1.8 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12.0 +/- 1.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Chronic renal failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>12.4 +/- 2.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Continuous ambulatory peritoneal dialysis (CAPD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>11.0 +/- 2.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hemodialysis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>11.22 +/- 1.96 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Parkinson's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>93.8 +/- 23.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Multiple sclerosis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.0 +/- 0.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Kidney disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.9 +/- 5.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hypertension</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>150.927 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Hyperzincaemia and Hypercalprotectinaemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>166-174.4 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Hyperzincemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.516 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Acrodermatitis enteropathica</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.6 +/- 1.6  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.83 +/- 1.38 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Not Specified</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>4.739 +/- 0.764 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5.810 +/- 4.281 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.446 +/- 3.0577 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Oral squamous cell carcinoma</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.6 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Male</td>
      <td>Hyperzincemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.619 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Acrodermatitis enteropathica</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    