
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000220 Palmitic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED34858060" %}' target="_blank">34858060<a>, <a style="font-family: monospace;" href='{% url "PUBMED33066483" %}' target="_blank">33066483<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000220</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1-Hexyldecanoic acid</h6>
<h6>1-Pentadecanecarboxylic acid</h6>
<h6>16:00</h6>
<h6>C16</h6>
<h6>C16 Fatty acid</h6>
<h6>C16:0</h6>
<h6>Cetylic acid</h6>
<h6>CH3-[CH2]14-COOH</h6>
<h6>FA 16:0</h6>
<h6>Hexadecanoate</h6>
<h6>Hexadecoic acid</h6>
<h6>Hexadecylic acid</h6>
<h6>Hexaectylic acid</h6>
<h6>N-Hexadecanoic acid</h6>
<h6>N-Hexadecoic acid</h6>
<h6>Palmitate</h6>
<h6>Palmitinic acid</h6>
<h6>Palmitinsaeure</h6>
<h6>Pentadecanecarboxylic acid</h6>
<h6>1-Hexyldecanoate</h6>
<h6>1-Pentadecanecarboxylate</h6>
<h6>Cetylate</h6>
<h6>Hexadecanoic acid</h6>
<h6>Hexadecoate</h6>
<h6>Hexadecylate</h6>
<h6>Hexaectylate</h6>
<h6>N-Hexadecanoate</h6>
<h6>N-Hexadecoate</h6>
<h6>Palmitinate</h6>
<h6>Pentadecanecarboxylate</h6>
<h6>Edenor C16</h6>
<h6>Emersol 140</h6>
<h6>Emersol 143</h6>
<h6>Glycon p-45</h6>
<h6>Hexadecanoate (N-C16:0)</h6>
<h6>Hexadecanoic acid palmitic acid</h6>
<h6>Hydrofol</h6>
<h6>Hydrofol acid 1690</h6>
<h6>Hystrene 8016</h6>
<h6>Hystrene 9016</h6>
<h6>Industrene 4516</h6>
<h6>Kortacid 1698</h6>
<h6>Loxiol ep 278</h6>
<h6>Lunac p 95</h6>
<h6>Lunac p 95KC</h6>
<h6>Lunac p 98</h6>
<h6>Palmitoate</h6>
<h6>Palmitoic acid</h6>
<h6>PAM</h6>
<h6>PLM</h6>
<h6>Prifac 2960</h6>
<h6>Prifrac 2960</h6>
<h6>Pristerene 4934</h6>
<h6>Univol u332</h6>
<h6>Acid, hexadecanoic</h6>
<h6>Acid, palmitic</h6>
<h6>FA(16:0)</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C16H32O2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">hexadecanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">57-10-3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">256.240230268</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Fatty Acyls</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Fatty acids and conjugates</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>22.852 +/- 19.074 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.703 +/- 11.558 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122 +/- 48 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>66.010 +/- 9.879 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1060.743 +/- 35.0981 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>25.0 +/- 2.8 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1064.643 +/- 50.697 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>25.5 +/- 2.8 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1052.943 +/- 54.597 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.7 +/- 4.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1029.544 +/- 62.397 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>52 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>53 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>74 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>95 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>114 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>129 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>131 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>147 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22.3-31.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>347 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22.7-32.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>366 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>424 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1415.468 +/- 323.410 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1215.798 +/- 212.0316 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2500 +/- 630 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2360 +/- 430 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>63.8 +/- 0.400 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>30.49 +/- 2.64 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>18.0 +/- 12.0  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>122.219 +/- 200.254 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>421.957 +/- 602.517 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>11.09 +/- 2.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.903 +/- 12.225 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.0-8.7 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.5-7.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4-10.5 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.8 (2.6-32.7)  umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.0-9.3 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.4 (0.1-7.3) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.46-1.1  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11 (6.0-23) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.30 +/- 0.09 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.2 (6.0-26.1) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.2 (0.8-8.2) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.4 (0.1-3.8) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.45-0.73  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.7(2.6-24.3) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>22.852 +/- 19.074 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.703 +/- 11.558 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    