
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000201 L-Acetylcarnitine </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED31547832" %}' target="_blank">31547832<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000201</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(-)-Acetylcarnitine</h6>
<h6>(R)-Acetylcarnitine</h6>
<h6>Acetyl-L-(-)-carnitine</h6>
<h6>Acetyl-L-carnitine</h6>
<h6>L-Carnitine acetyl ester</h6>
<h6>L-O-Acetylcarnitine</h6>
<h6>O-Acetyl-(R)-carnitine</h6>
<h6>R-Acetylcarnitine</h6>
<h6>L-Acetylcarnitine</h6>
<h6>Branigen</h6>
<h6>Levocarnitine acetyl</h6>
<h6>Acetyl carnitine</h6>
<h6>Carnitine, acetyl</h6>
<h6>Alcar</h6>
<h6>Acetyl L carnitine</h6>
<h6>Acetylcarnitine, (R)-isomer</h6>
<h6>Medosan</h6>
<h6>ALC</h6>
<h6>3-(Acetyloxy)-4-(trimethylammonio)butanoate</h6>
<h6>Acetyl-DL-carnitine</h6>
<h6>Acetylcarnitine</h6>
<h6>DL-O-Acetylcarnitine</h6>
<h6>3-(Acetyloxy)-4-(trimethylammonio)butanoic acid</h6>
<h6>(+-)-Acetylcarnitine</h6>
<h6>Acetyl-carnitine</h6>
<h6>ALCAR</h6>
<h6>Nicetile</h6>
<h6>O-Acetyl-L-carnitine</h6>
<h6>O-Acetylcarnitine</h6>
<h6>(3R)-3-Acetyloxy-4-(trimethylazaniumyl)butanoate</h6>
<h6>C2 Carnitine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C9H18NO4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(3R)-3-(acetyloxy)-4-(trimethylazaniumyl)butanoate</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">3040-38-8</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">204.123583069</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Fatty Acyls</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Fatty acid esters</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>26.700 +/- 9.700 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>short-chain L-3-hydroxyacyl-CoA dehydrogenase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>27.740 +/- 9.800 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>3-Hydroxyacyl-CoA dehydrogenase deficiency (SCHAD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.400 +/- 9.700 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Short-chain L-3-hydroxyacyl-CoA dehydrogenase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.83 +/- 4.08 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Acetaminophen overdose</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.5022 (2.2864)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10.28(3.49) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>800 +/- 200 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Methylcrotonyl-CoA Carboxylase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.316 (0.091-0.760) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Very long-chain acyl-CoA dehydrogenase deficiency (vLCAD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.82 +/- 3.64 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.79 +/- 2.28 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.443 +/- 12.772 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.5552 +/- 13.7484 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.3512 +/- 10.4433 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.48 +/- 2.15 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16.540 +/- 3.340 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.00-12.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.57 (2.91-4.48) uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.09 +/- 5.83 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.30 +/- 0.81 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.26 (5.14-7.83) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.05(3.22) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.00-12.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.2 +/- 0.6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.7 +/- 0.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.56 +/- 2.26 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.90 (2.48-8.62) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>10.5 +/- 4.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.322 +/- 0.148 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>0.69 +/- 0.33 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>0.39 +/- 0.2 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.973 +/- 0.002 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.843 +/- 0.441 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.955 +/- 0.442 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.53 +/- 1.23 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.68 +/- 0.780 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.38-1.86 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.85 +/- 0.38 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.92 +/- 0.39 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.468 +/- 3.521 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 (0.4-5.9) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.8 (0.6-7.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.2058 +/- 6.0635 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.928 +/- 0.2829 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>26.700 +/- 9.700 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>short-chain L-3-hydroxyacyl-CoA dehydrogenase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>27.740 +/- 9.800 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>3-Hydroxyacyl-CoA dehydrogenase deficiency (SCHAD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.400 +/- 9.700 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Short-chain L-3-hydroxyacyl-CoA dehydrogenase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.83 +/- 4.08 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Acetaminophen overdose</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.5022 (2.2864)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10.28(3.49) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>800 +/- 200 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Methylcrotonyl-CoA Carboxylase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.316 (0.091-0.760) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Very long-chain acyl-CoA dehydrogenase deficiency (vLCAD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.82 +/- 3.64 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.79 +/- 2.28 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.443 +/- 12.772 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.5552 +/- 13.7484 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.3512 +/- 10.4433 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    