
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001933 Furosemide </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001933</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-Furfurylamino-4-chloro-5-sulfamoylbenzoic acid</h6>
<h6>4-Chloro-5-sulfamoyl-N-furfuryl-anthranilic acid</h6>
<h6>4-Chloro-N-(2-furylmethyl)-5-sulfamoylanthranilic acid</h6>
<h6>4-Chloro-N-furfuryl-5-sulfamoylanthranilic acid</h6>
<h6>Frusemide</h6>
<h6>Lasix</h6>
<h6>2-Furfurylamino-4-chloro-5-sulfamoylbenzoate</h6>
<h6>2-Furfurylamino-4-chloro-5-sulphamoylbenzoate</h6>
<h6>2-Furfurylamino-4-chloro-5-sulphamoylbenzoic acid</h6>
<h6>4-Chloro-5-sulfamoyl-N-furfuryl-anthranilate</h6>
<h6>4-Chloro-5-sulphamoyl-N-furfuryl-anthranilate</h6>
<h6>4-Chloro-5-sulphamoyl-N-furfuryl-anthranilic acid</h6>
<h6>4-Chloro-N-(2-furylmethyl)-5-sulfamoylanthranilate</h6>
<h6>4-Chloro-N-(2-furylmethyl)-5-sulphamoylanthranilate</h6>
<h6>4-Chloro-N-(2-furylmethyl)-5-sulphamoylanthranilic acid</h6>
<h6>4-Chloro-N-furfuryl-5-sulfamoylanthranilate</h6>
<h6>4-Chloro-N-furfuryl-5-sulphamoylanthranilate</h6>
<h6>4-Chloro-N-furfuryl-5-sulphamoylanthranilic acid</h6>
<h6>Acetic acid potassium salt</h6>
<h6>Aisemide</h6>
<h6>Aldalix</h6>
<h6>Aldic</h6>
<h6>Aluzine</h6>
<h6>Anfuramaide</h6>
<h6>Apo-frusemide</h6>
<h6>Apo-furosemide</h6>
<h6>Aquarid</h6>
<h6>Aquasin</h6>
<h6>Arasemide</h6>
<h6>Beronald</h6>
<h6>Bioretic</h6>
<h6>Cetasix</h6>
<h6>Depix</h6>
<h6>Desal</h6>
<h6>Desdemin</h6>
<h6>Dirine</h6>
<h6>Disal</h6>
<h6>Discoid</h6>
<h6>Disemide</h6>
<h6>Diural</h6>
<h6>Diurapid</h6>
<h6>Diuretic salt</h6>
<h6>Diurin</h6>
<h6>Diurolasa</h6>
<h6>Diusemide</h6>
<h6>Diusil</h6>
<h6>Diuzol</h6>
<h6>Dranex</h6>
<h6>Dryptal</h6>
<h6>Durafurid</h6>
<h6>Edemid</h6>
<h6>Edenol</h6>
<h6>Eliur</h6>
<h6>Endural</h6>
<h6>Errolon</h6>
<h6>Eutensin</h6>
<h6>Farsix</h6>
<h6>Fluidrol</h6>
<h6>Fluss</h6>
<h6>Franyl</h6>
<h6>Frumex</h6>
<h6>Frumide</h6>
<h6>Frumil</h6>
<h6>Frusedan</h6>
<h6>Frusema</h6>
<h6>Frusemid</h6>
<h6>Frusemin</h6>
<h6>Frusenex</h6>
<h6>Frusetic</h6>
<h6>Frusid</h6>
<h6>Fulsix</h6>
<h6>Fuluvamide</h6>
<h6>Fuluvamine</h6>
<h6>Furanthril</h6>
<h6>Furanthryl</h6>
<h6>Furantril</h6>
<h6>Furanturil</h6>
<h6>Furesis</h6>
<h6>Furetic</h6>
<h6>Furex</h6>
<h6>Furfan</h6>
<h6>Furix</h6>
<h6>Furmid</h6>
<h6>Furo-basan</h6>
<h6>Furo-puren</h6>
<h6>Furobeta</h6>
<h6>Furocot</h6>
<h6>Furodiurol</h6>
<h6>Furodrix</h6>
<h6>Furomen</h6>
<h6>Furomex</h6>
<h6>Furomide m.d.</h6>
<h6>Furorese</h6>
<h6>Furosan</h6>
<h6>Furose</h6>
<h6>Furosedon</h6>
<h6>Furosemid</h6>
<h6>Furosemida</h6>
<h6>Furosemide "mita"</h6>
<h6>Furosemidu</h6>
<h6>Furosemidum</h6>
<h6>Furosemix</h6>
<h6>Furoside</h6>
<h6>Furosifar</h6>
<h6>Furosix</h6>
<h6>Furoter</h6>
<h6>Furovite</h6>
<h6>Fursemid</h6>
<h6>Fursemida</h6>
<h6>Fursemide</h6>
<h6>Fursol</h6>
<h6>Fusid</h6>
<h6>Fusidic acid</h6>
<h6>Golan</h6>
<h6>Hissuflux</h6>
<h6>Hydrex</h6>
<h6>Hydro</h6>
<h6>Hydro-rapid</h6>
<h6>Hydroled</h6>
<h6>Impugan</h6>
<h6>Jenafusid</h6>
<h6>Katlex</h6>
<h6>Kofuzon</h6>
<h6>Kolkin</h6>
<h6>Kutrix</h6>
<h6>Lasemid</h6>
<h6>Lasex</h6>
<h6>Lasiletten</h6>
<h6>Lasilix</h6>
<h6>Lasix retard</h6>
<h6>Laxur</h6>
<h6>Lazix</h6>
<h6>Less diur</h6>
<h6>Liside</h6>
<h6>Logirene</h6>
<h6>Lowpston</h6>
<h6>Lowpstron</h6>
<h6>Luscek</h6>
<h6>Macasirool</h6>
<h6>Marsemide</h6>
<h6>Mirfat</h6>
<h6>Mita</h6>
<h6>Moilarorin</h6>
<h6>Nadis</h6>
<h6>Nelsix</h6>
<h6>Neo-renal</h6>
<h6>Nephron</h6>
<h6>Nicorol</h6>
<h6>Novosemide</h6>
<h6>Octan draselny</h6>
<h6>Odemase</h6>
<h6>Odemex</h6>
<h6>Oedemex</h6>
<h6>Osyrol</h6>
<h6>Polysquall a</h6>
<h6>Prefemin</h6>
<h6>Profemin</h6>
<h6>Promedes</h6>
<h6>Promide</h6>
<h6>Protargen</h6>
<h6>Puresis</h6>
<h6>Radisemide</h6>
<h6>Radonna</h6>
<h6>Radouna</h6>
<h6>Retep</h6>
<h6>Rosemide</h6>
<h6>Rosis</h6>
<h6>Rusyde</h6>
<h6>Sal diureticum</h6>
<h6>Salinex</h6>
<h6>Salix</h6>
<h6>Salurex</h6>
<h6>Salurid</h6>
<h6>Seguril</h6>
<h6>Selectofur</h6>
<h6>Sigasalur</h6>
<h6>Spirofur</h6>
<h6>Synephron</h6>
<h6>Transit</h6>
<h6>Trofurit</h6>
<h6>Uremide</h6>
<h6>Uresix</h6>
<h6>Urex</h6>
<h6>Urex-m</h6>
<h6>Urian</h6>
<h6>Uridon</h6>
<h6>Uritol</h6>
<h6>Urosemide</h6>
<h6>Vesix</h6>
<h6>Yidoli</h6>
<h6>Zafimida</h6>
<h6>Furantral</h6>
<h6>Furosemide monohydrochloride</h6>
<h6>Salix (brand OF furosemide)</h6>
<h6>Furosemide monosodium salt</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C12H11ClN2O5S</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">4-chloro-2-{[(furan-2-yl)methyl]amino}-5-sulfamoylbenzoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">54-31-9</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">330.007719869</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzene and substituted derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenesulfonamides</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.071 +/- 0.0076 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.206 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.569 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.510 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.907 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.242 +/- 9.802 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>external ventriculostomy</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>19.383 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.763 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.297 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>12.599 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.652 +/- 0.692 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>4hrs after administration of 300mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.510 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after administration of 500mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.206 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>5hrs after administration of 750mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.242 +/- 9.802 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after IV administration of 500mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.297 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after administration of 750mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.652 +/- 0.692 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>neurosurgical operations</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    