
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000714 Hippuric acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED29966242" %}' target="_blank">29966242<a>, <a style="font-family: monospace;" href='{% url "PUBMED34161092" %}' target="_blank">34161092<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000714</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>Benzamidoacetic acid</h6>
<h6>Benzamidoessigsaeure</h6>
<h6>Benzoylaminoacetic acid</h6>
<h6>Benzoylaminoessigsaeure</h6>
<h6>Hippurate</h6>
<h6>Hippursaeure</h6>
<h6>Phenylcarbonylaminoacetic acid</h6>
<h6>N-Benzoylglycine</h6>
<h6>Benzamidoacetate</h6>
<h6>Benzoylaminoacetate</h6>
<h6>Phenylcarbonylaminoacetate</h6>
<h6>Hippate</h6>
<h6>Hippic acid</h6>
<h6>(Benzoylamino)-acetate</h6>
<h6>(Benzoylamino)-acetic acid</h6>
<h6>2-Benzamidoacetate</h6>
<h6>2-Benzamidoacetic acid</h6>
<h6>Benzoylglycine</h6>
<h6>N-Benzoylglycinate</h6>
<h6>Hippuric acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C9H9NO3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-(phenylformamido)acetic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">495-69-2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">179.058243159</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzene and substituted derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzoic acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>486.68 +/- 344.36 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1379.888 +/- 625.698 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>115.692 +/- 143.792 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>230.898 +/- 341.217 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>88.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Paraquat poisoning</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>128.367 +/- 12.974 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>473.0 +/- 617.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>193.62 (5.52 – 731.67) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Type 1 diabetes Mellitus</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>32.5 +/- 3.1 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>20.5 +/- 0.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>38.9 +/- 4.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>99.8 +/- 11.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>108.3 +/- 3.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>96.2 +/- 6.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.2 +/- 4.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>234.1 +/- 15.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>299.437 +/- 474.323 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.0 (0.0-5.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16.74 +/- 11.16 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.000-28.00 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;27.933 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>7.8 +/- 4.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.23 (0.11-0.12) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>0.234 (0.0446-0.686) nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>217 (28-610) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>49-150 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>257(20-770) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>871.36 +/- 1024.84 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>57.901 +/- 74.698 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>27.92-932.66 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.51-213 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>28.67(1.33-213.6) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>96-398  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>60.00(3.20-207.3) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>837.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>258.645 +/- 22.969 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>230.81 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>100.0 +/- 10.6 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>290 (170-390) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12.5-56.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13.5-131.5 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>19-63 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.7-157.4 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>175.9 +/- 124.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>207.3 +/- 118.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;969.8 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>298.5 +/- 276.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>64-145  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>140 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>188 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>229 (19-622) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>189.34 (60.44 – 521.82)  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>42.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>205.479 +/- 143.911 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>486.68 +/- 344.36 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1379.888 +/- 625.698 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>115.692 +/- 143.792 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>230.898 +/- 341.217 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>88.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Paraquat poisoning</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>128.367 +/- 12.974 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>473.0 +/- 617.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>193.62 (5.52 – 731.67) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Type 1 diabetes Mellitus</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>32.5 +/- 3.1 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>20.5 +/- 0.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>38.9 +/- 4.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>99.8 +/- 11.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>108.3 +/- 3.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>96.2 +/- 6.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.2 +/- 4.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>234.1 +/- 15.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>299.437 +/- 474.323 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    