
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0029723 Saccharin </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0029723</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1,1-Dioxo-1,2-benzisothiazol-3(2H)-one</h6>
<h6>1,1-Dioxo-1,2-dihydro-benzo[D]isothiazol-3-one</h6>
<h6>1,2-Benzisothiazol-3(2H)-one 1,1-dioxide</h6>
<h6>1,2-Benzisothiazolin-3-one 1,1-dioxide</h6>
<h6>1,2-Dihydro-2-ketobenzisosulfonazole</h6>
<h6>1,2-Dihydro-2-ketobenzisosulphonazole</h6>
<h6>2,3-Dihydro-3-oxobenzisosulfonazole</h6>
<h6>2,3-Dihydro-3-oxobenzisosulphonazole</h6>
<h6>3-Hydroxybenzisothiazole-S,S-dioxide</h6>
<h6>Anhydro-O-sulfaminebenzoic acid</h6>
<h6>Benzo-2-sulphimide</h6>
<h6>Benzoic acid sulfimide</h6>
<h6>Benzoic sulfimide</h6>
<h6>Benzoic sulphimide</h6>
<h6>Benzosulfimide</h6>
<h6>Benzosulphimide</h6>
<h6>Benzoylsulfonic imide</h6>
<h6>O-Benzoic sulfimide</h6>
<h6>O-Benzosulfimide</h6>
<h6>O-Sulfobenzimide</h6>
<h6>O-Sulfobenzoic acid imide</h6>
<h6>Saccharimide</h6>
<h6>Saccharine</h6>
<h6>Sweeta</h6>
<h6>Anhydro-O-sulfaminebenzoate</h6>
<h6>Anhydro-O-sulphaminebenzoate</h6>
<h6>Anhydro-O-sulphaminebenzoic acid</h6>
<h6>Benzo-2-sulfimide</h6>
<h6>Benzoate sulfimide</h6>
<h6>Benzoate sulphimide</h6>
<h6>Benzoic acid sulphimide</h6>
<h6>Benzoylsulphonic imide</h6>
<h6>O-Benzoic sulphimide</h6>
<h6>O-Benzosulphimide</h6>
<h6>O-Sulphobenzimide</h6>
<h6>O-Sulfobenzoate imide</h6>
<h6>O-Sulphobenzoate imide</h6>
<h6>O-Sulphobenzoic acid imide</h6>
<h6>1, 2-Benzisothiazol-3(2H)-one, 1,1-dioxide</h6>
<h6>1, 2-Benzisothiazolin-3-one 1,1-dioxide</h6>
<h6>1, 2-dihydro-2-Ketobenzisosulfonazole</h6>
<h6>1,1-Diox-1,2-benzisothiazol-3-one</h6>
<h6>1,1-Dioxide-1,2-benzisothiazol-3(2H)-one</h6>
<h6>1,1-Dioxide-1,2-benzisothiazolin-3-one</h6>
<h6>1,1-dioxo-1,2-dihydro-1Lambda*6*-benzo[D]isothiazol-3-one</h6>
<h6>1,2-Benzisothiazol-3(2H)-one 1,1-dioxide, 9ci</h6>
<h6>1,2-Benzisothiazol-3(2H)-one, 1,1-dioxide</h6>
<h6>1,2-Benzisothiazolin-3-one, 1,1-dioxide</h6>
<h6>1,2-Benzisothiazoline-3-one 1,1-dioxide</h6>
<h6>1,2-Benzothiazol-3(2H)-one 1,1-dioxide</h6>
<h6>2, 3-dihydro-3-Oxobenzisosulfonazole</h6>
<h6>2,3-dihydro-1,2-Benzoisothiazol-3-one-1,1-dioxide</h6>
<h6>2,3-dihydro-3-oxo-Benzisosulfonazole</h6>
<h6>2,3-Dihydroxy-1,2-benzisothiazol-3-one-1,1-dioxide</h6>
<h6>2-Sulfobenzoic acid imide</h6>
<h6>2-Sulfobenzoicimide</h6>
<h6>2-Sulphobenzoic imide</h6>
<h6>3-Benzisothiazolinone 1, 1-dioxide</h6>
<h6>3-Benzisothiazolinone 1,1-dioxide</h6>
<h6>3-Hydroxybenzisothiazole S,S-dioxide</h6>
<h6>benzo-2-Sulfiide</h6>
<h6>benzo-Sulphinide</h6>
<h6>Benzosulfinide</h6>
<h6>e954</h6>
<h6>Garantose</h6>
<h6>Glucid</h6>
<h6>Gluside</h6>
<h6>Glycophenol</h6>
<h6>Hermesetas</h6>
<h6>Insoluble saccharin</h6>
<h6>Kandiset</h6>
<h6>LSA</h6>
<h6>Neosaccharin</h6>
<h6>O-Benzoic acid sulfimide</h6>
<h6>O-Benzoyl sulfimide</h6>
<h6>O-Benzoyl sulphimide</h6>
<h6>O-Benzoylsulfimide</h6>
<h6>O-Sulfobenzoic imide</h6>
<h6>Sacarina</h6>
<h6>Saccharin (JP15/nf)</h6>
<h6>Saccharin acid</h6>
<h6>Saccharin insoluble</h6>
<h6>Saccharin, insoluble</h6>
<h6>Saccharinol</h6>
<h6>Saccharinose</h6>
<h6>Saccharol</h6>
<h6>Sacharin</h6>
<h6>Stilalgin</h6>
<h6>Sucre edulcor</h6>
<h6>Sucrette</h6>
<h6>Syncal</h6>
<h6>Zaharina</h6>
<h6>Saccharin sodium</h6>
<h6>Saccharin calcium</h6>
<h6>Calcium, saccharin</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C7H5NO3S</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2,3-dihydro-1lambda6,2-benzothiazole-1,1,3-trione</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">81-07-2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">182.999013721</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organoheterocyclic compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzothiazoles</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">None</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feces</td>
      <td>0-49401.791 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Treated celiac disease</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>0-11132.240 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feces</td>
      <td>0-49401.791 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Treated celiac disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    