
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000177 L-Histidine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED27378474" %}' target="_blank">27378474<a>, <a style="font-family: monospace;" href='{% url "PUBMED31547832" %}' target="_blank">31547832<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000177</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(S)-4-(2-Amino-2-carboxyethyl)imidazole</h6>
<h6>(S)-alpha-Amino-1H-imidazole-4-propanoic acid</h6>
<h6>(S)-alpha-Amino-1H-imidazole-4-propionic acid</h6>
<h6>H</h6>
<h6>His</h6>
<h6>HISTIDINE</h6>
<h6>L-(-)-Histidine</h6>
<h6>L-Histidin</h6>
<h6>(S)-a-Amino-1H-imidazole-4-propanoate</h6>
<h6>(S)-a-Amino-1H-imidazole-4-propanoic acid</h6>
<h6>(S)-alpha-Amino-1H-imidazole-4-propanoate</h6>
<h6>(S)-Α-amino-1H-imidazole-4-propanoate</h6>
<h6>(S)-Α-amino-1H-imidazole-4-propanoic acid</h6>
<h6>(S)-a-Amino-1H-imidazole-4-propionate</h6>
<h6>(S)-a-Amino-1H-imidazole-4-propionic acid</h6>
<h6>(S)-alpha-Amino-1H-imidazole-4-propionate</h6>
<h6>(S)-Α-amino-1H-imidazole-4-propionate</h6>
<h6>(S)-Α-amino-1H-imidazole-4-propionic acid</h6>
<h6>(S)-1H-Imidazole-4-alanine</h6>
<h6>(S)-2-Amino-3-(4-imidazolyl)propionsaeure</h6>
<h6>(S)-Histidine</h6>
<h6>(S)1H-Imidazole-4-alanine</h6>
<h6>3-(1H-Imidazol-4-yl)-L-alanine</h6>
<h6>Amino-1H-imidazole-4-propanoate</h6>
<h6>Amino-1H-imidazole-4-propanoic acid</h6>
<h6>Amino-4-imidazoleproprionate</h6>
<h6>Amino-4-imidazoleproprionic acid</h6>
<h6>Glyoxaline-5-alanine</h6>
<h6>Histidine, L isomer</h6>
<h6>Histidine, L-isomer</h6>
<h6>L-Isomer histidine</h6>
<h6>L-Histidine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C6H9N3O2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2S)-2-amino-3-(1H-imidazol-5-yl)propanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">71-00-1</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">155.069476547</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Carboxylic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Amino acids, peptides, and analogues</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>86.0 +/- 21.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>90.7 +/- 18.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>46.1 +/- 17.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84 +/- 11 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84 +/- 14 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>130 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80.88(11.04) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>509.17 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>92.6(75.9-112.4) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1108.3 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>257.807-483.389 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>386.711 +/- 128.904 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>116.68 +/- 18.15 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>412.492-1115.0169 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>412.492-837.874 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>470.498-928.107 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>483.389-708.970 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>509.170-999.00357 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>515.615-1063.455 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>580.0666-1173.0236 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>708.970-1501.728 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>72 +/- 19 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>741.196-947.442 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>837.874 +/- 290.0333 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>837.874-1630.632 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>863.655-1115.0169 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>67.0 (64.0-70.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dengue fever</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80.5 +/- 4.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>107.0 +/- 6.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>58.00666 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>116.0133 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>20-29 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Pyridoxamine 5-prime-phosphate oxidase deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>21.4 +/- 6.6 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>10.3 +/- 3.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>130.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>14.4 +/- 6.32 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Progressive dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>16.96 +/- 7.43 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>23.31 +/- 8.62 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>17.50 +/- 4.53 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0033 - 0.0186 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>ADPKD</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.5 +/- 4.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>276 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>595 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>246.700-642.700 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Fumaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>145.1681 +/- 74.4203 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>103.2581 +/- 61.6795 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>105.3 +/- 12.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>65.5 +/- 11.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>52.9 +/- 12.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>154.3 +/- 13.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>52 +/- 29 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>37.9 +/- 9.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62.6 +/- 12.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>68 +/- 19.9 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>171.8 +/- 4.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>180.1 +/- 12.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Aminoaciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>64.206 +/- 58.48 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75.0 +/- 20.0 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>86.0 +/- 10.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89.0 +/- 11.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.0 +/- 14.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>143.1 +/- 27.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>32-107 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20-83 uM</td>
      <td>Infant (1 - 3 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22-108 uM</td>
      <td>Children (3 months - 6 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>35-106 uM</td>
      <td>Children (6 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>124 (104-150) uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>90 +/- 9  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>86 +/- 9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>106 (91.7-124) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>32.226 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>90.233 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>128.904 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>225.581 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>73.51(11.42) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>122.459 +/- 12.890 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>128.904-354.485 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>225.581-386.711 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>30-138 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83 +/- 14 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40.00-120.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50 - 110 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>103.13-141.80 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89.3 +/- 10.8 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>77.342-238.472 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>96.678-225.581 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89 +/- 11 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.4(70.1-97.4) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>82.0 (72.0-92.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84 +/- 14 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>131.2 +/- 37.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>20.3 +/- 6.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>7.0897-19.980 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>14.0 +/- 8.0 uM</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>12.4 +/- 3.5 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.6 +/- 4.4 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3-18 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>20.7 +/- 7.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>16.8 +/- 2.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>18.6 +/- 3.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>16.4 +/- 6.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>10.9 (10.4-11.4) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0-17 uM</td>
      <td>Children (0 - 10 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.6-23 uM</td>
      <td>Adolescent (&gt;11 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.9 +/- 1.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>1718.716 (1310.521-2126.911) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>2298.782 (1224.585-3372.980) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>966.778 (451.163-1482.392) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>60 +/- 50 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>24.99 +/- 12.94 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>6.02 +/- 4.39 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>9.93 +/- 9.50 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>&lt;0.25 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>&lt;0.25 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>9.4 +/- 4.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>18.67 +/- 10.20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>8.2 +/- 1.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>&gt;10 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Sweat</td>
      <td>170 uM</td>
      <td>Adult (60 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Sweat</td>
      <td>&lt; 10 uM</td>
      <td>Adult (40 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.22 - 167.55 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>40.70 - 194.35 umol/mmol creatinine</td>
      <td>Infant (1 - 6 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>52.01 - 157.83 umol/mmol creatinine</td>
      <td>Infant (6 months - &lt;1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>49.18 - 163.03 umol/mmol creatinine</td>
      <td>Children (1 - 2 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>38.44 - 144.83 umol/mmol creatinine</td>
      <td>Children (2 - 4 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.19 - 122.67 umol/mmol creatinine</td>
      <td>Children (4 - 13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14.47 - 86.72 umol/mmol creatinine</td>
      <td>Adolescent (13 - 21 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14.47 - 86.72 umol/mmol creatinine</td>
      <td>Adult (&gt;21 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15.16-224.31 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>101.9 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>25.79-212.81 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45-100  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.16-127.60 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>87.2 (23.0-151.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.4-433.51 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>47.12 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0036 - 0.0376 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>19.07-342.31 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.78-199.77 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>18.0667 +/- 9.133 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>119.45 +/- 87.37 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.667 +/- 22.800 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>43 (17-90) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>150.04 +/- 94 umol/mmol creatinine</td>
      <td>Children (0-2 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>154.26 +/- 82.28 umol/mmol creatinine</td>
      <td>Children (0-2 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>60.14 +/- 47.11 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.200 +/- 15.133 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.933 +/- 30 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12.6 +/- 3.5 umol/mmol creatinine</td>
      <td>Infant (1 - 6 months old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>41.267-256.307 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15.0 +/- 3.7 umol/mmol creatinine</td>
      <td>Infant (6 months - &lt;1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.3 +/- 2.1 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>48.30-384.37 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>154.67 (80-229.33) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.0 +/- 15.0 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>85.0 +/- 33.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62.0 +/- 28.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>60.75 +/- 27.45 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.6 (21.7-71.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>66-106  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>26.017-298.066 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>88 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>190.3063 +/- 67.9627 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>194.90 +/- 144.31 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.914 +/- 6.784 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.05 +/- 6.78 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.18 +/- 7.91 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>237.43 +/- 113.06 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>316.57 +/- 146.98 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>463.55 +/- 192.20 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62.585 +/- 67.649 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>21.09-188.1 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>53.50(29.22-137.2) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>60.27(18.73-193.6) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.32-242.86 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>86.0 +/- 21.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>90.7 +/- 18.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obesity</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>46.1 +/- 17.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84 +/- 11 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>84 +/- 14 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>130 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80.88(11.04) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>509.17 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>92.6(75.9-112.4) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1108.3 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>257.807-483.389 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>386.711 +/- 128.904 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>116.68 +/- 18.15 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>412.492-1115.0169 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>412.492-837.874 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>470.498-928.107 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>483.389-708.970 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>509.170-999.00357 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>515.615-1063.455 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>580.0666-1173.0236 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>708.970-1501.728 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>72 +/- 19 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>741.196-947.442 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>837.874 +/- 290.0333 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>837.874-1630.632 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>863.655-1115.0169 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>67.0 (64.0-70.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dengue fever</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80.5 +/- 4.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>107.0 +/- 6.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>58.00666 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>116.0133 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>20-29 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Pyridoxamine 5-prime-phosphate oxidase deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>21.4 +/- 6.6 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>10.3 +/- 3.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>130.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Histidinemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>14.4 +/- 6.32 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Progressive dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>16.96 +/- 7.43 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>23.31 +/- 8.62 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>17.50 +/- 4.53 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0033 - 0.0186 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>ADPKD</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.5 +/- 4.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>276 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>595 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Histidinuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>246.700-642.700 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Fumaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>145.1681 +/- 74.4203 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>103.2581 +/- 61.6795 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>105.3 +/- 12.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>65.5 +/- 11.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3- methylglutaryl-CoA lyase (HL) deficency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>52.9 +/- 12.5 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Argininosuccinic aciduria (ASL)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>154.3 +/- 13.7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Propionic acidemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>52 +/- 29 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>37.9 +/- 9.8 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Tyrosinemia I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62.6 +/- 12.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>68 +/- 19.9 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>171.8 +/- 4.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>180.1 +/- 12.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Aminoaciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>64.206 +/- 58.48 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    