
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000209 Phenylacetic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED28803255" %}' target="_blank">28803255<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000209</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-PHENYLACETIC ACID</h6>
<h6>2-Phenylethanoic acid</h6>
<h6>alpha-Toluic acid</h6>
<h6>Benzeneacetic acid</h6>
<h6>Benzylformic acid</h6>
<h6>Omega-phenylacetic acid</h6>
<h6>PA</h6>
<h6>Phenylacetate</h6>
<h6>2-PHENYLACETate</h6>
<h6>a-Toluate</h6>
<h6>a-Toluic acid</h6>
<h6>alpha-Toluate</h6>
<h6>Α-toluate</h6>
<h6>Α-toluic acid</h6>
<h6>Benzeneacetate</h6>
<h6>Benzylformate</h6>
<h6>Omega-phenylacetate</h6>
<h6>Phenylethanoate</h6>
<h6>W-Phenylacetate</h6>
<h6>W-Phenylacetic acid</h6>
<h6>Phenylacetic acid, potassium salt</h6>
<h6>Sodium phenylacetate</h6>
<h6>Phenylacetic acid, lithium salt</h6>
<h6>Phenylacetic acid, sodium salt</h6>
<h6>Phenylacetic acid, ammonium salt</h6>
<h6>Phenylacetic acid, calcium salt</h6>
<h6>Phenylacetic acid, cesium salt</h6>
<h6>Phenylacetic acid, mercury salt</h6>
<h6>Phenylacetic acid, rubidium salt</h6>
<h6>Phenylacetic acid, sodium salt , carboxy-(11)C-labeled CPD</h6>
<h6>PAA</h6>
<h6>ω-Phenylacetic acid</h6>
<h6>Phenylacetic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C8H8O2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-phenylacetic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">103-82-2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">136.0524295</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzene and substituted derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">None</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>3490.0 +/- 330.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Kidney disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3485.92 +/- 329.79 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>55.6 +/- 87.3 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.505 +/- 12.758 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>55.00 +/- 87.00 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>47.24 +/- 5.866 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>58.864 +/- 3.78 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50.34 +/- 4.973 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>53.443 +/- 6.56 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>48.507 +/- 3.763 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>49.663 +/- 3.885 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>51.556 +/- 6.132 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>80.36 +/- 24.113 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;10.28 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.148 +/- 0.0198 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.248 +/- 0.0294 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.306 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>1182.538 +/- 1035.638 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>1344.126 +/- 1226.607 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>498.722 +/- 287.922 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>689.691 +/- 438.494 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>878.0157 +/- 425.714 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>92.436 (8.814-697.0361) nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>1115.698 +/- 659.577 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>47.04 +/- 31.31 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.000000079 (0-0.00000095) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.994 +/- 5.642 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.25-0.46  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.16 +/- 0.91 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;2.16 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.20-0.41  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.9 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>3490.0 +/- 330.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Kidney disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3485.92 +/- 329.79 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>55.6 +/- 87.3 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.505 +/- 12.758 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>55.00 +/- 87.00 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    