
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001294 2,3-Diphosphoglyceric acid </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001294</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2,3-Bisphospho-D-glycerate</h6>
<h6>2,3-Bisphosphoglyceric acid</h6>
<h6>2,3-BPG</h6>
<h6>2,3-Disphospho-D-glycerate</h6>
<h6>D-Greenwald ester</h6>
<h6>DPG</h6>
<h6>Glyceric acid bis(dihydrogen phosphate)</h6>
<h6>Glyceric acid diphosphate</h6>
<h6>2,3-Bisphospho-D-glyceric acid</h6>
<h6>2,3-Bisphosphoglycerate</h6>
<h6>2,3-Disphospho-D-glyceric acid</h6>
<h6>Glycerate bis(dihydrogen phosphate)</h6>
<h6>Glyceric acid bis(dihydrogen phosphoric acid)</h6>
<h6>Glycerate diphosphate</h6>
<h6>Glyceric acid diphosphoric acid</h6>
<h6>2,3-Diphosphoglycerate</h6>
<h6>(2R)-2,3-Bis(phosphonooxy)-propanoate</h6>
<h6>(2R)-2,3-Bis(phosphonooxy)-propanoic acid</h6>
<h6>(R)-2,3-Bis(phosphonooxy)-propanoate</h6>
<h6>(R)-2,3-Bis(phosphonooxy)-propanoic acid</h6>
<h6>2,3-Bis(phosphonooxy)-propanoate</h6>
<h6>2,3-Bis(phosphonooxy)-propanoic acid</h6>
<h6>2,3-Diphospho-D-glycerate</h6>
<h6>2,3-Diphospho-D-glyceric acid</h6>
<h6>2,3-Diphospho-D-glyceric acid pentasodium salt</h6>
<h6>D-Glyceric acid bis</h6>
<h6>D-Glyceric acid bis(dihydrogen phosphate)</h6>
<h6>Diphosphoglycerate</h6>
<h6>Diphosphoglyceric acid</h6>
<h6>Glycerate 2,3-diphosphate</h6>
<h6>2,3 Diphosphoglyceric acid</h6>
<h6>2,3 Bisphosphoglycerate</h6>
<h6>2,3 Diphosphoglycerate</h6>
<h6>2,3-DPG</h6>
<h6>2,3-Diphosphoglycerate, (D)-isomer</h6>
<h6>Glycerate 2,3-bisphosphate</h6>
<h6>2,3-Bisphosphate, glycerate</h6>
<h6>(2R)-2,3-Bis(phosphonooxy)propanoic acid</h6>
<h6>(2R)-2,3-Bis(phosphonooxy)propionic acid</h6>
<h6>2,3-Bis(phosphonooxy)propanoic acid</h6>
<h6>2,3-Bis(phosphonooxy)propionic acid</h6>
<h6>2,3-Diphosphoglyceric acid</h6>
<h6>2,3-Diphosphonooxypropanoic acid</h6>
<h6>2,3-Diphosphonooxypropionic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C3H8O10P2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2R)-2,3-bis(phosphonooxy)propanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">14438-19-8</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">265.9592695</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic oxygen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Organooxygen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Carbohydrates and carbohydrate conjugates</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>530.0 +/- 800.0 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>4500.0 (4000.0-5000.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.10 +/- 0.10 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hemodialysis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    