
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001859 Acetaminophen </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED30805978" %}' target="_blank">30805978<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001859</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>4'-Hydroxyacetanilide</h6>
<h6>4-(Acetylamino)phenol</h6>
<h6>4-Acetamidophenol</h6>
<h6>Acenol</h6>
<h6>Acetaminofen</h6>
<h6>Acetaminophene</h6>
<h6>APAP</h6>
<h6>N-Acetyl-p-aminophenol</h6>
<h6>p-Acetamidophenol</h6>
<h6>p-Acetaminophenol</h6>
<h6>p-Acetylaminophenol</h6>
<h6>p-Hydroxyacetanilide</h6>
<h6>p-Hydroxyphenolacetamide</h6>
<h6>Panadol</h6>
<h6>Paracetamolum</h6>
<h6>Tylenol</h6>
<h6>Paracetamol</h6>
<h6>4-Acetaminophenol</h6>
<h6>4-Hydroxyacetanilide</h6>
<h6>4-Hydroxyanilid kyseliny octove</h6>
<h6>a-Per</h6>
<h6>A.F. anacin</h6>
<h6>Abenol</h6>
<h6>Abensanil</h6>
<h6>Abrol</h6>
<h6>Abrolet</h6>
<h6>Acamol</h6>
<h6>Accu-tap</h6>
<h6>Acephen</h6>
<h6>Acertol</h6>
<h6>Aceta elixir</h6>
<h6>Aceta tablets</h6>
<h6>Acetagesic</h6>
<h6>Acetalgin</h6>
<h6>Acetaminophen uniserts</h6>
<h6>Acetamol</h6>
<h6>Acetofen</h6>
<h6>Actamin</h6>
<h6>Actamin extra</h6>
<h6>Actamin super</h6>
<h6>Actifed plus</h6>
<h6>Actimol chewable tablets</h6>
<h6>Actimol children's suspension</h6>
<h6>Actimol infants' suspension</h6>
<h6>Actimol junior strength caplets</h6>
<h6>Actron</h6>
<h6>Afebrin</h6>
<h6>Afebryl</h6>
<h6>Aferadol</h6>
<h6>Algesidal</h6>
<h6>Algina</h6>
<h6>Algomol</h6>
<h6>Algotropyl</h6>
<h6>Allay</h6>
<h6>alpha-Per</h6>
<h6>Alpiny</h6>
<h6>Alpinyl</h6>
<h6>Alvedon</h6>
<h6>Amadil</h6>
<h6>Aminofen</h6>
<h6>Aminofen max</h6>
<h6>Anacin-3</h6>
<h6>Anacin-3 extra strength</h6>
<h6>Anadin dla dzieci</h6>
<h6>Anaflon</h6>
<h6>Analter</h6>
<h6>Anapap</h6>
<h6>Andox</h6>
<h6>Anelix</h6>
<h6>Anexsia</h6>
<h6>Anexsia 10/660</h6>
<h6>Anexsia 5/325</h6>
<h6>Anexsia 7.5/325</h6>
<h6>Anexsia 7.5/650</h6>
<h6>Anhiba</h6>
<h6>Anoquan</h6>
<h6>Anti-algos</h6>
<h6>Antidol</h6>
<h6>Apacet</h6>
<h6>Apacet capsules</h6>
<h6>Apacet elixir</h6>
<h6>Apacet extra strength caplets</h6>
<h6>Apacet extra strength tablets</h6>
<h6>Apacet regular strength tablets</h6>
<h6>Apadon</h6>
<h6>Apamid</h6>
<h6>Apamide</h6>
<h6>Apitrelal</h6>
<h6>Apo-acetaminophen</h6>
<h6>Arfen</h6>
<h6>Asetam</h6>
<h6>Asomal</h6>
<h6>Aspac</h6>
<h6>Aspirin free anacin maximum strength caplets</h6>
<h6>Aspirin free anacin maximum strength gel caplets</h6>
<h6>Aspirin free anacin maximum strength tablets</h6>
<h6>Aspirin-free anacin</h6>
<h6>Aspirin-free excedrin caplets</h6>
<h6>Asplin</h6>
<h6>Atasol caplets</h6>
<h6>Atasol drops</h6>
<h6>Atasol forte caplets</h6>
<h6>Atasol forte tablets</h6>
<h6>Atasol oral solution</h6>
<h6>Atasol tablets</h6>
<h6>Atralidon</h6>
<h6>Babikan</h6>
<h6>Bacetamol</h6>
<h6>Bancap</h6>
<h6>Bancap HC</h6>
<h6>Banesin</h6>
<h6>Bayer select allergy-sinus</h6>
<h6>Bayer select head cold</h6>
<h6>Bayer select headache pain</h6>
<h6>Bayer select maximum strength headache pain relief formula</h6>
<h6>Bayer select menstrual multi-symptom</h6>
<h6>Bayer select sinus pain relief</h6>
<h6>Ben-u-ron</h6>
<h6>Benmyo</h6>
<h6>Bickie-mol</h6>
<h6>Biocetamol</h6>
<h6>Bucet</h6>
<h6>Butalbital</h6>
<h6>Butapap</h6>
<h6>Cadafen</h6>
<h6>Calapol</h6>
<h6>Calmanticold</h6>
<h6>Calpol</h6>
<h6>Capital with codeine</h6>
<h6>Captin</h6>
<h6>Causalon</h6>
<h6>Cefalex</h6>
<h6>Cetadol</h6>
<h6>Children'S acetaminophen elixir drops</h6>
<h6>Children'S acetaminophen oral solution</h6>
<h6>Children'S tylenol chewable</h6>
<h6>Claradol codeine</h6>
<h6>Clixodyne</h6>
<h6>CO-Gesic</h6>
<h6>COD-Acamol forte</h6>
<h6>Codabrol</h6>
<h6>Codalgin</h6>
<h6>Codapane</h6>
<h6>Codicet</h6>
<h6>Codisal</h6>
<h6>Codisal forte</h6>
<h6>Codoliprane</h6>
<h6>Codral pain relief</h6>
<h6>Cofamol</h6>
<h6>Conacetol</h6>
<h6>Contac cough & sore throat formula</h6>
<h6>Contra-schmerz p</h6>
<h6>Coricidin</h6>
<h6>Coricidin D</h6>
<h6>Coricidin sinus</h6>
<h6>Cosutone</h6>
<h6>Croix blanche</h6>
<h6>Cuponol</h6>
<h6>Curadon</h6>
<h6>Curpol</h6>
<h6>Custodial</h6>
<h6>Dapa X-S</h6>
<h6>Darocet</h6>
<h6>Darvocet</h6>
<h6>Darvocet-N 50</h6>
<h6>Datril</h6>
<h6>Datril extra-strength</h6>
<h6>Daygrip</h6>
<h6>Demilets</h6>
<h6>Deminofen</h6>
<h6>Democyl</h6>
<h6>Demogripal</h6>
<h6>Desfebre</h6>
<h6>Dhamol</h6>
<h6>DHC Plus</h6>
<h6>Dial-a-gesic</h6>
<h6>Dial-alpha-gesic</h6>
<h6>Dimindol</h6>
<h6>Dirox</h6>
<h6>Disprol</h6>
<h6>Dol-stop</h6>
<h6>Dolcor</h6>
<h6>Dolefin</h6>
<h6>Dolegrippin</h6>
<h6>Dolene ap-65</h6>
<h6>Dolgesic</h6>
<h6>Doliprane</h6>
<h6>Dolko</h6>
<h6>Dolofugin</h6>
<h6>Doloreduct</h6>
<h6>Dolorfug</h6>
<h6>Dolorol forte</h6>
<h6>Dolorstop</h6>
<h6>Dolotec</h6>
<h6>Dolprone</h6>
<h6>Dorocoff</h6>
<h6>Dresan</h6>
<h6>Dristan cold no drowsiness</h6>
<h6>Dristancito</h6>
<h6>Duracetamol</h6>
<h6>Duradyne DHC</h6>
<h6>Durapan</h6>
<h6>Dymadon</h6>
<h6>Dymadon co</h6>
<h6>Dymadon forte</h6>
<h6>Dypap</h6>
<h6>Ecosetol</h6>
<h6>Elixodyne</h6>
<h6>Empracet</h6>
<h6>Endecon</h6>
<h6>Enelfa</h6>
<h6>Eneril</h6>
<h6>Esgic</h6>
<h6>Esgic-plus</h6>
<h6>Eu-med</h6>
<h6>Excedrin</h6>
<h6>Excedrin caplets</h6>
<h6>Excedrin extra strength caplets</h6>
<h6>Excipain</h6>
<h6>Exdol</h6>
<h6>Exdol strong</h6>
<h6>Fanalgic</h6>
<h6>Farmadol</h6>
<h6>Febranine</h6>
<h6>Febrectal</h6>
<h6>Febrectol</h6>
<h6>Febrex</h6>
<h6>Febricet</h6>
<h6>Febridol</h6>
<h6>Febrilix</h6>
<h6>Febrin</h6>
<h6>Febrinol</h6>
<h6>Febro-gesic</h6>
<h6>Febrolin</h6>
<h6>Femcet</h6>
<h6>Fendon</h6>
<h6>Fensum</h6>
<h6>Fepanil</h6>
<h6>Feverall junior strength</h6>
<h6>Feverall sprinkle caps junior strength</h6>
<h6>Fevor</h6>
<h6>Finimal</h6>
<h6>Finiweh</h6>
<h6>Fioricet</h6>
<h6>Fluparmol</h6>
<h6>Fortalidon p</h6>
<h6>Freka-cetamol</h6>
<h6>Gattaphen T</h6>
<h6>Gelocatil</h6>
<h6>Geluprane</h6>
<h6>Genapap children's elixir</h6>
<h6>Genapap children's tablets</h6>
<h6>Genapap extra strength caplets</h6>
<h6>Genapap extra strength tablets</h6>
<h6>Genapap regular strength tablets</h6>
<h6>Genebs extra strength caplets</h6>
<h6>Genebs regular strength tablets</h6>
<h6>Genebs X-tra</h6>
<h6>Geralgine-p</h6>
<h6>Gripin bebe</h6>
<h6>Grippostad</h6>
<h6>Gynospasmine</h6>
<h6>Hedex</h6>
<h6>Helon N</h6>
<h6>Homoolan</h6>
<h6>Hy-phen</h6>
<h6>Hycomine compound</h6>
<h6>Hydrocet</h6>
<h6>Ildamol</h6>
<h6>Inalgex</h6>
<h6>Infadrops</h6>
<h6>Infants' feverall</h6>
<h6>Influbene N</h6>
<h6>Injectapap</h6>
<h6>Intensin</h6>
<h6>Janupap</h6>
<h6>Junior disprol</h6>
<h6>Kataprin</h6>
<h6>Kinder finimal</h6>
<h6>Korum</h6>
<h6>Kratofin simplex</h6>
<h6>Labamol</h6>
<h6>Lekadol</h6>
<h6>Lemgrip</h6>
<h6>Lemsip</h6>
<h6>Lestemp</h6>
<h6>Liquagesic</h6>
<h6>Liquigesic co</h6>
<h6>Liquiprin</h6>
<h6>Liquiprin children's elixir</h6>
<h6>Liquiprin infants" drops</h6>
<h6>Lonarid</h6>
<h6>Lonarid mono</h6>
<h6>Lorcet-HD</h6>
<h6>Lortab</h6>
<h6>Lupocet</h6>
<h6>Lyteca</h6>
<h6>Lyteca syrup</h6>
<h6>Magnidol</h6>
<h6>Malex N</h6>
<h6>Malgis</h6>
<h6>Malidens</h6>
<h6>Maxadol</h6>
<h6>Medigesic plus</h6>
<h6>Medinol paediatric</h6>
<h6>Medocodene</h6>
<h6>Melabon infantil</h6>
<h6>Mexalen</h6>
<h6>Midol maximum strength</h6>
<h6>Midol PM night time formula</h6>
<h6>Midol regular strength</h6>
<h6>Midol teen formula</h6>
<h6>Migraleve yellow</h6>
<h6>Minafen</h6>
<h6>Minoset</h6>
<h6>Miralgin</h6>
<h6>Momentum</h6>
<h6>mono Praecimed</h6>
<h6>Multin</h6>
<h6>N-(4-Hydroxyphenyl)acetamide</h6>
<h6>N-Acetyl-4-aminophenol</h6>
<h6>Naldegesic</h6>
<h6>NAPA</h6>
<h6>Napafen</h6>
<h6>Napap</h6>
<h6>Naprinol</h6>
<h6>Nealgyl</h6>
<h6>Nebs</h6>
<h6>Neo-fepramol</h6>
<h6>NeoCitran</h6>
<h6>Neodol</h6>
<h6>Neodolito</h6>
<h6>Neopap</h6>
<h6>Neotrend</h6>
<h6>Neuridon</h6>
<h6>New cortal for children</h6>
<h6>NilnOcen</h6>
<h6>Nina</h6>
<h6>NO-Febril</h6>
<h6>Nobedon</h6>
<h6>Nodolex</h6>
<h6>Noral</h6>
<h6>Norcet</h6>
<h6>Norco</h6>
<h6>O-Acetaminophenol</h6>
<h6>Oltyl</h6>
<h6>Oralgan</h6>
<h6>Oraphen-PD</h6>
<h6>Ortensan</h6>
<h6>Oxycet</h6>
<h6>Oxycocet</h6>
<h6>Oxycodone 2.5/apap 500</h6>
<h6>Oxycodone 5/apap 500</h6>
<h6>p-(Acetylamino)phenol</h6>
<h6>Paceco</h6>
<h6>Pacemo</h6>
<h6>Pacemol</h6>
<h6>Pacet</h6>
<h6>Pacimol</h6>
<h6>Paedialgon</h6>
<h6>Paedol</h6>
<h6>Painex</h6>
<h6>Paldesic</h6>
<h6>Pamol</h6>
<h6>Panacete</h6>
<h6>Panadeine</h6>
<h6>Panadeine co</h6>
<h6>Panadiene</h6>
<h6>Panado-co</h6>
<h6>Panado-co caplets</h6>
<h6>Panadol extra strength</h6>
<h6>Panadol junior strength caplets</h6>
<h6>Panadol maximum strength caplets</h6>
<h6>Panadol maximum strength tablets</h6>
<h6>Panaleve</h6>
<h6>Panamax</h6>
<h6>Panasorb</h6>
<h6>Panasorbe</h6>
<h6>Panets</h6>
<h6>Panex</h6>
<h6>Panodil</h6>
<h6>Panofen</h6>
<h6>Pantalgin</h6>
<h6>Papa-deine #3</h6>
<h6>Papa-deine #4</h6>
<h6>Para-suppo</h6>
<h6>Para-tabs</h6>
<h6>Paracemol</h6>
<h6>Paracenol</h6>
<h6>Paracet</h6>
<h6>Paracetamol al</h6>
<h6>Paracetamol antipanin p</h6>
<h6>Paracetamol basics</h6>
<h6>Paracetamol BC</h6>
<h6>Paracetamol DC</h6>
<h6>Paracetamol dr. schmidgall</h6>
<h6>Paracetamol fecofar</h6>
<h6>Paracetamol genericon</h6>
<h6>Paracetamol hanseler</h6>
<h6>Paracetamol harkley</h6>
<h6>Paracetamol heumann</h6>
<h6>Paracetamol hexal</h6>
<h6>Paracetamol italfarmaco</h6>
<h6>Paracetamol nycomed</h6>
<h6>Paracetamol PB</h6>
<h6>Paracetamol raffo</h6>
<h6>Paracetamol ratiopharm</h6>
<h6>Paracetamol rosch</h6>
<h6>Paracetamol saar</h6>
<h6>Paracetamol smithkline beecham</h6>
<h6>Paracetamol stada</h6>
<h6>Paracetamol von CT</h6>
<h6>Paracetamol winthrop</h6>
<h6>Paracetamole</h6>
<h6>Paracetamolo</h6>
<h6>Paracetanol</h6>
<h6>Paracetol</h6>
<h6>Paracin</h6>
<h6>Paracod</h6>
<h6>Paracodol</h6>
<h6>Parador</h6>
<h6>Paradrops</h6>
<h6>Parakapton</h6>
<h6>Parake</h6>
<h6>Paralen</h6>
<h6>Paralief</h6>
<h6>Paralink</h6>
<h6>Paralyoc</h6>
<h6>Paramol</h6>
<h6>Paramolan</h6>
<h6>Paranox</h6>
<h6>Parapan</h6>
<h6>Parasedol</h6>
<h6>Parasin</h6>
<h6>Paraspen</h6>
<h6>Parcetol</h6>
<h6>Parelan</h6>
<h6>Parmol</h6>
<h6>Parogal</h6>
<h6>Paroma</h6>
<h6>Pasolind</h6>
<h6>Pasolind N</h6>
<h6>PCM Paracetamol lichtenstein</h6>
<h6>Pe-tam</h6>
<h6>Pediapirin</h6>
<h6>Pediatrix</h6>
<h6>Pedric</h6>
<h6>Percocet</h6>
<h6>Percocet-5</h6>
<h6>Percocet-demi</h6>
<h6>Percogesic with codeine</h6>
<h6>Perdolan mono</h6>
<h6>Phenaphen</h6>
<h6>Phenaphen caplets</h6>
<h6>Phenaphen w/codeine</h6>
<h6>Phendon</h6>
<h6>Phenipirin</h6>
<h6>Phogoglandin</h6>
<h6>Phrenilin</h6>
<h6>Phrenilin forte</h6>
<h6>Pinex</h6>
<h6>Piramin</h6>
<h6>Pirinasol</h6>
<h6>Plicet</h6>
<h6>Polmofen</h6>
<h6>Predimol</h6>
<h6>Predualito</h6>
<h6>Prestwick_13</h6>
<h6>Prodol</h6>
<h6>Prompt</h6>
<h6>Prontina</h6>
<h6>Propacet</h6>
<h6>Propacet 100</h6>
<h6>Proval #3</h6>
<h6>Puernol</h6>
<h6>Pulmofen</h6>
<h6>Pyregesic-C</h6>
<h6>Pyrigesic</h6>
<h6>Pyrinazine</h6>
<h6>Pyromed</h6>
<h6>Quiet world</h6>
<h6>Redutemp</h6>
<h6>Reliv</h6>
<h6>Remedol</h6>
<h6>Rhinex D-lay tablets</h6>
<h6>Rivalgyl</h6>
<h6>Robigesic</h6>
<h6>Robitussin night relief</h6>
<h6>Rockamol plus</h6>
<h6>Rounox</h6>
<h6>Roxicet</h6>
<h6>Roxicet 5/500</h6>
<h6>Roxilox</h6>
<h6>RubieMol</h6>
<h6>Rubophen</h6>
<h6>Rupemol</h6>
<h6>Salzone</h6>
<h6>Sanicet</h6>
<h6>Sanicopyrine</h6>
<h6>Scanol</h6>
<h6>Scentalgyl</h6>
<h6>Scherzatabletten rezeptur 534</h6>
<h6>Schmerzex</h6>
<h6>Sedalito</h6>
<h6>Sedapap</h6>
<h6>Semolacin</h6>
<h6>Servigesic</h6>
<h6>Seskamol</h6>
<h6>Setakop</h6>
<h6>Setamol</h6>
<h6>Setol</h6>
<h6>Sifenol</h6>
<h6>Sinaspril</h6>
<h6>Sine-OFF sinus medicine caplets</h6>
<h6>Sinedol</h6>
<h6>Sinmol</h6>
<h6>Sinubid</h6>
<h6>SK-Apap</h6>
<h6>Snaplets-FR</h6>
<h6>Spalt fur die nacht</h6>
<h6>Spalt N</h6>
<h6>ST Joseph aspirin-free</h6>
<h6>ST Joseph aspirin-free for children</h6>
<h6>St. joseph cold tablets for children</h6>
<h6>St. joseph fever reducer</h6>
<h6>Stanback</h6>
<h6>Stopain</h6>
<h6>Sudafed severe cold formula</h6>
<h6>Sudafed sinus</h6>
<h6>Sunetheton</h6>
<h6>Supac</h6>
<h6>Supadol mono</h6>
<h6>Supofen</h6>
<h6>Suppap</h6>
<h6>Suppap-120</h6>
<h6>Suppap-325</h6>
<h6>Suppap-650</h6>
<h6>Supramol-m</h6>
<h6>Synalgos-DC-a</h6>
<h6>Tabalgin</h6>
<h6>Tachiprina</h6>
<h6>Talacen</h6>
<h6>Tapanol extra strength caplets</h6>
<h6>Tapanol extra strength tablets</h6>
<h6>Tapar</h6>
<h6>Tavist allergy/sinus/headache</h6>
<h6>Tazamol</h6>
<h6>Temlo</h6>
<h6>Tempanal</h6>
<h6>Tempra</h6>
<h6>Tempra caplets</h6>
<h6>Tempra chewable tablets</h6>
<h6>Tempra d.s</h6>
<h6>Tempra drops</h6>
<h6>Tempra syrup</h6>
<h6>Tencon</h6>
<h6>Termacet</h6>
<h6>Termalgin</h6>
<h6>Termalgine</h6>
<h6>Termofren</h6>
<h6>TheraFlu</h6>
<h6>Tibinide</h6>
<h6>Tibizide</h6>
<h6>Tiffy</h6>
<h6>Tisin</h6>
<h6>Tisiodrazida</h6>
<h6>Titralgan</h6>
<h6>Tizide</h6>
<h6>Tocris-1706</h6>
<h6>Toximer p</h6>
<h6>Tralgon</h6>
<h6>Treupel mon</h6>
<h6>Treupel N</h6>
<h6>Treuphadol</h6>
<h6>Triad</h6>
<h6>Triaminic sore throat formula</h6>
<h6>Triaprin</h6>
<h6>Tricoton</h6>
<h6>Tussapap</h6>
<h6>Tycolet</h6>
<h6>TYL</h6>
<h6>Tylenol allergy sinus</h6>
<h6>Tylenol arthritis extended relief</h6>
<h6>Tylenol caplets</h6>
<h6>Tylenol children's chewable tablets</h6>
<h6>Tylenol children's elixir</h6>
<h6>Tylenol children's suspension liquid</h6>
<h6>Tylenol drops</h6>
<h6>Tylenol elixir</h6>
<h6>Tylenol extra strength adult liquid pain reliever</h6>
<h6>Tylenol extra strength caplets</h6>
<h6>Tylenol extra strength gelcaps</h6>
<h6>Tylenol extra strength tablets</h6>
<h6>Tylenol gelcaps</h6>
<h6>Tylenol infants drops</h6>
<h6>Tylenol infants" suspension drops</h6>
<h6>Tylenol junior strength caplets</h6>
<h6>Tylenol junior strength chewable tablets</h6>
<h6>Tylenol regular strength caplets</h6>
<h6>Tylenol regular strength tablets</h6>
<h6>Tylenol tablets</h6>
<h6>Tylex</h6>
<h6>Tylex CD</h6>
<h6>Tylol</h6>
<h6>Tylox</h6>
<h6>Tylox-325</h6>
<h6>Tymol</h6>
<h6>Ultracet</h6>
<h6>Upsanol</h6>
<h6>Utragin</h6>
<h6>Valadol</h6>
<h6>Valgesic</h6>
<h6>Valorin</h6>
<h6>Valorin extra</h6>
<h6>Vanquish</h6>
<h6>Veralgina</h6>
<h6>Vermidon</h6>
<h6>Verpol</h6>
<h6>Viclor richet</h6>
<h6>Vicodin</h6>
<h6>Vicodin es</h6>
<h6>Vicodin HP</h6>
<h6>Vips</h6>
<h6>Viruflu</h6>
<h6>Vivimed</h6>
<h6>Volpan</h6>
<h6>Wygesic</h6>
<h6>Zatinol</h6>
<h6>Zolben</h6>
<h6>Acetaco</h6>
<h6>Anacin3</h6>
<h6>N-(4-Hydroxyphenyl)acetanilide</h6>
<h6>Acetominophen</h6>
<h6>Hydroxyacetanilide</h6>
<h6>Acetamidophenol</h6>
<h6>Anacin 3</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C8H9NO2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">N-(4-hydroxyphenyl)acetamide</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">103-90-2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">151.063328537</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Phenols</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">1-hydroxy-2-unsubstituted benzenoids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>33.5 +/- 22.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.71 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11 +/- 6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.3 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.1 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>33.5 +/- 22.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>50.71 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    