
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0032538 Triethanolamine </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0032538</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2,2',2''-NITRILOTRIETHANOL</h6>
<h6>2,2',2''-Nitrilotris(ethanol)</h6>
<h6>H3Tea</h6>
<h6>N(CH2CH2OH)3</h6>
<h6>Nitrilo-2,2',2''-triethanol</h6>
<h6>Nitrilotriethanol</h6>
<h6>TEA</h6>
<h6>Tris(2-hydroxyethyl)amine</h6>
<h6>Tris(beta-hydroxyethyl)amine</h6>
<h6>Trolamine</h6>
<h6>Mobisy</h6>
<h6>Tris(b-hydroxyethyl)amine</h6>
<h6>Tris(β-hydroxyethyl)amine</h6>
<h6>2,2', 2''-Nitrilotriethanol</h6>
<h6>2,2',2"-nitrilotriethanol</h6>
<h6>2,2',2''-Nitrilotri-ethanol</h6>
<h6>2,2',2''-Nitrilotris-ethanol</h6>
<h6>2,2',2''-Nitrilotrisethanol</h6>
<h6>2,2',2''-Nitrilotris[ethanol]</h6>
<h6>2,2',2''-Trihydroxy-triethylamine</h6>
<h6>2,2',2''-Trihydroxytriethylamine</h6>
<h6>2,2',2'-Nitrilotriethanol</h6>
<h6>2,2',2'-Nitrilotris-ethanol</h6>
<h6>2,2',2-Nitrilotriethanol</h6>
<h6>2,2',2-Nitrilotris(ethanol)</h6>
<h6>2,2',2Quot -nitrilotriethanol</h6>
<h6>2,2'2''-Nitrilotris-ethanol</h6>
<h6>2,2,2-Nitrilotriethanol</h6>
<h6>637-39-8 (Unspecified hydrochloride)</h6>
<h6>7376-31-0 (Unspecified sulfate salt)</h6>
<h6>7376-31-0 (Unspecified sulphate salt)</h6>
<h6>Alkano</h6>
<h6>Alkanolamine 244</h6>
<h6>BTB</h6>
<h6>Cerumenex</h6>
<h6>Daltogen</h6>
<h6>Ethanol, 2,2',2''-nitrilotris-, homopolymer</h6>
<h6>Mobisyl</h6>
<h6>Nitrilo-2,2',2quot -triethanol</h6>
<h6>Nitrilotris(ethanol)</h6>
<h6>Poly(triethanolamine) ether</h6>
<h6>Sodium isa</h6>
<h6>Sterolamide</h6>
<h6>Sting-kill</h6>
<h6>Tea (amino alcohol)</h6>
<h6>TEOA</h6>
<h6>Thiofaco T-35</h6>
<h6>Tri(hydroxyethyl)amine</h6>
<h6>Triaethanolamin-NG</h6>
<h6>Triethanolamin</h6>
<h6>Triethanolamin-NG</h6>
<h6>Triethanolamine condensate polymer</h6>
<h6>Triethanolamine homopolymer</h6>
<h6>Triethylolamine</h6>
<h6>Trihydroxyethylamine</h6>
<h6>Trihydroxytriethylamine</h6>
<h6>Tris(2-hydroxyethyl) amine</h6>
<h6>Tris(beta -hydroxyethyl)amine</h6>
<h6>Tris(hydroxyethyl)amine</h6>
<h6>Trola</h6>
<h6>Trolamine (NF)</h6>
<h6>Triethanolamine acetate</h6>
<h6>Triethanolamine hydrochloride</h6>
<h6>Triethanolamine iodohydrate</h6>
<h6>Triethanolamine sulfate</h6>
<h6>Triethanolamine citrate</h6>
<h6>Triethanolamine titanium salt</h6>
<h6>Triethanolamine citrate (1:1)</h6>
<h6>Triethanolamine maleate</h6>
<h6>Triethanolamine phosphate</h6>
<h6>Triethanolamine tartrate (1:1), (R-(r*,r*))-isomer</h6>
<h6>Triethanolammonium chloride</h6>
<h6>Triethanolamine copper salt</h6>
<h6>Triethanolamine sulfate (2:1)</h6>
<h6>Triethanolamine sulfite (1:1)</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C6H15NO3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-[bis(2-hydroxyethyl)amino]ethan-1-ol</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">102-71-6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">149.105193351</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic nitrogen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Organonitrogen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Amines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>0.00142(0.00095-0.00202) umol/mmol creatinine</td>
      <td>None</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00120(0.00095-0.00153) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.000941 (0.000872-0.00102) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00117 (0.00104-0.00131) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feces</td>
      <td>63.196 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Immunoglobulin A nephropathy</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>84.261 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Immunoglobulin A nephropathy</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>84.261 (0-400.241) nmol/g wet feces</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Autism</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>84.261 (0-315.980) nmol/g wet feces</td>
      <td>Children (1 - 13 years old)</td>
      <td>Both</td>
      <td>Developmental Disorder Not Otherwise Specified</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    