
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001072 Coenzyme Q10 </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED25293627" %}' target="_blank">25293627<a>, <a style="font-family: monospace;" href='{% url "PUBMED23857124" %}' target="_blank">23857124<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001072</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-((all-e)-3,7,11,15,19,23,27,31,35,39-Decamethyl-2,6,10,14,18,22,26,30,34,38-tetracontadecaenyl)-5,6-dimethoxy-3-methyl-p-benzoquinone</h6>
<h6>2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,15,19,23,27,31,35,39-Decamethyltetraconta-2,6,10,14,18,22,26,30,34,38-decaen-1-yl]-5,6-dimethoxy-3-methyl-1,4-benzoquinone</h6>
<h6>Adelir</h6>
<h6>all-trans-Ubiquinone</h6>
<h6>CoQ</h6>
<h6>CoQ10</h6>
<h6>Q</h6>
<h6>Q 199</h6>
<h6>Q10</h6>
<h6>Ubidecarenone</h6>
<h6>Ubiquinone</h6>
<h6>Ubiquinone 10</h6>
<h6>Ubiquinone 50</h6>
<h6>UBIQUINONE-10</h6>
<h6>CoQ 10</h6>
<h6>2,3-Dimethoxy-5-methyl-6-decaprenylbenzoquinone</h6>
<h6>Bio-quinone Q10</h6>
<h6>Ubiquinone Q10</h6>
<h6>Q-Ter</h6>
<h6>CO-Enzyme Q10</h6>
<h6>(all-e)-2,3-Dimethoxy-5-methyl-6-(3,7,11,15,19,23,27,31-octamethyl-2,6,10,14,18,22,26,30-dotriacontaoctaenyl)-2,5-cyclohexadiene-1,4-dione</h6>
<h6>(all-e)-2-(3,7,11,15,19,23,27,31,35,39-Decamethyl-2,6,10,14,18,22,26,30,34,38-tetracontadecaenyl)-5,6-dimethoxy-3-methyl-2,5-cyclohexadiene-1,4-dione</h6>
<h6>2-(3,7,11,15,19,23,27,31,35,39-Decamethyl-2,6,10,14,18,22,26,30,34,38-tetracontadecaenyl)-5,6-dimethoxy-3-methyl-p-benzoquinone</h6>
<h6>2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,15,19,23,27,31,35,39-Decamethyl-2,6,10,14,18,22,26,30,34,38-tetracontadecaenyl]-5,6-dimethoxy-3-methyl- 2,5-cyclohexadiene-1,4-dione</h6>
<h6>4-Ethyl-5-fluoropyrimidine</h6>
<h6>Aqua Q 10l10</h6>
<h6>Aqua Q10</h6>
<h6>Bio-quinon</h6>
<h6>Ensorb</h6>
<h6>Kaneka Q10</h6>
<h6>Kudesan</h6>
<h6>Li-Q-sorb</h6>
<h6>Liquid-Q</h6>
<h6>Neuquinon</h6>
<h6>Neuquinone</h6>
<h6>PureSorb Q 40</h6>
<h6>Q 10AA</h6>
<h6>Q-Gel</h6>
<h6>Q-Gel 100</h6>
<h6>Unbiquinone</h6>
<h6>Unispheres Q 10</h6>
<h6>Coenzyme Q10</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C59H90O4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-[(2E,6E,10E,14E,18E,22E,26E,30E,34E)-3,7,11,15,19,23,27,31,35,39-decamethyltetraconta-2,6,10,14,18,22,26,30,34,38-decaen-1-yl]-5,6-dimethoxy-3-methylcyclohexa-2,5-diene-1,4-dione</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">303-98-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">862.683911368</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Prenol lipids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Quinone and hydroquinone lipids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>1.17 +/- 0.12 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.65 +/- 0.18 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.85 (0.46-1.33) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.040 +/- 0.014 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.056 +/- 0.023 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.31 +/- 0.42 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>5.19 +/- 0.84 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Transaldolase deficiency</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.91 +/- 0.26 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.84 +/- 0.13 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.60 +/- 1.55 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    