
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0014466 Amitriptyline </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0014466</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>10,11-Dihydro-5-(gamma-dimethylaminopropylidene)-5H-dibenzo(a,D)cycloheptene</h6>
<h6>10,11-Dihydro-N,N-dimethyl-5H-dibenzo(a,D)heptalene-Delta(5),gamma-propylamine</h6>
<h6>3-(10,11-Dihydro-5H-dibenzo(a,D)cyclohepten-5-ylidene)-N,N-dimethyl-1-propanamine</h6>
<h6>3-(10,11-Dihydro-5H-dibenzo[a,D]cyclohepten-5-ylidene)-N,N-dimethylpropan-1-amine</h6>
<h6>5-(3-Dimethylaminopropylidene)-10,11-dihydro-5H-dibenzo(a,D)cycloheptatriene</h6>
<h6>5-(3-Dimethylaminopropylidene)-10,11-dihydro-5H-dibenzo(a,D)cycloheptene</h6>
<h6>5-(gamma-Dimethylaminopropylidene)-5H-dibenzo[a,D][1,4]cycloheptadiene</h6>
<h6>Amitriptylin</h6>
<h6>Laroxyl</h6>
<h6>10,11-Dihydro-5-(g-dimethylaminopropylidene)-5H-dibenzo(a,D)cycloheptene</h6>
<h6>10,11-Dihydro-5-(γ-dimethylaminopropylidene)-5H-dibenzo(a,D)cycloheptene</h6>
<h6>10,11-Dihydro-N,N-dimethyl-5H-dibenzo(a,D)heptalene-delta(5),g-propylamine</h6>
<h6>10,11-Dihydro-N,N-dimethyl-5H-dibenzo(a,D)heptalene-δ(5),γ-propylamine</h6>
<h6>5-(g-Dimethylaminopropylidene)-5H-dibenzo[a,D][1,4]cycloheptadiene</h6>
<h6>5-(Γ-dimethylaminopropylidene)-5H-dibenzo[a,D][1,4]cycloheptadiene</h6>
<h6>10,11-Dihydro-N,N-dimethyl-5H-dibenzo(a,D)heptalene-δ(5),g-propylamine</h6>
<h6>Amitriprolidine</h6>
<h6>Amitryptiline</h6>
<h6>Amitryptyline</h6>
<h6>Amytriptiline</h6>
<h6>APS brand OF amitriptyline hydrochloride</h6>
<h6>Amitriptylin beta</h6>
<h6>Apo-amitriptyline</h6>
<h6>Apotex brand OF amitriptyline hydrochloride</h6>
<h6>Bayer brand OF amitriptyline hydrochloride</h6>
<h6>Desitin, amitriptylin</h6>
<h6>Domical</h6>
<h6>Douglas brand OF amitriptyline hydrochloride</h6>
<h6>Goldshield brand OF amitriptyline hydrochloride</h6>
<h6>Merck brand OF amitriptyline hydrochloride</h6>
<h6>Merck sharp and dohme brand OF amitriptyline embonate</h6>
<h6>Rodleben brand OF amitriptyline hydrochloride</h6>
<h6>Saroten</h6>
<h6>Tryptine</h6>
<h6>Amitriptylin RPH</h6>
<h6>Amitrol</h6>
<h6>Apo amitriptyline</h6>
<h6>ApoAmitriptyline</h6>
<h6>Cahill may roberts brand OF amitriptyline hydrochloride</h6>
<h6>Novoprotect</h6>
<h6>Rhône poulenc rorer brand OF amitriptyline hydrochloride</h6>
<h6>Tryptanol</h6>
<h6>Tryptizol</h6>
<h6>beta, Amitriptylin</h6>
<h6>Alphapharm brand OF amitriptyline hydrochloride</h6>
<h6>Amitrip</h6>
<h6>Amitriptylin-neuraxpharm</h6>
<h6>Amitriptylinneuraxpharm</h6>
<h6>Anapsique</h6>
<h6>Cahill may roberts brand OF amitriptyline embonate</h6>
<h6>Damilen</h6>
<h6>Desitin brand OF amitriptyline hydrochloride</h6>
<h6>Endep</h6>
<h6>Hexal brand OF amitriptyline hydrochloride</h6>
<h6>Krewel brand OF amitriptyline hydrochloride</h6>
<h6>Protea brand OF amitriptyline hydrochloride</h6>
<h6>Psicofarma brand OF amitriptyline hydrochloride</h6>
<h6>RPH, Amitriptylin</h6>
<h6>Rhône-poulenc rorer brand OF amitriptyline hydrochloride</h6>
<h6>Roche brand OF amitriptyline hydrochloride</h6>
<h6>Sarotex</h6>
<h6>Syneudon</h6>
<h6>Triptafen</h6>
<h6>Amineurin</h6>
<h6>Amitriptylin desitin</h6>
<h6>Amitriptylin neuraxpharm</h6>
<h6>Amitriptyline hydrochloride</h6>
<h6>Amrad brand OF amitriptyline hydrochloride</h6>
<h6>Betapharm brand OF amitriptyline hydrochloride</h6>
<h6>DDSA brand OF amitriptyline hydrochloride</h6>
<h6>Elavil</h6>
<h6>Lentizol</h6>
<h6>Lundbeck brand OF amitriptyline hydrochloride</h6>
<h6>Merck sharp and dohme brand OF amitriptyline hydrochloride</h6>
<h6>Neuro hexal brand OF amitriptyline hydrochloride</h6>
<h6>Parke davis brand OF amitriptyline hydrochloride</h6>
<h6>Zeneca brand OF amitriptyline hydrochloride</h6>
<h6>Neuraxpharm brand OF amitriptyline hydrochloride</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C20H23N</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">dimethyl(3-{tricyclo[9.4.0.0³,⁸]pentadeca-1(15),3,5,7,11,13-hexaen-2-ylidene}propyl)amine</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">50-48-6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">277.183049741</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Dibenzocycloheptenes</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">None</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feces</td>
      <td>0-41556.0535 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Treated celiac disease</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>106.121 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>525.782 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>294.245 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>0-5716.0677 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feces</td>
      <td>0-41556.0535 nmol/g wet feces</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Treated celiac disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    