
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001139 Prostaglandin F2a </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001139</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(+)-Prostaglandin F2a</h6>
<h6>(5Z,13E)-(15S)-9-alpha,11-alpha,15-Trihydroxyprosta-5,13-dienoate</h6>
<h6>(5Z,13E)-(15S)-9-alpha,11-alpha,15-Trihydroxyprosta-5,13-dienoic acid</h6>
<h6>(5Z,13E,15S)-9a,11a,15-Trihydroxyprosta-5,13-dien-1-Oate</h6>
<h6>(5Z,13E,15S)-9a,11a,15-Trihydroxyprosta-5,13-dien-1-Oic acid</h6>
<h6>(5Z,9a,11a,13E,15S)-9,11,15-Trihydroxy-prosta-5,13-dien-1-Oate</h6>
<h6>(5Z,9a,11a,13E,15S)-9,11,15-Trihydroxy-prosta-5,13-dien-1-Oic acid</h6>
<h6>(9alpha,11alpha,15)-Trihydroxyprosta-(5Z,13E)-dien-1-Oate</h6>
<h6>(9alpha,11alpha,15)-Trihydroxyprosta-(5Z,13E)-dien-1-Oic acid</h6>
<h6>7-[3,5-Dihydroxy-2-(3-hydroxy-1-octenyl)cyclopentyl]-5-heptenoate</h6>
<h6>7-[3,5-Dihydroxy-2-(3-hydroxy-1-octenyl)cyclopentyl]-5-heptenoic acid</h6>
<h6>9,11,15-Trihydroxy-(5Z,9a,11a,13E,15S)-prosta-5,13-dien-1-Oate</h6>
<h6>9,11,15-Trihydroxy-(5Z,9a,11a,13E,15S)-prosta-5,13-dien-1-Oic acid</h6>
<h6>9,11,15-Trihydroxyprosta-5Z,13E-dien-1-Oate</h6>
<h6>9,11,15-Trihydroxyprosta-5Z,13E-dien-1-Oic acid</h6>
<h6>9a,11a,15(S)-Trihydroxy-5-cis-13-trans-prostadienoate</h6>
<h6>9a,11a,15(S)-Trihydroxy-5-cis-13-trans-prostadienoic acid</h6>
<h6>9a,11a-PGF2</h6>
<h6>9a,11a-PGF2a</h6>
<h6>Amoglandin</h6>
<h6>Cyclosin</h6>
<h6>Dinifertin</h6>
<h6>Dinoprost</h6>
<h6>Enzaprost</h6>
<h6>Enzaprost F</h6>
<h6>F2a Isoprostane</h6>
<h6>Glandin N</h6>
<h6>L-PGF2-alpha</h6>
<h6>L-Prostaglandin F2-alpha</h6>
<h6>Panacelan</h6>
<h6>PGF2a</h6>
<h6>Prostaglandin F2</h6>
<h6>Prostamate</h6>
<h6>Prostarmon F</h6>
<h6>Prostin F 2 alpha</h6>
<h6>Protamodin</h6>
<h6>9alpha,11beta PGF2</h6>
<h6>9alpha,11beta-PGF2</h6>
<h6>Estrofan</h6>
<h6>F2 alpha, Prostaglandin</h6>
<h6>F2alpha, Prostaglandin</h6>
<h6>PGF2</h6>
<h6>PGF2 alpha</h6>
<h6>PGF2alpha</h6>
<h6>Prostaglandin F2 alpha</h6>
<h6>Prostaglandin F2alpha</h6>
<h6>alpha, PGF2</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C20H34O5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(5E)-7-[(1R,2R,3R,5S)-3,5-dihydroxy-2-[(1E,3S)-3-hydroxyoct-1-en-1-yl]cyclopentyl]hept-5-enoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">551-11-1</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">354.240624198</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Fatty Acyls</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Eicosanoids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.0010 +/- 0.0002 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0005 +/- 0.0001 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0016 +/- 0.0004 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0007 +/- 0.0001 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000545 0.0000(4799 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>HIV-Seropositive, Dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000500 (0.000452-0.000545) uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>HIV-Seropositive (Neurologically normal)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000053 +/- 0.000012 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000371 +/- 0.000144 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00033 +/- 0.000018 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000248 +/- 0.00013 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>7.340e-05 +/- 8.469e-06 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00007340 +/- 0.000008469 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.002 (0.0-0.004) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00091 +/- 0.00008 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00013 +/- 0.00020 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00021 +/- 0.000053 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00031 +/- 0.00012 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0000924 (0.0000588-0.000126) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.0010 +/- 0.0002 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0005 +/- 0.0001 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0016 +/- 0.0004 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0007 +/- 0.0001 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiac arrest</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000545 0.0000(4799 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>HIV-Seropositive, Dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000500 (0.000452-0.000545) uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>HIV-Seropositive (Neurologically normal)</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    