
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001414 Putrescine </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED33670046" %}' target="_blank">33670046<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001414</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1,4-Butanediamine</h6>
<h6>1,4-Butylenediamine</h6>
<h6>1,4-DIAMINOBUTANE</h6>
<h6>1,4-Tetramethylenediamine</h6>
<h6>Butane-1,4-diamine</h6>
<h6>Butylenediamine</h6>
<h6>H2N(CH2)4nh2</h6>
<h6>Putrescin</h6>
<h6>Putrescina</h6>
<h6>Putreszin</h6>
<h6>Tetramethylendiamin</h6>
<h6>Tetramethylenediamine</h6>
<h6>1,4-Butanediammonium</h6>
<h6>Tetramethyldiamine</h6>
<h6>1,4 Diaminobutane</h6>
<h6>1,4 Butanediamine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C4H12N2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">butane-1,4-diamine</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">110-60-1</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">88.100048394</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic nitrogen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Organonitrogen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Amines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.11 +/- 0.09 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.13(0.07-0.19) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.880 +/- 0.310 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>40.66 +/- 9.77 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>27.12 +/- 15.48 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>31.46 +/- 11.05 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.4275 +/- 1.5682 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.1778 +/- 0.1833 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.350 +/- 0.097 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.78 +/- 2.972 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.46 +/- 0.067 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Pancreatic cancer</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.060-0.420 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.214 +/- 0.08 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.05 +/- 0.03 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.240 +/- 0.0898 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.12(0.07-0.17) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.23 +/- 0.05 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>40 +/- 70 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>10 +/- 10 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>374.6 +/- 215.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>12.7 +/- 13.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>20.6 +/- 14.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>34.93 +/- 24.67 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>136.76 +/- 111.97 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.35 (0.08-1.06) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.1439 +/- 0.1181 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.098 +/- 0.009 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.032 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.12 +/- 2.918 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.03-3.42 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.16(0.05-1.14) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.12(0.03-3.68) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.20 (0.04-0.40) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.076 +/- 0.011 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.8 +/- 0.46 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.11 +/- 0.09 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.13(0.07-0.19) uM</td>
      <td>Children (1-13 uears old)</td>
      <td>Both</td>
      <td>Environmental enteric dysfunction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.880 +/- 0.310 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>40.66 +/- 9.77 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>27.12 +/- 15.48 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>31.46 +/- 11.05 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.4275 +/- 1.5682 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.1778 +/- 0.1833 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.350 +/- 0.097 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Leukemia</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.78 +/- 2.972 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.46 +/- 0.067 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Pancreatic cancer</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    