
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0015364 Dexamethasone </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0015364</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1-Dehydro-16alpha-methyl-9alpha-fluorohydrocortisone</h6>
<h6>16alpha-Methyl-9alpha-fluoro-1-dehydrocortisol</h6>
<h6>9alpha-Fluoro-16alpha-methylprednisolone</h6>
<h6>Decadron</h6>
<h6>Dexametasona</h6>
<h6>Dexamethasonum</h6>
<h6>Maxidex</h6>
<h6>1-Dehydro-16a-methyl-9a-fluorohydrocortisone</h6>
<h6>1-Dehydro-16α-methyl-9α-fluorohydrocortisone</h6>
<h6>16a-Methyl-9a-fluoro-1-dehydrocortisol</h6>
<h6>16Α-methyl-9α-fluoro-1-dehydrocortisol</h6>
<h6>9a-Fluoro-16a-methylprednisolone</h6>
<h6>9Α-fluoro-16α-methylprednisolone</h6>
<h6>1-Dehydro-16alpha -methyl-9alpha -fluorohydrocortisone</h6>
<h6>16-alpha-Methyl-9-alpha-fluoro-1-dehydrocortisol</h6>
<h6>16-alpha-Methyl-9-alpha-fluoro-delta1-hydrocortisone</h6>
<h6>16-alpha-Methyl-9-alpha-fluoroprednisolone</h6>
<h6>16alpha -Methyl-9alpha -fluoro-1-dehydrocortisol</h6>
<h6>16alpha -Methyl-9alpha -fluoroprednisolone</h6>
<h6>16alpha-Methyl-9alpha-fluoroprednisolone</h6>
<h6>9-alpha-Fluoro-16-alpha-methylprednisolone</h6>
<h6>9-Fluoro-11,17,21-trihydroxy-16-methylpregna-1,4-diene-3,20-dione</h6>
<h6>9-Fluoro-11alpha -methylpregna-1,4-diene-3,20-dione</h6>
<h6>9-Fluoro-16-methylprednisolone</h6>
<h6>9a-Fluoro-16BETA-methylprednisolone</h6>
<h6>9alpha -Fluoro-16alpha -methylprednisolone</h6>
<h6>9alpha-Fluoro-16alpha-methyl-prednisolone</h6>
<h6>Aeroseb-D</h6>
<h6>Aeroseb-dex</h6>
<h6>Ak dex OPH otic soln 0.1%</h6>
<h6>alpha -Fluoro-16-alpha -methylcortisol</h6>
<h6>Anaflogistico</h6>
<h6>Aphtasolon</h6>
<h6>Apo-dexamethasone</h6>
<h6>Auxiron</h6>
<h6>Azimycin (veterinary)</h6>
<h6>Azium</h6>
<h6>Azium (veterinary)</h6>
<h6>Bisu DS</h6>
<h6>Calonat</h6>
<h6>Corson</h6>
<h6>Corsone</h6>
<h6>Cortisumman</h6>
<h6>Decacortin</h6>
<h6>Decaderm</h6>
<h6>Decagel</h6>
<h6>Decalix</h6>
<h6>Decasone</h6>
<h6>Decaspray</h6>
<h6>Dectancyl</h6>
<h6>Dekacort</h6>
<h6>Delta1-9alpha-Fluoro-16alpha-methylcortisol</h6>
<h6>Deltafluorene</h6>
<h6>Dergramin</h6>
<h6>Desadrene</h6>
<h6>Desametasone</h6>
<h6>Desamethasone</h6>
<h6>Desameton</h6>
<h6>Deseronil</h6>
<h6>DEX</h6>
<h6>Dex-ide</h6>
<h6>DEXA</h6>
<h6>Dexa mamallet</h6>
<h6>Dexa-cortidelt</h6>
<h6>Dexa-cortisyl</h6>
<h6>Dexa-scheroson</h6>
<h6>Dexa-sine</h6>
<h6>Dexacidin</h6>
<h6>Dexacort</h6>
<h6>Dexacortal</h6>
<h6>Dexacortin</h6>
<h6>Dexadeltone</h6>
<h6>Dexafarma</h6>
<h6>Dexalona</h6>
<h6>Dexametasone</h6>
<h6>Dexameth</h6>
<h6>Dexamethansone</h6>
<h6>Dexamethasone acetate</h6>
<h6>Dexamethasone alcohol</h6>
<h6>Dexamethasone base</h6>
<h6>Dexamethasone intensol</h6>
<h6>Dexamethasone sodium phosphate</h6>
<h6>Dexamethasone-omega</h6>
<h6>Dexamethazone</h6>
<h6>Dexapolcort</h6>
<h6>Dexapos</h6>
<h6>Dexaprol</h6>
<h6>Dexason</h6>
<h6>Dexasone</h6>
<h6>Dexasone 0.5MG</h6>
<h6>Dexasone 0.75MG</h6>
<h6>Dexasone 4MG</h6>
<h6>Dexasporin</h6>
<h6>Dexinolon</h6>
<h6>Dexinoral</h6>
<h6>Dexone</h6>
<h6>DEXONE 0.5</h6>
<h6>DEXONE 0.75</h6>
<h6>DEXONE 1.5</h6>
<h6>DEXONE 4</h6>
<h6>Dextelan</h6>
<h6>Dezone</h6>
<h6>Dinormon</h6>
<h6>DXM</h6>
<h6>DXMS</h6>
<h6>Fluormethylprednisolone</h6>
<h6>Fortecortin</h6>
<h6>Gammacorten</h6>
<h6>Hexadecadrol</h6>
<h6>Hexadrol</h6>
<h6>Hexadrol elixir</h6>
<h6>HL-Dex</h6>
<h6>Isopto-dex</h6>
<h6>Lokalison F</h6>
<h6>Loverine</h6>
<h6>Luxazone</h6>
<h6>Maxidex ont 0.1%</h6>
<h6>Maxidex sus 0.1%</h6>
<h6>Maxitrol</h6>
<h6>Mediamethasone</h6>
<h6>Methylfluorprednisolone</h6>
<h6>Mexidex</h6>
<h6>Mymethasone</h6>
<h6>Naquasone (veterinary)</h6>
<h6>Neomycin and polymyxin b sulfates and dexamethasone</h6>
<h6>Neomycin and polymyxin b sulphates and dexamethasone</h6>
<h6>NSC 34521</h6>
<h6>Ocu-trol</h6>
<h6>Oradexon</h6>
<h6>Pet derm III</h6>
<h6>PHL-Dexamethasone</h6>
<h6>PMS Dexamethasone elixir 0.5mg/5ML</h6>
<h6>PMS-Dexamethasone</h6>
<h6>Policort</h6>
<h6>Prednisolon F</h6>
<h6>Prednisolone F</h6>
<h6>Prodex</h6>
<h6>Sandoz dexamethasone</h6>
<h6>SK-Dexamethasone</h6>
<h6>Spoloven</h6>
<h6>Sunia sol D</h6>
<h6>Superprednol</h6>
<h6>Tobradex</h6>
<h6>Tobramycin and dexamethasone</h6>
<h6>Tresaderm (veterinary)</h6>
<h6>Turbinaire</h6>
<h6>Visumetazone</h6>
<h6>Millicorten</h6>
<h6>Decaject-l.a.</h6>
<h6>Decameth</h6>
<h6>Dexpak</h6>
<h6>Foy brand OF dexamethasone</h6>
<h6>Merz brand 1 OF dexamethasone</h6>
<h6>Merz brand 2 OF dexamethasone</h6>
<h6>ICN brand OF dexamethasone</h6>
<h6>Alcon brand OF dexamethasone</h6>
<h6>Decaject</h6>
<h6>Decaject l.a.</h6>
<h6>ECR brand OF dexamethasone</h6>
<h6>Merck brand OF dexamethasone</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C22H29FO5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(1R,2S,10S,11S,13R,14R,15S,17S)-1-fluoro-14,17-dihydroxy-14-(2-hydroxyacetyl)-2,13,15-trimethyltetracyclo[8.7.0.0²,⁷.0¹¹,¹⁵]heptadeca-3,6-dien-5-one</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">50-02-2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">392.199902243</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Steroids and steroid derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Hydroxysteroids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Saliva</td>
      <td>0.688 +/- 0.530 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.425 +/- 0.279 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>630 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Molybdenum cofactor deficiency</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    