
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000243 Pyruvic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED23675754" %}' target="_blank">23675754<a>, <a style="font-family: monospace;" href='{% url "PUBMED34944874" %}' target="_blank">34944874<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000243</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-Ketopropionic acid</h6>
<h6>2-Oxopropanoic acid</h6>
<h6>2-Oxopropansaeure</h6>
<h6>2-Oxopropionsaeure</h6>
<h6>Acetylformic acid</h6>
<h6>Acide pyruvique</h6>
<h6>alpha-Ketopropionic acid</h6>
<h6>alpha-Oxopropionsaeure</h6>
<h6>Brenztraubensaeure</h6>
<h6>BTS</h6>
<h6>CH3COCOOH</h6>
<h6>Pyroracemic acid</h6>
<h6>2-Oxopropanoate</h6>
<h6>2-Ketopropionate</h6>
<h6>Acetylformate</h6>
<h6>a-Ketopropionate</h6>
<h6>a-Ketopropionic acid</h6>
<h6>alpha-Ketopropionate</h6>
<h6>Α-ketopropionate</h6>
<h6>Α-ketopropionic acid</h6>
<h6>a-Oxopropionsaeure</h6>
<h6>Α-oxopropionsaeure</h6>
<h6>Pyroracemate</h6>
<h6>Pyruvate</h6>
<h6>2-Oxopropionate</h6>
<h6>2-Oxopropionic acid</h6>
<h6>Acid, pyruvic</h6>
<h6>Pyruvic acid</h6>
<h6>alpha-Ketopropanoic acid</h6>
<h6>α-Ketopropanoic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C3H4O3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-oxopropanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">127-17-3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">88.016043994</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Keto acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Alpha-keto acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>77.9 (32.4)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Down syndrome pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>61.0 (26.4)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>150 (120-170) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>500 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Fructose-1,6-bisphosphatase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1090 (650-1520) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>710 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>800-900 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Mitochondrial pyruvate carrier deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>670 +/- 990 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency (E1)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>560 +/- 830 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency E1-alpha</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>400 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Pyruvate dehydrogenase phosphatase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50.2 +/- 40 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>60-240 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>499.647 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Leigh Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>74.66 +/- 35.11  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetuses with trisomy 18</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>59.70 +/- 23.3  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>500 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Lyase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89.3 (27.0)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Early preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>400-40200 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Lyase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>71.3 (26.7) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>102-230 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>270 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5-440 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>63.92 (19.24) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>54.52 (25.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.1 (45.8)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Late-onset preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>62.1 (24.1)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>120(80-160) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GRACILE syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>160-320 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Dihydrolipoamide Dehydrogenase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>440 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>93.5 (27.0-160.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-methylglutaconic aciduria type II, X-linked</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>313 +/- 31 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Glucagon deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>60 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Synthase Deficiency</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>140 (130-150) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Anoxia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>195.0 (175.0-215.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Meningitis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>49 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Isolated 3-Methylcrotonyl-CoA Carboxylase Deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>253 - 345 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>570 +/- 400 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency (E1)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>480 +/- 270 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency E1-alpha</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>176.900-191.400 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>360 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>149.14 +/- 172.29 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>72.05 +/- 29.52 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>138.32 +/- 112.14 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.2 (0.10-0.30) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>3-Methylglutaconic Aciduria (TYPE II), X-LINKED</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>400-1255 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.988 +/- 10.859 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.226 +/- 13.63 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>54.585 +/- 36.553 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.58 (18.06 – 104.62) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Type 1 diabetes Mellitus</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>34.5 +/- 25.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;150 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;200 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64 (22-258) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>100 (50-190) uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>56.778 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>81.0 +/- 34.0 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>76.0 +/- 10.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>63.0 +/- 25.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40-100 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>75.5 (10.0-141.0) uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50-140 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40-70 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;200 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22.00-258.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64 (28-145) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64 (29-144) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>67 (27-164) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>64 (29-144) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>66 (34-117) uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>5.7 +/- 3.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>77.0 (27.0-127) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>360 (350-370) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>153.0 (121.0-185.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>27 +/- 11 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>30 -130 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>53 +/- 42 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>71.0 +/- 31.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>50-140 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>115.0 +/- 17.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>136.0 +/- 29.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>13361.783 (3633.799-23089.767) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>27783.424 (17336.251-38230.597) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>62607.334 (33271.975-91942.693) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>43.3 +/- 65.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>62.5 +/- 47.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>9 (&lt;1-78) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>32 (&lt;1-849) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>68.6 +/- 69.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>36 (9-395) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>15 (7-91) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>350 +/- 740 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2310 +/- 3470 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1830 +/- 2960 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>470 +/- 610 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>410 +/- 1000 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>16.0 +/- 18.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>290 +/- 620 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>200 +/- 330 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5350 (100-10600) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>107.45 +/- 64.52 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1-128 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1-76 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>85.38 +/- 94.78 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-30 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>19.55-89.06 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.86(23.57-47.66) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>34.18(19.29-92.98) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.79 +/- 9.34 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.1 (1.0-3.7) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14-28.0 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14.0-23.6 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.9-30.6 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.27-79.53 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>17.3-35.1 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.21 +/- 1.37 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.349 +/- 4.704 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.7985 (0-3.597) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.4 (2.6-7.9) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.7 (0.8-6.4) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>21.2 (8.8-59.3) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>51.865 +/- 15.608 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>28.6 (12.9-43.0) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12.4 (5.3-22.1) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.2 (4.7-40.5) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>38.50 (18.32 – 69.64)  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.13 (0.54-8.67) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.68 (0.62-3.30) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13-41 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>77.9 (32.4)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Down syndrome pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>61.0 (26.4)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>150 (120-170) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>500 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Fructose-1,6-bisphosphatase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1090 (650-1520) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>710 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Myopathy with lactic acidosis, hereditary</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>800-900 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Mitochondrial pyruvate carrier deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>670 +/- 990 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency (E1)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>560 +/- 830 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency E1-alpha</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>400 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Pyruvate dehydrogenase phosphatase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>50.2 +/- 40 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>60-240 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>499.647 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Leigh Syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>74.66 +/- 35.11  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetuses with trisomy 18</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>59.70 +/- 23.3  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>500 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Lyase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>89.3 (27.0)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Early preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>400-40200 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Lyase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>71.3 (26.7) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>102-230 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>270 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5-440 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>63.92 (19.24) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>54.52 (25.5)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>83.1 (45.8)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Late-onset preeclampsia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>62.1 (24.1)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>120(80-160) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GRACILE syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>160-320 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Dihydrolipoamide Dehydrogenase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>440 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>93.5 (27.0-160.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>3-methylglutaconic aciduria type II, X-linked</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>313 +/- 31 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Glucagon deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>60 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>3-Hydroxy-3-Methylglutaryl-CoA Synthase Deficiency</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>140 (130-150) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Anoxia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>195.0 (175.0-215.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Meningitis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>49 uM</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Isolated 3-Methylcrotonyl-CoA Carboxylase Deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>253 - 345 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>570 +/- 400 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency (E1)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>480 +/- 270 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pyruvate dehydrogenase deficiency E1-alpha</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>176.900-191.400 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>360 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>149.14 +/- 172.29 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>72.05 +/- 29.52 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>138.32 +/- 112.14 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.2 (0.10-0.30) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>3-Methylglutaconic Aciduria (TYPE II), X-LINKED</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>400-1255 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pearson Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.988 +/- 10.859 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.226 +/- 13.63 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>54.585 +/- 36.553 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.58 (18.06 – 104.62) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Type 1 diabetes Mellitus</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    