
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000197 Indoleacetic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED29896992" %}' target="_blank">29896992<a>, <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED21411176" %}' target="_blank">21411176<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED25859693" %}' target="_blank">25859693<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED28803255" %}' target="_blank">28803255<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED30805978" %}' target="_blank">30805978<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000197</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(indol-3-yl)Acetate</h6>
<h6>(indol-3-yl)Acetic acid</h6>
<h6>2-(indol-3-yl)Ethanoic acid</h6>
<h6>3-Indolylessigsaeure</h6>
<h6>Heteroauxin</h6>
<h6>IAA</h6>
<h6>IES</h6>
<h6>Indole-3-acetic acid</h6>
<h6>Indoleacetate</h6>
<h6>(1H-indol-3-yl)Acetate</h6>
<h6>2-(indol-3-yl)Ethanoate</h6>
<h6>Indole-3-acetate</h6>
<h6>(1H-indol-3-yl)Acetic acid</h6>
<h6>(1H-indol-3-yl)-Acetate</h6>
<h6>(1H-indol-3-yl)-Acetic acid</h6>
<h6>1H-indol-3-Ylacetate</h6>
<h6>1H-indol-3-Ylacetic acid</h6>
<h6>1H-Indole-3-acetate</h6>
<h6>1H-Indole-3-acetic acid</h6>
<h6>2-(1H-indol-3-yl)Acetate</h6>
<h6>2-(1H-indol-3-yl)Acetic acid</h6>
<h6>2-(3-Indolyl)acetate</h6>
<h6>2-(3-Indolyl)acetic acid</h6>
<h6>3-(Carboxymethyl)indole</h6>
<h6>3-IAA</h6>
<h6>3-Indole-acetic acid</h6>
<h6>3-Indoleacetate</h6>
<h6>3-Indoleacetic acid</h6>
<h6>3-Indolylacetate</h6>
<h6>3-Indolylacetic acid</h6>
<h6>alpha-indol-3-yl-Acetic acid</h6>
<h6>b-Indoleacetate</h6>
<h6>b-Indoleacetic acid</h6>
<h6>b-Indolylacetate</h6>
<h6>b-Indolylacetic acid</h6>
<h6>beta-Indole-3-acetic acid</h6>
<h6>beta-Indoleacetate</h6>
<h6>beta-Indoleacetic acid</h6>
<h6>beta-Indolylacetate</h6>
<h6>beta-Indolylacetic acid</h6>
<h6>indol-3-Ylacetate</h6>
<h6>indol-3-Ylacetic acid</h6>
<h6>Indolyl-3-acetate</h6>
<h6>Indolyl-3-acetic acid</h6>
<h6>Indolylacetate</h6>
<h6>Indolylacetic acid</h6>
<h6>Kyselina 3-indolyloctova</h6>
<h6>Rhizopin</h6>
<h6>Rhizopon a</h6>
<h6>Skatole carboxylate</h6>
<h6>Skatole carboxylic acid</h6>
<h6>Indoleacetic acid, calcium salt</h6>
<h6>Indoleacetic acid, monopotassium salt</h6>
<h6>Indoleacetic acid, monosodium salt</h6>
<h6>IES CPD</h6>
<h6>Indole acetic acid</h6>
<h6>Indoleacetic acid, alpha-(14)C-labeled</h6>
<h6>(R,R)-3,3'-Dithiobis(2-aminopropanoic acid)</h6>
<h6>(R-(R*,r*))-3,3'-dithiobis(2-aminopropanoic acid)</h6>
<h6>3,3'-Dithiobis-L-alanine</h6>
<h6>beta,Beta'-diamino-beta,beta'-dicarboxydiethyl disulfide</h6>
<h6>beta,Beta'-dithiodialanine</h6>
<h6>Bis(beta-amino-beta-carboxyethyl) disulfide</h6>
<h6>e921</h6>
<h6>L-alpha-Diamino-beta-dithiolactic acid</h6>
<h6>L-Dicysteine</h6>
<h6>Oxidized L-cysteine</h6>
<h6>(R,R)-3,3'-Dithiobis(2-aminopropanoate)</h6>
<h6>(R-(R*,r*))-3,3'-dithiobis(2-aminopropanoate)</h6>
<h6>b,Beta'-diamino-b,beta'-dicarboxydiethyl disulfide</h6>
<h6>b,Beta'-diamino-b,beta'-dicarboxydiethyl disulphide</h6>
<h6>beta,Beta'-diamino-beta,beta'-dicarboxydiethyl disulphide</h6>
<h6>Β,beta'-diamino-β,beta'-dicarboxydiethyl disulfide</h6>
<h6>Β,beta'-diamino-β,beta'-dicarboxydiethyl disulphide</h6>
<h6>b,Beta'-dithiodialanine</h6>
<h6>Β,beta'-dithiodialanine</h6>
<h6>Bis(b-amino-b-carboxyethyl) disulfide</h6>
<h6>Bis(b-amino-b-carboxyethyl) disulphide</h6>
<h6>Bis(beta-amino-beta-carboxyethyl) disulphide</h6>
<h6>Bis(β-amino-β-carboxyethyl) disulfide</h6>
<h6>Bis(β-amino-β-carboxyethyl) disulphide</h6>
<h6>L-a-Diamino-b-dithiolactate</h6>
<h6>L-a-Diamino-b-dithiolactic acid</h6>
<h6>L-alpha-Diamino-beta-dithiolactate</h6>
<h6>L-Α-diamino-β-dithiolactate</h6>
<h6>L-Α-diamino-β-dithiolactic acid</h6>
<h6>(-)-Cystine</h6>
<h6>(R-(R*,r*))-3,3'-dithiobis</h6>
<h6>2-Amino-3-(2-amino-2-carboxy-ethyl)disulfanyl-propanoate</h6>
<h6>2-Amino-3-(2-amino-2-carboxy-ethyl)disulfanyl-propanoic acid</h6>
<h6>2-Amino-3-[(2-amino-2-carboxyethyl)dithio]propanoate</h6>
<h6>2-Amino-3-[(2-amino-2-carboxyethyl)dithio]propanoic acid</h6>
<h6>3,3'-Dithiobis</h6>
<h6>3,3'-Dithiobis[2-amino-[R-(r*,r*)]-propanoate</h6>
<h6>3,3'-Dithiobis[2-amino-[R-(r*,r*)]-propanoic acid</h6>
<h6>3,3'-Dithiodialanine</h6>
<h6>b,B'-diamino-b,b'-dicarboxydiethyl disulfide</h6>
<h6>b,B'-dithiodialanine</h6>
<h6>beta,Beta'-dithiobisalanine</h6>
<h6>Bis(b-amino-beta-carboxyethyl) disulfide</h6>
<h6>Cysteine disulfide</h6>
<h6>Cystin</h6>
<h6>Cystine</h6>
<h6>Cystine acid</h6>
<h6>D(+)-3,3'-Dithiobis(2-aminopropanoate</h6>
<h6>D(+)-3,3'-Dithiobis(2-aminopropanoic acid</h6>
<h6>Dicysteine</h6>
<h6>Gelucystine</h6>
<h6>L-(-)-Cystine</h6>
<h6>L-Cysteine disulfide</h6>
<h6>L-Cystin</h6>
<h6>[R-(R*,r*)]-3,3'-dithiobis</h6>
<h6>L Cystine</h6>
<h6>Copper cystinate</h6>
<h6>(+)-Lactic acid</h6>
<h6>(S)-(+)-Lactic acid</h6>
<h6>(S)-2-Hydroxypropanoic acid</h6>
<h6>(S)-2-Hydroxypropionic acid</h6>
<h6>L-(+)-alpha-Hydroxypropionic acid</h6>
<h6>L-(+)-Lactic acid</h6>
<h6>L-Milchsaeure</h6>
<h6>L-Lactate</h6>
<h6>(+)-Lactate</h6>
<h6>(S)-(+)-Lactate</h6>
<h6>(S)-2-Hydroxypropanoate</h6>
<h6>(S)-2-Hydroxypropionate</h6>
<h6>L-(+)-a-Hydroxypropionate</h6>
<h6>L-(+)-a-Hydroxypropionic acid</h6>
<h6>L-(+)-alpha-Hydroxypropionate</h6>
<h6>L-(+)-Α-hydroxypropionate</h6>
<h6>L-(+)-Α-hydroxypropionic acid</h6>
<h6>L-(+)-Lactate</h6>
<h6>(alpha)-Lactate</h6>
<h6>(alpha)-Lactic acid</h6>
<h6>(S)-(+)-2-Hydroxypropanoate</h6>
<h6>(S)-(+)-2-Hydroxypropanoic acid</h6>
<h6>(S)-2-Hydroxy-propanoate</h6>
<h6>(S)-2-Hydroxy-propanoic acid</h6>
<h6>(S)-Lactate</h6>
<h6>(S)-Lactic acid</h6>
<h6>1-Hydroxyethane 1-carboxylate</h6>
<h6>1-Hydroxyethane 1-carboxylic acid</h6>
<h6>1-Hydroxyethanecarboxylate</h6>
<h6>1-Hydroxyethanecarboxylic acid</h6>
<h6>2-Hydroxypropanoate</h6>
<h6>2-Hydroxypropanoic acid</h6>
<h6>2-Hydroxypropionate</h6>
<h6>a-Hydroxypropanoate</h6>
<h6>a-Hydroxypropanoic acid</h6>
<h6>a-Hydroxypropionate</h6>
<h6>a-Hydroxypropionic acid</h6>
<h6>alpha-Hydroxypropanoate</h6>
<h6>alpha-Hydroxypropanoic acid</h6>
<h6>alpha-Hydroxypropionate</h6>
<h6>alpha-Hydroxypropionic acid</h6>
<h6>L-(+)- Lactic acid</h6>
<h6>L-2-Hydroxypropanoate</h6>
<h6>L-2-Hydroxypropanoic acid</h6>
<h6>Lactate</h6>
<h6>Lactic acid</h6>
<h6>Milk acid</h6>
<h6>Sarcolactic acid</h6>
<h6>2-Hydroxypropionic acid</h6>
<h6>D-Lactic acid</h6>
<h6>D Lactic acid</h6>
<h6>Lactate, ammonium</h6>
<h6>2 Hydroxypropanoic acid</h6>
<h6>2 Hydroxypropionic acid</h6>
<h6>Ammonium lactate</h6>
<h6>L Lactic acid</h6>
<h6>9-beta-D-Ribofuranosyl-9H-purin-6-ol</h6>
<h6>9-beta-D-Ribofuranosylhypoxanthine</h6>
<h6>Hypoxanthine D-riboside</h6>
<h6>Hypoxanthosine</h6>
<h6>i</h6>
<h6>Inosin</h6>
<h6>Inosina</h6>
<h6>Inosinum</h6>
<h6>Inotin</h6>
<h6>9-b-D-Ribofuranosyl-9H-purin-6-ol</h6>
<h6>9-Β-D-ribofuranosyl-9H-purin-6-ol</h6>
<h6>9-b-D-Ribofuranosylhypoxanthine</h6>
<h6>9-Β-D-ribofuranosylhypoxanthine</h6>
<h6>(-)-Inosine</h6>
<h6>1,9-Dihydro-9-b-D-ribofuranosyl-6H-purin-6-one</h6>
<h6>1,9-Dihydro-9-beta-D-ribofuranosyl-6H-purin-6-one</h6>
<h6>1,9-Dihydro-9-beta-delta-ribofuranosyl-6H-purin-6-one</h6>
<h6>9-b-D-Ribofuranosyl-hypoxanthine</h6>
<h6>9-beta-D-Ribofuranosyl-hypoxanthine</h6>
<h6>9-beta-delta-Ribofuranosyl-hypoxanthine</h6>
<h6>9-beta-delta-Ribofuranosylhypoxanthine</h6>
<h6>9beta-D-Ribofuranosylhypoxanthine</h6>
<h6>9beta-delta-Ribofuranosylhypoxanthine</h6>
<h6>Atorel</h6>
<h6>beta-D-Ribofuranoside hypoxanthine-9</h6>
<h6>beta-delta-Ribofuranoside hypoxanthine-9</h6>
<h6>beta-Inosine</h6>
<h6>HXR</h6>
<h6>Hypoxanthine 9-beta-D-ribofuranoside</h6>
<h6>Hypoxanthine 9-beta-delta-ribofuranoside</h6>
<h6>Hypoxanthine nucleoside</h6>
<h6>Hypoxanthine ribonucleoside</h6>
<h6>Hypoxanthine riboside</h6>
<h6>Hypoxanthine-9 beta-D-ribofuranoside</h6>
<h6>Hypoxanthine-9 beta-delta-ribofuranoside</h6>
<h6>Hypoxanthine-9-beta-D-ribofuranoside</h6>
<h6>Hypoxanthine-9-beta-delta-ribofuranoside</h6>
<h6>Hypoxanthine-9-D-ribofuranoside</h6>
<h6>Hypoxanthine-9-delta-ribofuranoside</h6>
<h6>Hypoxanthine-ribose</h6>
<h6>Indole-3-carboxaldehyde</h6>
<h6>Ino</h6>
<h6>Inosie</h6>
<h6>Iso-prinosine</h6>
<h6>Oxiamin</h6>
<h6>Panholic-L</h6>
<h6>Pantholic-L</h6>
<h6>Ribonosine</h6>
<h6>Selfer</h6>
<h6>Trophicardyl</h6>
<h6>(2S)-6-(Acetylamino)-2-aminohexanoic acid</h6>
<h6>N(6)-ACETYLLYSINE</h6>
<h6>N(zeta)-Acetyllysine</h6>
<h6>N-epsilon-Acetyl-L-lysine</h6>
<h6>N-Epsilon-Acetyllysine</h6>
<h6>N(epsilon)-Acetyl-L-lysine</h6>
<h6>N(zeta)-Acetyl-L-lysine</h6>
<h6>(2S)-6-(Acetylamino)-2-aminohexanoate</h6>
<h6>N(Z)-Acetyllysine</h6>
<h6>N(Ζ)-acetyllysine</h6>
<h6>N(Z)-Acetyl-L-lysine</h6>
<h6>N(Ζ)-acetyl-L-lysine</h6>
<h6>e-Acetyl-L-lysine</h6>
<h6>e-N-Acetyl-L-lysine</h6>
<h6>e-N-Acetyllysine</h6>
<h6>epsilon-Acetyl-L-lysine</h6>
<h6>epsilon-N-Acetyl-L-lysine</h6>
<h6>epsilon-N-Acetyllysine</h6>
<h6>L-e-N-Acetyllysine</h6>
<h6>L-epsilon-N-Acetyllysine</h6>
<h6>N-e-Acetyl-L-lysine</h6>
<h6>N-e-Acetyllysine</h6>
<h6>N6-Acetyllysine</h6>
<h6>Ne-acetyl-L-lysine</h6>
<h6>Ne-acetyllysine</h6>
<h6>Omega-N-acetyl-L-lysine</h6>
<h6>W-N-Acetyl-L-lysine</h6>
<h6>N(6)-Acetyllsine</h6>
<h6>Omega-acetyllsine</h6>
<h6>beta-Alanyl-3-methyl-L-histidine</h6>
<h6>beta-Alanyl-N(pai)-methyl-L-histidine</h6>
<h6>b-Alanyl-3-methyl-L-histidine</h6>
<h6>Β-alanyl-3-methyl-L-histidine</h6>
<h6>b-Alanyl-N(pai)-methyl-L-histidine</h6>
<h6>Β-alanyl-N(pai)-methyl-L-histidine</h6>
<h6>L-Anserine</h6>
<h6>L-N-b-Alanyl-3-methyl-histidine</h6>
<h6>L-N-beta-Alanyl-3-methyl-histidine</h6>
<h6>N-b-Alanyl-3-methyl-L-histidine</h6>
<h6>N-beta-Alanyl-3-methyl-L-histidine</h6>
<h6>Balanine</h6>
<h6>Beta Alanyl 3 methylhistidine</h6>
<h6>Beta-Alanyl-3-methylhistidine</h6>
<h6>Ophidine</h6>
<h6>Indoleacetic acid</h6>
<h6>3-(Carboxymethyl)-1H-indole</h6>
<h6>3-Indolylmethylcarboxylic acid</h6>
<h6>alpha-IAA</h6>
<h6>α-IAA</h6>
<h6>beta-IAA</h6>
<h6>β-IAA</h6>
<h6>β-Indoleacetic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C10H9NO2</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-(1H-indol-3-yl)acetic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">87-51-4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">175.063328537</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organoheterocyclic compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Indoles and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Indolyl carboxylic acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>13.70 +/- 12.56 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5 +/- 3.200 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0251 +/- 0.00240 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>anorexia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0315 +/- 0.00748 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>autism</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0299 +/- 0.00280 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>depressive</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0247 +/- 0.00360 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Mania</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0337 +/- 0.00457 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Retarded depression</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.571 +/- 0.992 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dental caries</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.58 +/- 10.413 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.731 +/- 33.914 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>64.967 +/- 50.993 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>42.755 +/- 34.674 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.666 +/- 20.269 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.0 (2.5-6.8) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Irritable bowel syndrome (IBS)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.636-2.0930 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Tryptophanuria with dwarfism</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.165 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.5 +/- 0.33 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Appendicitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.1 +/- 0.14 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Appendicitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.85 +/- 1.71 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.100 +/- 0.100 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.05 (0.0-0.118) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.05 (0.0- 0.1) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.03 (0.005 - 0.3) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0359 +/- 0.0150 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0280 +/- 0.0127 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.339 +/- 0.0743 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0251 +/- 0.00211 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.859 +/- 2.16 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.08 +/- 1.40 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.151 +/- 0.478 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>3.14  +/-  3.16 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.213 +/- 8.547 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.03-1.95 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.22(0.06-1.18) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.28(0.02-1.98) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>41.027 +/- 21.106 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.75 +/- 16.978 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.4 (1.8-6.2) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.0 +/- 1.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.944 (0.457-1.294) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.5-2.8  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.2 (0.1-31.0) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.6 (0.1-5.7) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.4 (1.3-12.3) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.8 (0.1-5.5) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.8 (1.1-8.4) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.5-2.6  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.6 (5.5 - 5.8) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.6(0.6-5.4) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>13.70 +/- 12.56 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5 +/- 3.200 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0251 +/- 0.00240 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>anorexia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0315 +/- 0.00748 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>autism</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0299 +/- 0.00280 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>depressive</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0247 +/- 0.00360 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Mania</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.0337 +/- 0.00457 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Retarded depression</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.571 +/- 0.992 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Dental caries</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.58 +/- 10.413 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>45.731 +/- 33.914 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>64.967 +/- 50.993 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>42.755 +/- 34.674 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.666 +/- 20.269 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.0 (2.5-6.8) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Irritable bowel syndrome (IBS)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.636-2.0930 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Tryptophanuria with dwarfism</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.165 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.5 +/- 0.33 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Appendicitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.1 +/- 0.14 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Appendicitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    