
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000956 Tartaric acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED30292984" %}' target="_blank">30292984<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000956</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(+)-(R,R)-Tartaric acid</h6>
<h6>(+)-L-Tartaric acid</h6>
<h6>(+)-Tartaric acid</h6>
<h6>(+)-Weinsaeure</h6>
<h6>(2R,3R)-2,3-Dihydroxybernsteinsaeure</h6>
<h6>(2R,3R)-2,3-Dihydroxysuccinic acid</h6>
<h6>(2R,3R)-Tartaric acid</h6>
<h6>(R,R)-(+)-Tartaric acid</h6>
<h6>(R,R)-Tartaric acid</h6>
<h6>L(+)-TARTARIC ACID</h6>
<h6>L-Threaric acid</h6>
<h6>Rechtsweinsaeure</h6>
<h6>Weinsteinsaeure</h6>
<h6>(R,R)-Tartrate</h6>
<h6>L-Tartaric acid</h6>
<h6>Tartrate</h6>
<h6>2,3-Dihydroxybutanedioic acid</h6>
<h6>(+)-(R,R)-Tartarate</h6>
<h6>(+)-L-Tartarate</h6>
<h6>(+)-Tartarate</h6>
<h6>(2R,3R)-2,3-Dihydroxysuccinate</h6>
<h6>(2R,3R)-Tartarate</h6>
<h6>(R,R)-(+)-Tartarate</h6>
<h6>(R,R)-Tartarate</h6>
<h6>L(+)-TARTARate</h6>
<h6>L-Threarate</h6>
<h6>(R,R)-Tartric acid</h6>
<h6>L-Tartarate</h6>
<h6>Tartric acid</h6>
<h6>2,3-Dihydroxybutanedioate</h6>
<h6>Tartarate</h6>
<h6>Aluminum tartrate</h6>
<h6>Ammonium tartrate</h6>
<h6>Potassium tartrate</h6>
<h6>Seignette salt</h6>
<h6>Sodium ammonium tartrate</h6>
<h6>Stannous tartrate</h6>
<h6>Tartaric acid, calcium salt, (R-r*,r*)-isomer</h6>
<h6>Calcium tartrate tetrahydrate</h6>
<h6>Sodium tartrate</h6>
<h6>Tartaric acid, ((r*,r*)-(+-))-isomer</h6>
<h6>Tartaric acid, monoammonium salt, (R-(r*,r*))-isomer</h6>
<h6>(R*,r*)-(+-)-2,3-dihydroxybutanedioic acid, monoammonium monosodium salt</h6>
<h6>MN(III) tartrate</h6>
<h6>Calcium tartrate</h6>
<h6>Tartaric acid, (R-(r*,r*))-isomer</h6>
<h6>Sodium potassium tartrate</h6>
<h6>Tartaric acid, (r*,s*)-isomer</h6>
<h6>Tartaric acid, (S-(r*,r*))-isomer</h6>
<h6>Tartaric acid, ammonium sodium salt, (1:1:1) salt, (r*,r*)-(+-)-isomer</h6>
<h6>(+)-(2R,3R)-Tartaric acid</h6>
<h6>(1R,2R)-1,2-Dihydroxyethane-1,2-dicarboxylic acid</h6>
<h6>(2R,3R)-2,3-Dihydroxybutanedioate</h6>
<h6>(2R,3R)-2,3-Dihydroxybutanedioic acid</h6>
<h6>(2R,3R)-2,3-Tartaric acid</h6>
<h6>1,2-Dihydroxyethane-1,2-dicarboxylic acid</h6>
<h6>2,3-Dihydroxy-succinate</h6>
<h6>2,3-Dihydroxy-succinic acid</h6>
<h6>2,3-Dihydroxysuccinic acid</h6>
<h6>D-a,b-Dihydroxysuccinic acid</h6>
<h6>D-Tartaric acid</h6>
<h6>Dextrotartaric acid</h6>
<h6>L-(+)-Tartaric acid</h6>
<h6>Natural tartaric acid</h6>
<h6>TAR</h6>
<h6>Threaric acid</h6>
<h6>TLA</h6>
<h6>Weinsaeure</h6>
<h6>(2R,3R)-(+)-Tartaric acid</h6>
<h6>Dihydroxysuccinic acid</h6>
<h6>Tartaric acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C4H6O6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2R,3R)-2,3-dihydroxybutanedioic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">87-69-4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">150.016437924</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic oxygen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Organooxygen compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Carbohydrates and carbohydrate conjugates</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>5 (0-25) umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13.217 +/- 13.438 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-60 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>38.183 +/- 53.107 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12 (1.3-46) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.8 (2.6-64.4) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>5 (0-25) umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>13.217 +/- 13.438 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    