
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0059655 2-Hydroxyglutarate </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED21411176" %}' target="_blank">21411176<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED25859693" %}' target="_blank">25859693<a>, <a style="font-family: monospace;" href='{% url "PUBMED34282765" %}' target="_blank">34282765<a>, <a style="font-family: monospace;" href='{% url "PUBMED30892048" %}' target="_blank">30892048<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED25293627" %}' target="_blank">25293627<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0059655</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>alpha-Hydroxyglutaric acid</h6>
<h6>alpha-Hydroxyglutarate</h6>
<h6>a-Hydroxyglutarate</h6>
<h6>a-Hydroxyglutaric acid</h6>
<h6>Α-hydroxyglutarate</h6>
<h6>Α-hydroxyglutaric acid</h6>
<h6>2-Hydroxyglutaric acid</h6>
<h6>D-2-Hydroxyglutarate</h6>
<h6>alpha-Hydroxyglutarate, (D)-isomer</h6>
<h6>alpha-Hydroxyglutarate, (DL)-isomer</h6>
<h6>alpha-Hydroxyglutarate, (L)-isomer</h6>
<h6>alpha-Hydroxyglutarate, disodium salt</h6>
<h6>(±)-2-hydroxyglutaric acid</h6>
<h6>2,3-Dideoxypentaric acid</h6>
<h6>2-Hydroxypentanedioic acid</h6>
<h6>DL-2-Hydroxyglutaric acid</h6>
<h6>2-Hydroxyglutarate</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C5H8O5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-hydroxypentanedioic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">2889-31-8</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">148.037173366</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Hydroxy acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Short-chain hydroxy acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.6 (0.30-0.90) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>61.0 +/- 14.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>47.0 +/- 13.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>L-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.2 (0.1-0.30) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>61.074 +/- 36.982 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Deafness, Onychodystrophy, Osteodystrophy, Mental Retardation, and Seizures Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>685 - 786  umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>113 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>3-Hydroxyacyl-CoA dehydrogenase deficiency (SCHAD)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>27-hydroxylase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>630-1420 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>L-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.0 (20.0-46.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Glutaric aciduria II</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2175.0 (50.0-4300.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Glutaric aciduria II</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>373 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>D, L-2-hydroxygluraric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.0 (3.0-17.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.7 +/- 0.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.5 (0.0-1.5) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.0 +/- 1/0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.881 +/- 1.13 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.08 +/- 0.629 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.44 +/- 1.33 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;5 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-1.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.0-3.7 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.0-4 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.2-5.1 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4-36 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;15 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.2 (4.6-33.6)  umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;26.15 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>51.9 (13.7-97.3) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>41.5 (14.6-150.3) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12.4 (5.1-24.9) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11.2 (4.6-33.6) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.379 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.2 (0.8-52) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.0 (13.3-77.9) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.6 (0.30-0.90) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>61.0 +/- 14.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>47.0 +/- 13.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>L-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.2 (0.1-0.30) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>61.074 +/- 36.982 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>62 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Deafness, Onychodystrophy, Osteodystrophy, Mental Retardation, and Seizures Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>685 - 786  umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>D-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>113 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>3-Hydroxyacyl-CoA dehydrogenase deficiency (SCHAD)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>27-hydroxylase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>630-1420 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>L-2-hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>33.0 (20.0-46.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Glutaric aciduria II</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2175.0 (50.0-4300.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Glutaric aciduria II</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>373 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>D, L-2-hydroxygluraric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.0 (3.0-17.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    