
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001850 Verapamil </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001850</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>CP-165331Verapamil</h6>
<h6>Covera-HS</h6>
<h6>Verelan</h6>
<h6>Isoptin</h6>
<h6>D-365Iproveratril</h6>
<h6>CP-16533-1Calan</h6>
<h6>Tarka</h6>
<h6>Akilen</h6>
<h6>Anpec</h6>
<h6>Apo-verap</h6>
<h6>Arpamyl LP</h6>
<h6>Berkatens</h6>
<h6>Calan</h6>
<h6>Calan SR</h6>
<h6>Calaptin</h6>
<h6>Calaptin 240 SR</h6>
<h6>Calcan</h6>
<h6>Cardiabeltin</h6>
<h6>Cardiagutt</h6>
<h6>Cardibeltin</h6>
<h6>Cardioprotect</h6>
<h6>Caveril</h6>
<h6>Civicor</h6>
<h6>Civicor retard</h6>
<h6>Coraver</h6>
<h6>Cordilox</h6>
<h6>Cordilox SR</h6>
<h6>Corpamil</h6>
<h6>D-365</h6>
<h6>delta-365</h6>
<h6>Dignover</h6>
<h6>Dilacoran</h6>
<h6>Dilacoran hta</h6>
<h6>Durasoptin</h6>
<h6>Elthon</h6>
<h6>Falicard</h6>
<h6>Finoptin</h6>
<h6>Flamon</h6>
<h6>Geangin</h6>
<h6>Harteze</h6>
<h6>Hexasoptin</h6>
<h6>Hexasoptin retard</h6>
<h6>Hormitol</h6>
<h6>Ikacor</h6>
<h6>Ikapress</h6>
<h6>Inselon</h6>
<h6>Iproveratril</h6>
<h6>Isoptin retard</h6>
<h6>Isoptin SR</h6>
<h6>Isoptine</h6>
<h6>Isoptino</h6>
<h6>Isotopin</h6>
<h6>Izoptin</h6>
<h6>Jenapamil</h6>
<h6>Lekoptin</h6>
<h6>Lodixal</h6>
<h6>Magotiron</h6>
<h6>Manidon</h6>
<h6>Manidon retard</h6>
<h6>Novapamyl LP</h6>
<h6>Novo-veramil</h6>
<h6>Nu-verap</h6>
<h6>Ormil</h6>
<h6>Praecicor</h6>
<h6>Quasar</h6>
<h6>Rapam</h6>
<h6>Robatelan</h6>
<h6>Securon</h6>
<h6>Univer</h6>
<h6>Univex</h6>
<h6>Vasolan</h6>
<h6>Vasomil</h6>
<h6>Vasopten</h6>
<h6>Vera-sanorania</h6>
<h6>Verabeta</h6>
<h6>Veracaps SR</h6>
<h6>Veracor</h6>
<h6>Verahexal</h6>
<h6>Veraloc</h6>
<h6>Veramex</h6>
<h6>Veramil</h6>
<h6>Verapamil acis</h6>
<h6>Verapamil al</h6>
<h6>Verapamil atid</h6>
<h6>Verapamil basics</h6>
<h6>Verapamil ebewe</h6>
<h6>Verapamil HCL</h6>
<h6>Verapamil henning</h6>
<h6>Verapamil injection</h6>
<h6>Verapamil MSD</h6>
<h6>Verapamil NM</h6>
<h6>Verapamil NM pharma</h6>
<h6>Verapamil nordic</h6>
<h6>Verapamil PB</h6>
<h6>Verapamil riker</h6>
<h6>Verapamil SR</h6>
<h6>Verapamil verla</h6>
<h6>Verapamil-abz</h6>
<h6>Verapamilo</h6>
<h6>Verapamilum</h6>
<h6>Verapin</h6>
<h6>Verapress 240 SR</h6>
<h6>Verasal</h6>
<h6>Verasifar</h6>
<h6>Veratensin</h6>
<h6>Verdilac</h6>
<h6>Verelan PM</h6>
<h6>Verelan SR</h6>
<h6>Veroptinstada</h6>
<h6>Verpamil</h6>
<h6>Vetrimil</h6>
<h6>Vortac</h6>
<h6>Dexverapamil</h6>
<h6>Hydrochloride, verapamil</h6>
<h6>Sandoz brand OF verapamil</h6>
<h6>Verapamil hydrochloride</h6>
<h6>Verapamil sandoz brand</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C27H38N2O4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-(3,4-dimethoxyphenyl)-5-{[2-(3,4-dimethoxyphenyl)ethyl](methyl)amino}-2-(propan-2-yl)pentanenitrile</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">52-53-9</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">454.283157714</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzene and substituted derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Phenylbutylamines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>0.0026 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>1.139 +/- 0.407 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Traumatic Brain Injury (TBI)</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.359 +/- 2.152 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.5 (0.0-1.35) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Asthma</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    