
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000020 p-Hydroxyphenylacetic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED29966242" %}' target="_blank">29966242<a>, <a style="font-family: monospace;" href='{% url "PUBMED29966242" %}' target="_blank">29966242<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000020</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(p-Hydroxyphenyl)acetic acid</h6>
<h6>4-Carboxymethylphenol</h6>
<h6>4-Hydroxybenzeneacetic acid</h6>
<h6>4-Hydroxyphenylacetate</h6>
<h6>4-Hydroxyphenylacetic acid</h6>
<h6>(p-Hydroxyphenyl)acetate</h6>
<h6>4-Hydroxybenzeneacetate</h6>
<h6>p-Hydroxyphenylacetate</h6>
<h6>(4-Hydroxy-phenyl)-acetate</h6>
<h6>(4-Hydroxy-phenyl)-acetic acid</h6>
<h6>(4-Hydroxy-phenyl)-essigsaeure</h6>
<h6>(4-Hydroxyphenyl)acetate</h6>
<h6>(4-Hydroxyphenyl)acetic acid</h6>
<h6>(p-Hydroxyphenyl)-acetate</h6>
<h6>(p-Hydroxyphenyl)-acetic acid</h6>
<h6>4-Hydroxy-benzeneacetate</h6>
<h6>4-Hydroxy-benzeneacetic acid</h6>
<h6>4-Hydroxyphenyl-acetic acid</h6>
<h6>Parahydroxy phenylacetate</h6>
<h6>Parahydroxy phenylacetic acid</h6>
<h6>Parahydroxyphenylacetate</h6>
<h6>Para-hydroxyphenylacetic acid</h6>
<h6>p-Hydroxyphenylacetic acid</h6>
<h6>4'-Hydroxyphenylacetic acid</h6>
<h6>2-(4-Hydroxyphenyl)acetic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C8H8O3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-(4-hydroxyphenyl)acetic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">156-38-7</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">152.047344122</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Phenols</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">1-hydroxy-2-unsubstituted benzenoids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.31 +/- 0.0.03 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.038 +/- 0.005 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.103 +/- 31.073 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>34.998 +/- 55.908 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.522 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.586 +/- 66.136 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.0719 +/- 45.329 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>47.558 +/- 69.108 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>18.772 +/- 21.602 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>428.00 +/- 164.00 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Preterm infants</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>25.0 (7.0-50.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Meningomyelocoele</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.0 +/- 15.0 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.346 +/- 0.518 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.695 +/- 0.555 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.387 +/- 0.586 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>7.911 +/- 1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.5 +/- 0.432 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.661 +/- 0.692 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.791 +/- 0.609 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>42.412 +/- 35.919 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.230 (0.070-0.390) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.05 +/- 0.007 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>23.530 +/- 21.821 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>26.882 +/- 32.797 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>31.0226 +/- 50.0830 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>63.228 +/- 88.730 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>21.821 +/- 8.939 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>3.714 (0.513-31.226) nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>57.181 +/- 44.0363 nmol/g wet feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>8.18 +/- 11.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>7.0 (2.0-10.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.70 +/- 4.48 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>25.11 +/- 14.59 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.0 (2.4-9.7) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>25.268 +/- 17.653 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.8-12  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;185.774 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.586 +/- 28.981 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>56.475 +/- 36.412 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>69.108 +/- 70.594 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.5 (1.4-14.6) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>17.772 +/- 12.817 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.68 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>917.00 +/- 341.8 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>11 (3.5-22) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.0 (2.8-11.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.2 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>36.7 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>20.3 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.4 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15.3 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.2 (8.6-73.2) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>10.455 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.4 +/- 4.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>36.7 (8.4-142.0) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.680-101.700 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>20.3 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>31.4 (9.7-187.4) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15.3 (3.2-180.2) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.2-12  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;109.33 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12.024 +/- 1.428 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>36-69 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.31 +/- 0.0.03 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Schizophrenia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.038 +/- 0.005 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Epilepsy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.103 +/- 31.073 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>34.998 +/- 55.908 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.522 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.586 +/- 66.136 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.0719 +/- 45.329 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>47.558 +/- 69.108 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Phenylketonuria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>18.772 +/- 21.602 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>428.00 +/- 164.00 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Preterm infants</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>25.0 (7.0-50.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Meningomyelocoele</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>16.0 +/- 15.0 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Both</td>
      <td>Lung cancer</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    