
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000019 alpha-Ketoisovaleric acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000019</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-Keto-3-methylbutyric acid</h6>
<h6>2-Ketoisovaleric acid</h6>
<h6>2-Ketovaline</h6>
<h6>2-oxo-3-Methylbutanoic acid</h6>
<h6>2-oxo-3-Methylbutyric acid</h6>
<h6>2-Oxoisovaleric acid</h6>
<h6>3-Methyl-2-oxobutanoate</h6>
<h6>3-Methyl-2-oxobutyric acid</h6>
<h6>alpha-Keto-isovaleric acid</h6>
<h6>alpha-Ketovaline</h6>
<h6>alpha-oxo-beta-Methylbutyricacid</h6>
<h6>alpha-Oxoisovaleric acid</h6>
<h6>Dimethylpyruvic acid</h6>
<h6>Isopropylglyoxylic acid</h6>
<h6>2-oxo-3-Methylbutanoate</h6>
<h6>2-Oxoisovalerate</h6>
<h6>2-Oxoisopentanoate</h6>
<h6>2-Keto-3-methylbutyrate</h6>
<h6>2-Ketoisovalerate</h6>
<h6>2-oxo-3-Methylbutyrate</h6>
<h6>3-Methyl-2-oxobutanoic acid</h6>
<h6>3-Methyl-2-oxobutyrate</h6>
<h6>a-Keto-isovalerate</h6>
<h6>a-Keto-isovaleric acid</h6>
<h6>alpha-Keto-isovalerate</h6>
<h6>Α-keto-isovalerate</h6>
<h6>Α-keto-isovaleric acid</h6>
<h6>a-Ketovaline</h6>
<h6>Α-ketovaline</h6>
<h6>a-oxo-b-Methylbutyricacid</h6>
<h6>Α-oxo-β-methylbutyricacid</h6>
<h6>a-Oxoisovalerate</h6>
<h6>a-Oxoisovaleric acid</h6>
<h6>alpha-Oxoisovalerate</h6>
<h6>Α-oxoisovalerate</h6>
<h6>Α-oxoisovaleric acid</h6>
<h6>Dimethylpyruvate</h6>
<h6>Isopropylglyoxylate</h6>
<h6>2-Oxoisopentanoic acid</h6>
<h6>a-Ketoisovalerate</h6>
<h6>a-Ketoisovaleric acid</h6>
<h6>alpha-Ketoisovalerate</h6>
<h6>Α-ketoisovalerate</h6>
<h6>Α-ketoisovaleric acid</h6>
<h6>2-Ketoisvaleric acid</h6>
<h6>2-oxo-3-Methyl-butyrate</h6>
<h6>3-Methyl-2-oxo-butanoate</h6>
<h6>3-Methyl-2-oxo-butanoic acid</h6>
<h6>3-Methyl-2-oxo-butyrate</h6>
<h6>3-Methyl-2-oxo-butyric acid</h6>
<h6>3-Methyl-2-oxobutinoate</h6>
<h6>3-Methyl-2-oxobutinoic acid</h6>
<h6>a-Keto-b-methylbutyrate</h6>
<h6>a-Keto-b-methylbutyric acid</h6>
<h6>a-oxo-b-Methylbutyrate</h6>
<h6>a-oxo-b-Methylbutyric acid</h6>
<h6>alpha-Keto-beta-methylbutyrate</h6>
<h6>alpha-Keto-beta-methylbutyric acid</h6>
<h6>alpha-oxo-beta-Methylbutyrate</h6>
<h6>alpha-oxo-beta-Methylbutyric acid</h6>
<h6>Ketovaline</h6>
<h6>alpha-Ketoisopentanoic acid</h6>
<h6>alpha-Ketoisovaleric acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C5H8O3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">3-methyl-2-oxobutanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">759-05-7</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">116.047344122</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Keto acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Short-chain keto acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>10.7 +/- 5.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>237 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>189 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>550.00 (300.00-800.00) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease (MSUD). When treated, the concentrations are 1-2 uM/mM.</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>550.00 (300.00-800.00) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease (MSUD). When treated, the concentrations are 1-2 uM/mM.</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.0 (0.0-28.0) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>11.0 +/- 1.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6 +/- 3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>8.2 +/- 6.8  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.679 +/- 0.369 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.752 +/- 0.287 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.06 +/- 0.436 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.345 +/- 0.858 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.434 +/- 0.382 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.656 +/- 0.399 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.78-1.2  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.16 +/- 0.48 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.5 (0.2-1.1) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.13 (0.00-0.54) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.07 (0.01-0.45) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.79-1.1  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.07 (0.01-0.45) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>10.7 +/- 5.5 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart Transplant</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>237 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>189 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>550.00 (300.00-800.00) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease (MSUD). When treated, the concentrations are 1-2 uM/mM.</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>550.00 (300.00-800.00) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Maple syrup urine disease (MSUD). When treated, the concentrations are 1-2 uM/mM.</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    