
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000086 Glycerophosphocholine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED34083687" %}' target="_blank">34083687<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000086</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(2R)-2,3-Dihydroxypropyl 2-(trimethylammonio)ethyl phosphate</h6>
<h6>Alfoscerate de choline</h6>
<h6>Alfoscerato de colina</h6>
<h6>alpha-Glycerophosphorylcholine</h6>
<h6>Choline alphoscerate</h6>
<h6>Choline glycerophosphate</h6>
<h6>Cholini alfosceras</h6>
<h6>Cholini glycerophosphas</h6>
<h6>Glicerofosfato de colina</h6>
<h6>Glycerol phosphorylcholine</h6>
<h6>Glycerol-3-phosphatidylcholine</h6>
<h6>Glycerol-3-phosphocholine</h6>
<h6>Glycerophosphate de choline</h6>
<h6>Glycerophosphorylcholine</h6>
<h6>GPCho</h6>
<h6>L-alpha-Glycerophosphocholine</h6>
<h6>L-alpha-Glycerophosphorylcholine</h6>
<h6>L-Choline hydroxide 2,3-dihydroxypropyl hydrogen phosphate inner salt</h6>
<h6>sn-3-GPC</h6>
<h6>sn-Glycero-3-phosphocholine</h6>
<h6>sn-Glycerol 3-phosphocholine</h6>
<h6>Gliatilin</h6>
<h6>(2R)-2,3-Dihydroxypropyl 2-(trimethylammonio)ethyl phosphoric acid</h6>
<h6>Alfosceric acid de choline</h6>
<h6>a-Glycerophosphorylcholine</h6>
<h6>Α-glycerophosphorylcholine</h6>
<h6>Choline alphosceric acid</h6>
<h6>Choline glycerophosphoric acid</h6>
<h6>Glycerophosphoric acid de choline</h6>
<h6>L-a-Glycerophosphocholine</h6>
<h6>L-Α-glycerophosphocholine</h6>
<h6>L-a-Glycerophosphorylcholine</h6>
<h6>L-Α-glycerophosphorylcholine</h6>
<h6>L-Choline hydroxide 2,3-dihydroxypropyl hydrogen phosphoric acid inner salt</h6>
<h6>Choline alfosceric acid</h6>
<h6>Glycerol 3 phosphocholine</h6>
<h6>Glycerylphosphorylcholine</h6>
<h6>Alphoscerate, choline</h6>
<h6>L alpha Glycerylphosphorylcholine</h6>
<h6>3-Phosphocholine, glycerol</h6>
<h6>Glycerol 3-phosphocholine</h6>
<h6>L-alpha-Glycerylphosphorylcholine</h6>
<h6>Alfoscerate, choline</h6>
<h6>Glycerophosphate, choline</h6>
<h6>2-[[(2,3-Dihydroxypropoxy)hydroxyphosphinyl]oxy]-N,N,N-trimethyl-ethanaminium inner salt</h6>
<h6>a-Glycerylphosphorylcholine</h6>
<h6>alpha-Glycerylphosphorylcholine</h6>
<h6>Choline alfoscerate</h6>
<h6>Glycerophosphatidylcholine</h6>
<h6>GPC</h6>
<h6>Hydrogen glycerophosphate choline</h6>
<h6>Cereton</h6>
<h6>Cholicerin</h6>
<h6>Cholitiline</h6>
<h6>Delecit</h6>
<h6>Glycerol 3-phosphorylcholine</h6>
<h6>Glycerophosphoric acid choline ester</h6>
<h6>Glyceryl 3-phosphorylcholine</h6>
<h6>Glycerylphosphocholine</h6>
<h6>L-alpha-GPC</h6>
<h6>L-Α-GPC</h6>
<h6>L-Α-glycerylphosphorylcholine</h6>
<h6>O-(sn-Glycero-3-phosphoryl)-choline</h6>
<h6>sn-Glycero-3-phosphorylcholine</h6>
<h6>Α-glycerylphosphorylcholine</h6>
<h6>Glycerophosphocholine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C8H20NO6P</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2-{[(2R)-2,3-dihydroxypropyl phosphono]oxy}ethyl)trimethylazanium</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">28319-77-9</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">257.102824366</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Glycerophospholipids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Glycerophosphocholines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.03 +/- 1.52 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Not Specified</td>
      <td>Vascular dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.03 (2.51-5.55) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Vascular dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6.9 +/- 3.2  uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>34.0 +/- 5.0 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40.0 +/- 4.0 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>29.0 +/- 5.0 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>33.0 +/- 4.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>471 +/- 161 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>362 +/- 70 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3.94 +/- 1.17 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3.9 +/- 1.2  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.05 +/- 0.248 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.38 +/- 0.531 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.84 +/- 0.652 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.98 +/- 1.45 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.53 +/- 4.35 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>9.82  +/-  6.76 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Semen</td>
      <td>2.5 +/- 1.6 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.03 +/- 1.52 uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Not Specified</td>
      <td>Vascular dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.03 (2.51-5.55) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Vascular dementia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>6.9 +/- 3.2  uM</td>
      <td>Elderly (&gt;65 years old)</td>
      <td>Both</td>
      <td>Alzheimer's disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    