
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000296 Uridine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED34083687" %}' target="_blank">34083687<a>, <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED25859693" %}' target="_blank">25859693<a>, <a style="font-family: monospace;" href='{% url "PUBMED31442449" %}' target="_blank">31442449<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED30292984" %}' target="_blank">30292984<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED25293627" %}' target="_blank">25293627<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000296</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1-beta-D-Ribofuranosylpyrimidine-2,4(1H,3H)-dione</h6>
<h6>1-beta-D-Ribofuranosyluracil</h6>
<h6>beta-Uridine</h6>
<h6>u</h6>
<h6>Urd</h6>
<h6>Uridin</h6>
<h6>1-b-D-Ribofuranosylpyrimidine-2,4(1H,3H)-dione</h6>
<h6>1-Β-D-ribofuranosylpyrimidine-2,4(1H,3H)-dione</h6>
<h6>1-b-D-Ribofuranosyluracil</h6>
<h6>1-Β-D-ribofuranosyluracil</h6>
<h6>b-Uridine</h6>
<h6>Β-uridine</h6>
<h6>1-b-D-Ribofuranosyl-2,4(1H,3H)-pyrimidinedione</h6>
<h6>1-beta-delta-Ribofuranosyl-2,4(1H,3H)-pyrimidinedione</h6>
<h6>1-beta-delta-Ribofuranosyluracil</h6>
<h6>b-D-Ribofuranoside 2,4(1H,3H)-pyrimidinedione-1</h6>
<h6>beta-delta-Ribofuranoside 2,4(1H,3H)-pyrimidinedione-1</h6>
<h6>Allo uridine</h6>
<h6>Allo-uridine</h6>
<h6>Allouridine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C9H12N2O6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">1-[(2R,3R,4S,5R)-3,4-dihydroxy-5-(hydroxymethyl)oxolan-2-yl]-1,2,3,4-tetrahydropyrimidine-2,4-dione</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">58-96-8</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">244.069536126</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Nucleosides, nucleotides, and analogues</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Pyrimidine nucleosides</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">None</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>7.7 +/- 0.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lesch-Nyhan syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.23 +/- 1.92 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40.164 +/- 46.721 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.30 (1.90-2.70) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Degenerative disc disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>67.836 (18.0896-125.497) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Arginase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.10 (2.90-3.30) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>21.1 +/- 8.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.148 +/- 5.328 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.12 +/- 1.31 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>4.17 +/- 4.75  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>7.1 +/- 3.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>559.647 (259.349-859.946) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>982.795 (600.597-1364.994) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>1296.744 (668.847-1924.641) nmol/g wet feces</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.22 +/- 0.07 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.21 +/- 0.08 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-9 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.21 +/- 0.09 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.994 (0.637-1.351) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-15 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>7.7 +/- 0.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lesch-Nyhan syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.23 +/- 1.92 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>40.164 +/- 46.721 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.30 (1.90-2.70) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Degenerative disc disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>67.836 (18.0896-125.497) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Arginase Deficiency</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    