
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000050 Adenosine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED23839601" %}' target="_blank">23839601<a>, <a style="font-family: monospace;" href='{% url "PUBMED33863412" %}' target="_blank">33863412<a>, <a style="font-family: monospace;" href='{% url "PUBMED21411176" %}' target="_blank">21411176<a>, <a style="font-family: monospace;" href='{% url "PUBMED30439409" %}' target="_blank">30439409<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000050</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(2R,3R,4S,5R)-2-(6-Aminopurin-9-yl)-5-(hydroxymethyl)oxolane-3,4-diol</h6>
<h6>6-Amino-9-beta-D-ribofuranosyl-9H-purine</h6>
<h6>9-beta-D-Ribofuranosidoadenine</h6>
<h6>9-beta-D-Ribofuranosyl-9H-purin-6-amine</h6>
<h6>Ade-rib</h6>
<h6>Adenine deoxyribonucleoside</h6>
<h6>Adenocard</h6>
<h6>Adenocor</h6>
<h6>Adenoscan</h6>
<h6>Adenosin</h6>
<h6>Adenyldeoxyriboside</h6>
<h6>Ado</h6>
<h6>beta-D-Adenosine</h6>
<h6>Deoxyadenosine</h6>
<h6>Desoxyadenosine</h6>
<h6>6-Amino-9-b-D-ribofuranosyl-9H-purine</h6>
<h6>6-Amino-9-β-D-ribofuranosyl-9H-purine</h6>
<h6>9-b-D-Ribofuranosidoadenine</h6>
<h6>9-Β-D-ribofuranosidoadenine</h6>
<h6>9-b-D-Ribofuranosyl-9H-purin-6-amine</h6>
<h6>9-Β-D-ribofuranosyl-9H-purin-6-amine</h6>
<h6>b-D-Adenosine</h6>
<h6>Β-D-adenosine</h6>
<h6>1-(6-Amino-9H-purin-9-yl)-1-deoxy-beta-D-ribofuranose</h6>
<h6>1-(6-Amino-9H-purin-9-yl)-1-deoxy-beta-delta-ribofuranose</h6>
<h6>6-Amino-9beta-D-ribofuranosyl-9H-purine</h6>
<h6>6-Amino-9beta-delta-ribofuranosyl-9H-purine</h6>
<h6>9-beta-D-Arabinofuranosyladenine</h6>
<h6>9-beta-D-Ribofuranosyladenine</h6>
<h6>9-beta-delta-Arabinofuranosyladenine</h6>
<h6>9-beta-delta-Ribofuranosidoadenine</h6>
<h6>9-beta-delta-Ribofuranosyl-9H-purin-6-amine</h6>
<h6>9-beta-delta-Ribofuranosyladenine</h6>
<h6>9beta-D-Ribofuranosyl-9H-purin-6-amine</h6>
<h6>9beta-D-Ribofuranosyladenine</h6>
<h6>9beta-delta-Ribofuranosyl-9H-purin-6-amine</h6>
<h6>9beta-delta-Ribofuranosyladenine</h6>
<h6>Adenine nucleoside</h6>
<h6>Adenine riboside</h6>
<h6>Adenine-9beta-D-ribofuranoside</h6>
<h6>Adenine-9beta-delta-ribofuranoside</h6>
<h6>beta-Adenosine</h6>
<h6>beta-delta-Adenosine</h6>
<h6>Boniton</h6>
<h6>Myocol</h6>
<h6>Nucleocardyl</h6>
<h6>Sandesin</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C10H13N5O4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2R,3R,4S,5R)-2-(6-amino-9H-purin-9-yl)-5-(hydroxymethyl)oxolane-3,4-diol</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">58-61-7</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">267.096753929</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Nucleosides, nucleotides, and analogues</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Purine nucleosides</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">None</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.126  +/-  0.018 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Septic shock</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.40 +/- 0.20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.48 +/- 0.32 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.30 +/- 0.08 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.3-7.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Adenylosuccinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.1 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Adenosine kinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.9 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Female</td>
      <td>Adenosine kinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.329 +/- 1.977 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.505 +/- 0.142 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.66 +/- 1.71 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.285 +/- 0.060 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.2 (0.1-0.3) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0425 +/- 0.0029 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.31 +/- 0.29 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>2.96 +/- 5.88 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>1.20 (0.90-1.50) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.01 +/- 0.002 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0 - 0.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.38 +/- 0.28 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.24 +/- 0.32 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.242 +/- 0.133 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.306 +/- 0.156 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.3.4 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-3.8 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.17 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;2 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.4 (0.9-2.3) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-11 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.3 +/- 8.044 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.7+/-7.0 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>17.5+/-14.6 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.50 (0.09-0.92) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.126  +/-  0.018 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Septic shock</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.40 +/- 0.20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alzheimer's disease</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.48 +/- 0.32 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Frontotemporal lobe dementia</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.30 +/- 0.08 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Lewy body disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.3-7.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Adenylosuccinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.1 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Adenosine kinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.9 umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Female</td>
      <td>Adenosine kinase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.329 +/- 1.977 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    