
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000226 Orotic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000226</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>Orotsaeure</h6>
<h6>Uracil-6-carboxylic acid</h6>
<h6>Uracil-6-carboxylate</h6>
<h6>Orotate</h6>
<h6>1,2,3,6-Tetrahydro-2,6-dioxo-4-pyrimidecarboxylic acid</h6>
<h6>1,2,3,6-Tetrahydro-2,6-dioxo-4-pyrimidinecarboxylic acid</h6>
<h6>1,2,3,6-Tetrahydro-2,6-dioxopyrimidin-4-carbonsaeure</h6>
<h6>2,6-Dihydroxy-4-pyrimidinecarboxylic acid</h6>
<h6>2,6-Dihydroxypyrimidine-4-carboxylic acid</h6>
<h6>2,6-Dioxo-1,2,3,6-tetrahydro-pyrimidine-4-carboxylic acid</h6>
<h6>2,6-Dioxo-1,2,3,6-tetrahydropyrimidine-4-carboxylic acid</h6>
<h6>6-Carboxy-2,4-dihydroxypyrimidine</h6>
<h6>6-Carboxyuracil</h6>
<h6>6-Uracilcarboxylic acid</h6>
<h6>Acide orotique</h6>
<h6>Acido orotico</h6>
<h6>Acidum oroticum</h6>
<h6>Animal galactose factor</h6>
<h6>Lactinium</h6>
<h6>Molkensaeure</h6>
<h6>ORO</h6>
<h6>Orodin</h6>
<h6>Oropur</h6>
<h6>Orotonin</h6>
<h6>Orotonsan</h6>
<h6>Orotsaure</h6>
<h6>Oroturic</h6>
<h6>Orotyl</h6>
<h6>Uracil-6-carbosaeure</h6>
<h6>Vitamin b13</h6>
<h6>Whey factor</h6>
<h6>Zinc orotate</h6>
<h6>Orotate, zinc</h6>
<h6>Acid, orotic</h6>
<h6>Orotate, potassium</h6>
<h6>Potassium orotate</h6>
<h6>Orotate, sodium</h6>
<h6>Sodium orotate</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C5H4N2O4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2,6-dioxo-1,2,3,6-tetrahydropyrimidine-4-carboxylic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">65-86-1</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">156.017106626</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organoheterocyclic compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Diazines</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Pyrimidines and pyrimidine derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>38.506 +/- 91.954 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.94 +/- 0.78 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>427.09-2989.61 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.4-3.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1000 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>293.333-573.333 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.6 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.24 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Orotic aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>66.667-640 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>59-282 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperornithinemia–Hyperammonemia-Homocitrullinuria syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.16(0.72-642.79) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance (LPI) syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2-2800 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>OTC-deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>253.2 +/- 540.0 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>OTC-deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.11 +/- 5.48 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.720-2339 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>N-acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.4 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&gt;20 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Ornithine transcarbamylase deficiency</td>
    </tr>
    <tr>
      <td>Amniotic Fluid</td>
      <td>0.27 +/- 0.25 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.89 +/- 0.63 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.874 +/- 8.0460 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.0 +/- 0.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;20 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>9.9 +/- 7.1 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.26-3.20 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.5-3.3 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.49 - 3.44 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.0-3.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.63 +/- 0.21 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.3-5.3 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.07 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-5 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-5 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.23 +/- 0.13 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.16 +/- 0.12 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;4.33 umol/mmol creatinine</td>
      <td>Children (1 - 18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.4 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.061  +/-  0.003 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.05 +/- 1.22 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0800-0.440 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.05 +/- 1.22 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;3 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0350-0.260 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>38.506 +/- 91.954 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Uremia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.94 +/- 0.78 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>427.09-2989.61 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.4-3.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1000 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>293.333-573.333 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.6 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.24 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Orotic aciduria I</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>66.667-640 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Orotic Aciduria hereditary</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>59-282 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperornithinemia–Hyperammonemia-Homocitrullinuria syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>44.16(0.72-642.79) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Lysinuric protein intolerance (LPI) syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2-2800 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>OTC-deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>253.2 +/- 540.0 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>OTC-deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6.11 +/- 5.48 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Canavan disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.720-2339 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>N-acetylglutamate synthetase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>5.4 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Phosphoenolpyruvate Carboxykinase Deficiency 1, Cytosolic</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&gt;20 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Ornithine transcarbamylase deficiency</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    