
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000695 Ketoleucine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED34056907" %}' target="_blank">34056907<a>, <a style="font-family: monospace;" href='{% url "PUBMED25859693" %}' target="_blank">25859693<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED28803255" %}' target="_blank">28803255<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a>, <a style="font-family: monospace;" href='{% url "PUBMED34342461" %}' target="_blank">34342461<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000695</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-oxo-4-METHYLPENTANOIC ACID</h6>
<h6>2-Oxoisocaproate</h6>
<h6>4-Methyl-2-oxopentanoate</h6>
<h6>4-Methyl-2-oxovaleric acid</h6>
<h6>alpha-Ketoisocaproic acid</h6>
<h6>2-oxo-4-METHYLPENTANOate</h6>
<h6>2-Oxoisocaproic acid</h6>
<h6>4-Methyl-2-oxopentanoic acid</h6>
<h6>4-Methyl-2-oxovalerate</h6>
<h6>a-Ketoisocaproate</h6>
<h6>a-Ketoisocaproic acid</h6>
<h6>alpha-Ketoisocaproate</h6>
<h6>Α-ketoisocaproate</h6>
<h6>Α-ketoisocaproic acid</h6>
<h6>2-Keto-4-methylvalerate</h6>
<h6>2-Keto-4-methylvaleric acid</h6>
<h6>2-Ketoisocaproate</h6>
<h6>2-Ketoisocaproic acid</h6>
<h6>2-oxo-4-Methylvalerate</h6>
<h6>2-oxo-4-Methylvaleric acid</h6>
<h6>2-Oxoleucine</h6>
<h6>4-Methyl-2-oxo-valerate</h6>
<h6>4-Methyl-2-oxo-valeric acid</h6>
<h6>a-Ketoisocapronate</h6>
<h6>a-Ketoisocapronic acid</h6>
<h6>a-Oxoisocaproate</h6>
<h6>a-Oxoisocaproic acid</h6>
<h6>alpha-Keto-isocaproate</h6>
<h6>alpha-Keto-isocaproic acid</h6>
<h6>alpha-Ketoisocapronate</h6>
<h6>alpha-Ketoisocapronic acid</h6>
<h6>alpha-Oxoisocaproate</h6>
<h6>alpha-Oxoisocaproic acid</h6>
<h6>Ketoisocaproate</h6>
<h6>Ketoisocaproic acid</h6>
<h6>Methyloxovalerate</h6>
<h6>Methyloxovaleric acid</h6>
<h6>Oxoisocaproate</h6>
<h6>Oxoisocaproic acid</h6>
<h6>Keto-leucine</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C6H10O3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">4-methyl-2-oxopentanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">816-66-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">130.062994186</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Keto acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Short-chain keto acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>1918 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Branched-chain Keto Acid Dehydrogenase Kinase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Female</td>
      <td>Branched-chain Keto Acid Dehydrogenase Kinase Deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>483 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.407 +/- 0.928 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>28.0 (0.0-58.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>33.5 +/- 8.2 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>25-28 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>18 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.0 +/- 4.4  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>0.944 +/- 0.442 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.24 +/- 0.728 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-2 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.48-0.86  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.623 +/- 1.21 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.48-0.72  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-0.1 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-0.2 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-0.7 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.13 (0.02-0.45) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.13 (0.03-0.34) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>1918 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Branched-chain Keto Acid Dehydrogenase Kinase Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0 uM</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Female</td>
      <td>Branched-chain Keto Acid Dehydrogenase Kinase Deficiency</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>483 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Maple syrup urine disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.407 +/- 0.928 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    