
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000208 Oxoglutaric acid </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED21348635" %}' target="_blank">21348635<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000208</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-Ketoglutaric acid</h6>
<h6>alpha-Ketoglutaric acid</h6>
<h6>2-Ketoglutarate</h6>
<h6>a-Ketoglutarate</h6>
<h6>a-Ketoglutaric acid</h6>
<h6>alpha-Ketoglutarate</h6>
<h6>Α-ketoglutarate</h6>
<h6>Α-ketoglutaric acid</h6>
<h6>Oxoglutarate</h6>
<h6>2-oxo-1,5-Pentanedioate</h6>
<h6>2-oxo-1,5-Pentanedioic acid</h6>
<h6>2-Oxoglutarate</h6>
<h6>2-Oxoglutaric acid</h6>
<h6>2-Oxopentanedioate</h6>
<h6>2-Oxopentanedioic acid</h6>
<h6>alpha-Oxoglutarate</h6>
<h6>Oxogluric acid</h6>
<h6>2 Oxoglutaric acid</h6>
<h6>Ketoglutaric acid</h6>
<h6>alpha Ketoglutaric acid</h6>
<h6>2 Ketoglutaric acid</h6>
<h6>alpha Ketoglutarate</h6>
<h6>alpha Oxoglutarate</h6>
<h6>2 Ketoglutarate</h6>
<h6>2 Oxoglutarate</h6>
<h6>alpha-Oxoglutaric acid</h6>
<h6>alpha-Oxopentanedioic acid</h6>
<h6>alpha-Keto-glutaric acid</h6>
<h6>Α-oxoglutaric acid</h6>
<h6>Α-oxopentanedioic acid</h6>
<h6>Α-keto-glutaric acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C5H6O5</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-oxopentanedioic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">328-50-7</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">146.021523302</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organic acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Keto acids and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Gamma-keto acids and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>17-37 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>150 (144-156) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Anoxia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3.600-12.800 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1374 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Deafness, Onychodystrophy, Osteodystrophy, Mental Retardation, and Seizures Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>28.849 +/- 8.834 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>39.88 +/- 30.024 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30-1600 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.882 +/- 26.016 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>100-166 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>149-247 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15-107 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1172.1 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>385.200-1367.300 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>673.261-2970.0885 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Amish lethal microcephaly</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1119.294 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Dihydrolipoamide Dehydrogenase Deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>26.667 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.432 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>193.466 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6224 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>101.0 (50.0-152.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>875.0 (150.0-1600.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate Dehydrogenase Complex Deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>7.0 (0.0-23.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.6 +/- 2.6 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.3 +/- 2.3 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.9 +/- 2.7 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4-13 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.7 +/- 2.5 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Breast Milk</td>
      <td>41.0 +/- 16.1 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>320 (290-350) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5 +/- 4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.1 +/- 0.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>8.9 +/- 3.4 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>16-Feb uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.0 +/- 2.0  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.80 (3.40-6.20) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>5.27 +/- 3.61 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.53 +/- 1.18 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>1.64 +/- 3.47 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.65 +/- 1.07 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>2.65 +/- 1.07 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Saliva</td>
      <td>3.78 +/- 2.33 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;110 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>32.164 +/- 9.964 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30.79-398.2 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>12-20  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>90.83(45.64-331.1) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;150 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>104.8(30.21-413.8) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.87 (0.18-14.3) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.98 (0.42-18.3) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>23.6 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>29.893 +/- 15.594 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;60 umol/mmol creatinine</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;75 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;95 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;115 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;350 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0-25.3 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>14.8-64.7 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.3-36.3 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7.5-28.9 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>8.90-17.12 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.2 +/- 1.97 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24 (4-74) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>150.5 (10.0-836.3) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>236.9 (8.0-631.4) umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>21.4 (4.9-123.8) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>25.6 (10.2-146.0) umol/mmol creatinine</td>
      <td>Adolescent (13-18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15.477-154.773 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>7-11  umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>4.8 (2.0-17.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>2.2-8.2 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.083  +/-  0.002 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1.548-39.467 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>43.46 +/- 53.46 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&lt;79 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>&gt; 0.658 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>160-590 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>3.4 (1.4-12.5) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>17-37 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Cellular Cytoplasm</td>
      <td>150 (144-156) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Anoxia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>3.600-12.800 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1374 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Deafness, Onychodystrophy, Osteodystrophy, Mental Retardation, and Seizures Syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>28.849 +/- 8.834 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>39.88 +/- 30.024 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>30-1600 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>24.882 +/- 26.016 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>100-166 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>149-247 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>15-107 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Hyperinsulinism-hyperammonemia syndrome</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1172.1 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>385.200-1367.300 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Fumarase deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>673.261-2970.0885 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Amish lethal microcephaly</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>1119.294 umol/mmol creatinine</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Dihydrolipoamide Dehydrogenase Deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>26.667 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>46.432 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>193.466 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Male</td>
      <td>D-2-Hydroxyglutaric aciduria</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>6224 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Lipoyltransferase 1 Deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>101.0 (50.0-152.0) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate dehydrogenase complex deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>875.0 (150.0-1600.0) umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>2-Ketoglutarate Dehydrogenase Complex Deficiency</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    