
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000802 Pterin </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000802</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>2-Amino-4-hydroxypteridine</h6>
<h6>2-Amino-4-oxopteridine</h6>
<h6>2-Amino-1H-pteridin-4-one</h6>
<h6>2-Amino-3H-pteridin-4-one</h6>
<h6>2-Amino-4(1H)-pteridinone</h6>
<h6>2-Amino-4(3H)-pteridinone</h6>
<h6>2-Amino-4-pteridinol</h6>
<h6>2-Amino-4-pteridone</h6>
<h6>2-Amino-quinonoid dihydropterin</h6>
<h6>2-Aminopteridin-4-one</h6>
<h6>4-oxo-2-Aminopteridine</h6>
<h6>4-Oxopterin</h6>
<h6>Pteridoxamine</h6>
<h6>Pterine</h6>
<h6>2-Amino-4-hydroxyaminopteridine</h6>
<h6>AHAPT</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C6H5N5O</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-amino-3,4-dihydropteridin-4-one</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">2236-60-4</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">163.049409807</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organoheterocyclic compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Pteridines and derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Pterins and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>40.3 (27.5-53.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Infantile Refsum disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>72.0 (64.0-80.0) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Adrenoleukodystrophy (ALD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>410.0 (46.0-1127.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Refsum's Disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alpha-Methylacyl-CoA racemase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.46 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.75 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>197 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Rhizomelic chondrodysplasia punctata</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1439.86 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, classic, adult-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6335.384 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, classic, early-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-2335.773 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Classicle Refsum's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-50.300 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Neonatal adrenoleukodystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.557-30.717 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Peroxisomal disorders, new type, liver</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.200-1391.865 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.200-15.998 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Adrenoleukodystrophy, X-linked</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>34.800-274 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>399.961-479.953 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, infantile</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.400-34.800 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-28.797 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Neonatal adrenoleukodystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-67.193 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, juvenile</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-86.392 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.639 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>27-hydroxylase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-6.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pseudoneonatal adrenoleukodystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>4.8 (0.0-9.6) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.7 (2.0-4.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;12.800 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-12.799 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.600-11.199 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.93 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.77 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.86 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.719 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>&lt;10 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>40.3 (27.5-53.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Infantile Refsum disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>72.0 (64.0-80.0) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Adrenoleukodystrophy (ALD)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>410.0 (46.0-1127.0) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Refsum's Disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>Alpha-Methylacyl-CoA racemase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.46 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.75 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Male</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>197 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Rhizomelic chondrodysplasia punctata</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1439.86 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, classic, adult-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6335.384 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, classic, early-onset</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-2335.773 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Classicle Refsum's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-50.300 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Not Specified</td>
      <td>Neonatal adrenoleukodystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.557-30.717 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Male</td>
      <td>Peroxisomal disorders, new type, liver</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.200-1391.865 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.200-15.998 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Adrenoleukodystrophy, X-linked</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>34.800-274 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>399.961-479.953 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, infantile</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>6.400-34.800 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Peroxisomal biogenesis disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-28.797 uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Neonatal adrenoleukodystrophy</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-67.193 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Refsum disease, juvenile</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.599-86.392 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Zellweger syndrome</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.639 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Male</td>
      <td>27-hydroxylase deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0-6.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Pseudoneonatal adrenoleukodystrophy</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    