
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0002886 6-Keto-prostaglandin F1a </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0002886</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>6-Keto-PGF1a</h6>
<h6>6-Keto-PGF1alpha</h6>
<h6>6-Keto-prostaglandin F1alpha</h6>
<h6>6-Ketoprostaglandin F1alpha</h6>
<h6>6-oxo-PGF1alpha</h6>
<h6>6-oxo-Prostaglandin F1alpha</h6>
<h6>6-Keto-PGF1α</h6>
<h6>6-Keto-prostaglandin F1α</h6>
<h6>6-Ketoprostaglandin F1a</h6>
<h6>6-Ketoprostaglandin F1α</h6>
<h6>6-oxo-PGF1a</h6>
<h6>6-oxo-PGF1Α</h6>
<h6>6-oxo-Prostaglandin F1a</h6>
<h6>6-oxo-Prostaglandin F1α</h6>
<h6>6 oxo PGF1 alpha</h6>
<h6>6 Oxoprostaglandin F1 alpha</h6>
<h6>6-Keto-PGF1 alpha</h6>
<h6>6-oxo-PGF1 alpha</h6>
<h6>F1 alpha, 6-Oxoprostaglandin</h6>
<h6>alpha, 6-Keto-PGF1</h6>
<h6>alpha, 6-Oxoprostaglandin F1</h6>
<h6>6 Keto PGF1 alpha</h6>
<h6>6-Ketoprostaglandin F1 alpha</h6>
<h6>6-Oxoprostaglandin F1 alpha</h6>
<h6>F1 alpha, 6-Ketoprostaglandin</h6>
<h6>alpha, 6-Ketoprostaglandin F1</h6>
<h6>alpha, 6-oxo-PGF1</h6>
<h6>6 Ketoprostaglandin F1 alpha</h6>
<h6>6-Oxoprostaglandin F1alpha</h6>
<h6>6-Oxoprostaglandin F1a</h6>
<h6>6-Oxoprostaglandin F1α</h6>
<h6>6-oxo-9S,11R,15S-Trihydroxy-13E-prostenoate</h6>
<h6>6-oxo-9S,11R,15S-Trihydroxy-13E-prostenoic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C20H34O6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">7-[(1R,2R,3R,5S)-3,5-dihydroxy-2-[(1E,3S)-3-hydroxyoct-1-en-1-yl]cyclopentyl]-6-oxoheptanoic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">58962-34-8</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">370.23553882</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Fatty Acyls</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Eicosanoids</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.00099 +/- 0.00027 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiopulmonary resuscitation</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00074 +/- 0.00017 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiopulmonary resuscitation</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000452 +/- 0.000108 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Spinal cord injuries (acute stage)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00153 (0.000675-0.00314) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>closed head injury</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000335 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>closed head injury</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00009994 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>gunshot wound</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000173 +/- 0.000227 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>hydrocephalus</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00115 (0.000891-0.00140) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Hypoxia/Ischemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00309 (0.000313-0.00548) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>meningitis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000579 +/- 0.00005391 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>subarachnoid hemorrhage with cerebral vasospasm</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000828 +/- 0.000240 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>subarachnoid hemorrhage without cerebral vasospasm</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00000035 (0.00000033-0.00000037) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Rheumatoid arthritis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000575 +/- 0.000337 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000359 +/- 0.000023 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.000081 (0.0-0.00016) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.0000607 +/- 0.000028 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00008913 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00199 +/- 0.00012 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00009264 +/- 0.00001134 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0023 +/- 0.00039 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0026 +/- 0.00048 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00000026 (0.00000021 - 0.0000032) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.00099 +/- 0.00027 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiopulmonary resuscitation</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00074 +/- 0.00017 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Cardiopulmonary resuscitation</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000452 +/- 0.000108 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Spinal cord injuries (acute stage)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00153 (0.000675-0.00314) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>closed head injury</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000335 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>closed head injury</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00009994 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>gunshot wound</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000173 +/- 0.000227 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>hydrocephalus</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00115 (0.000891-0.00140) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Hypoxia/Ischemia</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.00309 (0.000313-0.00548) uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>meningitis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000579 +/- 0.00005391 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>subarachnoid hemorrhage with cerebral vasospasm</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>0.000828 +/- 0.000240 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>subarachnoid hemorrhage without cerebral vasospasm</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.00000035 (0.00000033-0.00000037) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Rheumatoid arthritis</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    