
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0001932 Metoprolol </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0001932</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>(RS)-Metoprolol</h6>
<h6>1-(Isopropylamino)-3-[4-(2-methoxyethyl)phenoxy]propan-2-ol</h6>
<h6>(+/-)-metoprolol</h6>
<h6>Beatrolol</h6>
<h6>DL-Metoprolol</h6>
<h6>Lopresor</h6>
<h6>Lopresoretic</h6>
<h6>Lopressor</h6>
<h6>Meijoprolol</h6>
<h6>Metohexal</h6>
<h6>Metoprolol succinate</h6>
<h6>Metoprolol tartrate</h6>
<h6>Metoprololum</h6>
<h6>Preblok</h6>
<h6>Presolol</h6>
<h6>Seloken</h6>
<h6>Seroken</h6>
<h6>Spesicor</h6>
<h6>Toprol-XL</h6>
<h6>Beloc duriles</h6>
<h6>Beloc-duriles</h6>
<h6>Betaloc</h6>
<h6>Succinate, metoprolol</h6>
<h6>Toprol</h6>
<h6>BelocDuriles</h6>
<h6>Betaloc astra</h6>
<h6>CR-XL, Metoprolol</h6>
<h6>Spesikor</h6>
<h6>Tartrate, metoprolol</h6>
<h6>Toprol XL</h6>
<h6>Metoprolol CR-XL</h6>
<h6>Betaloc-astra</h6>
<h6>Betalok</h6>
<h6>Metoprolol CR XL</h6>
<h6>ToprolXL</h6>
<h6>BetalocAstra</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C15H25NO3</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">1-[4-(2-methoxyethyl)phenoxy]-3-[(propan-2-yl)amino]propan-2-ol</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">37350-58-6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">267.183443671</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Phenols</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Tyrosols and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.071 +/- 0.0076 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.206 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.569 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.510 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>2.907 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>disseminated multidrug-resistant tuberculosis (MDRTB)</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.242 +/- 9.802 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>external ventriculostomy</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>19.383 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.763 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.297 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>12.599 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Tuberculosis</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.652 +/- 0.692 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>4hrs after administration of 300mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.510 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after administration of 500mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>5.206 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>5hrs after administration of 750mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.242 +/- 9.802 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after IV administration of 500mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>11.297 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>2hrs after administration of 750mg</td>
    </tr>
    <tr>
      <td>Cerebrospinal Fluid (CSF)</td>
      <td>4.652 +/- 0.692 uM</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>neurosurgical operations</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    