
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0000138 Glycocholic acid </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0000138</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>3alpha,7alpha,12alpha-Trihydroxy-5beta-cholan-24-oylglycine</h6>
<h6>N-[(3alpha,5beta,7alpha,12alpha)-3,7,12-Trihydroxy-24-oxocholan-24-yl]glycine</h6>
<h6>N-Choloylglycine</h6>
<h6>3a,7a,12a-Trihydroxy-5b-cholan-24-oylglycine</h6>
<h6>3Α,7α,12α-trihydroxy-5β-cholan-24-oylglycine</h6>
<h6>N-[(3a,5b,7a,12a)-3,7,12-Trihydroxy-24-oxocholan-24-yl]glycine</h6>
<h6>N-[(3Α,5β,7α,12α)-3,7,12-trihydroxy-24-oxocholan-24-yl]glycine</h6>
<h6>Glycocholate</h6>
<h6>Glycine cholate</h6>
<h6>Glycocholic acid, sodium salt</h6>
<h6>Cholylglycine</h6>
<h6>Glycocholate sodium</h6>
<h6>3alpha,7alpha,12alpha-Trihydroxy-5beta-cholanic acid-24-glycine</h6>
<h6>3alpha,7alpha,12alpha-Trihydroxy-N-(carboxymethyl)-5beta-cholan-24-amide</h6>
<h6>3Α,7α,12α-trihydroxy-5β-cholanic acid-24-glycine</h6>
<h6>3Α,7α,12α-trihydroxy-N-(carboxymethyl)-5β-cholan-24-amide</h6>
<h6>Glycoreductodehydrocholic acid</h6>
<h6>Glycylcholate</h6>
<h6>Glycylcholic acid</h6>
<h6>N-(Carboxymethyl)-3alpha,7alpha,12alpha-trihydroxy-5beta-cholan-24-amide</h6>
<h6>N-(Carboxymethyl)-3α,7α,12α-trihydroxy-5β-cholan-24-amide</h6>
<h6>N-Choloyl-glycine</h6>
<h6>Glycocholic acid</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C26H43NO6</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-[(4R)-4-[(1S,2S,5R,7S,9R,10R,11S,14R,15R,16S)-5,9,16-trihydroxy-2,15-dimethyltetracyclo[8.7.0.0^{2,7}.0^{11,15}]heptadecan-14-yl]pentanamido]acetic acid</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">475-31-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">465.309038113</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Steroids and steroid derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Bile acids, alcohols and derivatives</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.7 +/- 0.13 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Celiac Disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22 +/- 6 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16 +/- 5 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.2 +/- 0.6 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.4 +/- 0.4 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>44.0 +/- 29.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Extrahepatic biliary atresia (EHBA)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.8(5.2-25.3) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Severe acute malnutrition</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.4 +/- 8.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Cholecohal cyst</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>91.8 +/- 54.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Intrahepatic biliary hypoplasia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.8 +/- 3.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Idiopathic neonatal hepatitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>25.9 +/- 24.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Alpha-1-antitrypsin deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.8 +/- 14.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Cystic fibrosis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.9 +/- 2.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Galactosemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.5 +/- 16.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Chronic active hepatitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.6 +/- 7.9 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Glycogen storage disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.5 +/- 1.2 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Fulminant hepatic failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10.5 +/- 13.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Portal vein obstruction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.1 +/- 6.9 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Wilson's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>43.6 +/- 11.8 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hepatobiliary Disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.06 +/- 0.04 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.6(0.4-1.9) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.88 +/- 0.26 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>10.15 +/- 7.51 nmol/g dry feces</td>
      <td>Not Specified</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.42 +/- 0.36 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>0.7 +/- 0.13 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Celiac Disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>22 +/- 6 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>16 +/- 5 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>3.2 +/- 0.6 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.4 +/- 0.4 uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>GI disorder</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>44.0 +/- 29.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Extrahepatic biliary atresia (EHBA)</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.8(5.2-25.3) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>Both</td>
      <td>Severe acute malnutrition</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.4 +/- 8.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Cholecohal cyst</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>91.8 +/- 54.9 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Not Specified</td>
      <td>Intrahepatic biliary hypoplasia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.8 +/- 3.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Idiopathic neonatal hepatitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>25.9 +/- 24.0 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Alpha-1-antitrypsin deficiency</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.8 +/- 14.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Cystic fibrosis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>2.9 +/- 2.4 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Galactosemia</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>14.5 +/- 16.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Chronic active hepatitis</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>8.6 +/- 7.9 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Glycogen storage disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>1.5 +/- 1.2 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Fulminant hepatic failure</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>10.5 +/- 13.1 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Portal vein obstruction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>5.1 +/- 6.9 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Not Specified</td>
      <td>Wilson's disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>43.6 +/- 11.8 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Hepatobiliary Disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    