
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0012275 Phenylethylamine </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED26282632" %}' target="_blank">26282632<a>, <a style="font-family: monospace;" href='{% url "PUBMED25657018" %}' target="_blank">25657018<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0012275</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>Benzeneethanamine</h6>
<h6>beta-Aminoethylbenzene</h6>
<h6>beta-Phenethylamine</h6>
<h6>beta-Phenylethylamine</h6>
<h6>Phenethylamine</h6>
<h6>2-Phenylethylamine</h6>
<h6>b-Aminoethylbenzene</h6>
<h6>Β-aminoethylbenzene</h6>
<h6>b-Phenethylamine</h6>
<h6>Β-phenethylamine</h6>
<h6>b-Phenylethylamine</h6>
<h6>Β-phenylethylamine</h6>
<h6>(2-Aminoethyl)benzene</h6>
<h6>(2-Aminoethyl)polystyrene</h6>
<h6>1-amino-2-Phenylethane</h6>
<h6>1-Phenethylamine</h6>
<h6>1-Phenyl-2-amino-athan</h6>
<h6>1-Phenyl-2-aminoethane</h6>
<h6>1TNJ</h6>
<h6>1Utm</h6>
<h6>1Uto</h6>
<h6>2-amino-1-Phenylethane</h6>
<h6>2-amino-Fenylethan</h6>
<h6>2-Fenylethylamin</h6>
<h6>2-Phenethylamine</h6>
<h6>2-Phenyl-ethanamine</h6>
<h6>2-Phenylethanamine</h6>
<h6>2-Phenylethanamine (acd/name 4.0)</h6>
<h6>2-Phenylethylamine (acd/name 4.0)</h6>
<h6>b-Phenylaethylamin</h6>
<h6>Benzeneethanamine hydrochloride</h6>
<h6>beta Phenethylamine</h6>
<h6>beta-Phenylaethylamin</h6>
<h6>Omega-phenylethylamine</h6>
<h6>PEA</h6>
<h6>Phenethylamine hydrochloride</h6>
<h6>Polystyrene a-NH2</h6>
<h6>Phenethylamine hydrobromide</h6>
<h6>Phenethylamine tosylate</h6>
<h6>Phenethylamine conjugate acid</h6>
<h6>Phenethylamine sulfate</h6>
<h6>Phenethylamine, monolithium salt</h6>
<h6>2-Phenylethylammonium chloride</h6>
<h6>Phenethylamine sulfate (2:1)</h6>
<h6>Phenethylamine, 15N-labeled CPD</h6>
<h6>Phenethylamine mesylate</h6>
<h6>Phenethylamine perchlorate</h6>
<h6>Phenethylamine, beta-(14)C-labeled CPD</h6>
<h6>Diphenethylamine sulfate</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C8H11N</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">2-phenylethan-1-amine</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">64-04-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">121.089149357</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Benzenoids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Benzene and substituted derivatives</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Phenethylamines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>0.028 +/- 0.038 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Autism</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>0.00-0.030 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>10 +/- 10 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.011 (0.003-0.067) umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>0.028 +/- 0.038 umol/mmol creatinine</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Autism</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    