
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0010386 LysoPC(18:2(9Z,12Z)/0:0) </h3>
    				<h5> Метаболит наблюдался в исследованиях <a style="font-family: monospace;" href='{% url "PUBMED25293627" %}' target="_blank">25293627<a>, <a style="font-family: monospace;" href='{% url "PUBMED32145537" %}' target="_blank">32145537<a>, <a style="font-family: monospace;" href='{% url "PUBMED24856296" %}' target="_blank">24856296<a>, <a style="font-family: monospace;" href='{% url "PUBMED30099851" %}' target="_blank">30099851<a>, <a style="font-family: monospace;" href='{% url "PUBMED34282765" %}' target="_blank">34282765<a>, <a style="font-family: monospace;" href='{% url "PUBMED27255828" %}' target="_blank">27255828<a>, <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a>, <a style="font-family: monospace;" href='{% url "PUBMED34136379" %}' target="_blank">34136379<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0010386</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1-(9Z,12Z)-Octadecadienoyl-sn-glycero-3-phosphocholine</h6>
<h6>1-(9Z,12Z-Octadecadienoyl)-glycero-3-phosphocholine</h6>
<h6>1-(9Z,12Z-Octadecadienoyl)-sn-glycero-3-phosphocholine</h6>
<h6>1-18:2-LysoPC</h6>
<h6>1-Linoleoyl-glycero-3-phosphocholine</h6>
<h6>1-Linoleoyl-GPC</h6>
<h6>1-Linoleoyl-GPC (18:2)</h6>
<h6>1-Linoleoylglycerophosphocholine</h6>
<h6>GPC(18:2)</h6>
<h6>GPC(18:2/0:0)</h6>
<h6>LPC 18:2(9Z,12Z)/0:0</h6>
<h6>LPC(18:2)</h6>
<h6>LPC(18:2/0:0)</h6>
<h6>LPC(18:2n6/0:0)</h6>
<h6>LPC(18:2Omega6/0:0)</h6>
<h6>LyPC(18:2)</h6>
<h6>LyPC(18:2n6/0:0)</h6>
<h6>LyPC(18:2omega6/0:0)</h6>
<h6>LysoPC 18:2(9Z,12Z)/0:0</h6>
<h6>LysoPC(18:2)</h6>
<h6>LysoPC(18:2/0:0)</h6>
<h6>LysoPC(18:2n6/0:0)</h6>
<h6>LysoPC(18:2omega6/0:0)</h6>
<h6>Lysophosphatidylcholine(18:2(9Z,12Z)/0:0)</h6>
<h6>Lysophosphatidylcholine(18:2)</h6>
<h6>Lysophosphatidylcholine(18:2/0:0)</h6>
<h6>Lysophosphatidylcholine(18:2n6/0:0)</h6>
<h6>Lysophosphatidylcholine(18:2omega6/0:0)</h6>
<h6>PC 18:2(9Z,12Z)/0:0</h6>
<h6>PC(18:2(9Z,12Z)/0:0)</h6>
<h6>LyPC(18:2/0:0)</h6>
<h6>LysoPC(18:2(9Z,12Z))</h6>
<h6>1-Linoleoyl lysolecithin</h6>
<h6>1-Linoleoyl-sn-glycero-3-phosphorylcholine</h6>
<h6>1-Linoleoylglycerol-3-phosphorylcholine</h6>
<h6>1-Linoleoylphosphatidylcholine</h6>
<h6>Linoleoyllysolecithin</h6>
<h6>Linoleyl lysophosphatidylcholine</h6>
<h6>Lysophosphatidylcholine 18:2</h6>
<h6>1-Linoleoyl-lysophosphatidylcholine</h6>
<h6>1-Linoleoyl-sn-glycero-3-phosphocholine</h6>
<h6>GPC(18:2(9Z,12Z))</h6>
<h6>GPC(18:2(9Z,12Z)/0:0)</h6>
<h6>GPC(18:2n6)</h6>
<h6>GPC(18:2n6/0:0)</h6>
<h6>GPC(18:2W6)</h6>
<h6>GPC(18:2W6/0:0)</h6>
<h6>LPC(18:2(9Z,12Z))</h6>
<h6>LPC(18:2(9Z,12Z)/0:0)</h6>
<h6>LPC(18:2n6)</h6>
<h6>LPC(18:2W6)</h6>
<h6>LPC(18:2W6/0:0)</h6>
<h6>LysoPC(18:2n6)</h6>
<h6>LysoPC(18:2W6)</h6>
<h6>LysoPC(18:2W6/0:0)</h6>
<h6>Lysophosphatidylcholine(18:2(9Z,12Z))</h6>
<h6>Lysophosphatidylcholine(18:2n6)</h6>
<h6>Lysophosphatidylcholine(18:2W6)</h6>
<h6>Lysophosphatidylcholine(18:2W6/0:0)</h6>
<h6>LysoPC(18:2(9Z,12Z)/0:0)</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C26H50NO7P</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">(2-{[(2R)-2-hydroxy-3-[(9Z,12Z)-octadeca-9,12-dienoyloxy]propyl phosphono]oxy}ethyl)trimethylazanium</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">22252-07-9</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">519.332489471</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Lipids and lipid-like molecules</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Glycerophospholipids</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Glycerophosphocholines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>21.7 +/- 7.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.0 +/- 9.5 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>19.6 +/- 8.2 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.6 +/- 7.5 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>28.23(8.39) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>31.52(11.38) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with reduced ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>17.582 (17.132)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>18.09 +/- 5.07 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>36.345 (14.315)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0055 +/- 0.0028 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0065 +/- 0.0083 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>30.33 +/- 10.3 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>52.75 +/- 6.48 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>7.00-59.0 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>52.755 +/- 6.478 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>9.17 (7.36-11) uM</td>
      <td>Newborn (0-30 days old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>37.27(10.8) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>26.6 +/- 9.20 uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>24.9 (19.7-33.1) uM</td>
      <td>Infant (0-1 year old)</td>
      <td>None</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>36.37 +/- 11.44 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>3 +/- 3.15 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Feces</td>
      <td>4.15 +/- 5.33 nmol/g wet feces</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0072 +/- 0.0043 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0-0.03 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.01(0.0-0.03) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Female</td>
      <td>Normal</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0(0.0-0.03) umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Male</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Blood</td>
      <td>21.7 +/- 7.7 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.0 +/- 9.5 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>19.6 +/- 8.2 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>20.6 +/- 7.5 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>28.23(8.39) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with preserved ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>31.52(11.38) uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Heart failure with reduced ejection fraction</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>17.582 (17.132)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy with fetus having congenital heart defect</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>18.09 +/- 5.07 uM</td>
      <td>Children (1-13 years old)</td>
      <td>Both</td>
      <td>Obese</td>
    </tr>
    <tr>
      <td>Blood</td>
      <td>36.345 (14.315)  uM</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Female</td>
      <td>Pregnancy</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0055 +/- 0.0028 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Eosinophilic esophagitis</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>0.0065 +/- 0.0083 umol/mmol creatinine</td>
      <td>Children (1 - 13 years old)</td>
      <td>Not Specified</td>
      <td>Gastroesophageal reflux disease</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    