
    {% extends "browse/index.html" %}
    {% load static %}
    {% block content %}

    	<div class="container">
    		<br>
    		<div class = "card">
    				<div class="card-header">
    						<h3 style="display: inline-block;"> Отображение информации для HMDB0014581 Allopurinol </h3>
    				<h5> Метаболит наблюдался в исследовании <a style="font-family: monospace;" href='{% url "PUBMED26762741" %}' target="_blank">26762741<a></h5></div></div>


    			<div class="card-body">




    				<table class="table table-border " style="width: 100%;table-layout: fixed;" id="hmdb">
    					<thead style="background-color: #DEDEDE;">
    						<td colspan="2"><h4 style="float: left;">Информация о метаболите</h4></td>
    					</thead>
    					<tbody style="background-color: white;">
    						<tr>
    							<td style="width: 40%;font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;" >HMDB ID</td>
    							<td style="font-family: monospace;color:black !important">HMDB0014581</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Синонимы</td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 150px;">

    										<h6>1,5-Dihydro-4H-pyrazolo(3,4-D)pyrimidin-4-one</h6>
<h6>1,5-Dihydro-4H-pyrazolo(3,4-D)pyrimidine-4-one</h6>
<h6>1H-Pyrazolo(3,4-D)pyrimidin-4-ol</h6>
<h6>4'-Hydroxypyrazolol(3,4-D)pyrimidine</h6>
<h6>4-HPP</h6>
<h6>4-Hydroxy-1H-pyrazolo(3,4-D)pyrimidine</h6>
<h6>4-Hydroxy-3,4-pyrazolopyrimidine</h6>
<h6>4-Hydroxypyrazolo(3,4-D)pyrimidine</h6>
<h6>4-Hydroxypyrazolopyrimidine</h6>
<h6>4-Hydroxypyrazolyl(3,4-D)pyrimidine</h6>
<h6>4H-Pyrazolo(3,4-D)pyrimidin-4-one</h6>
<h6>AL-100</h6>
<h6>Allopurinolum</h6>
<h6>Alopurinol</h6>
<h6>Zyloprim</h6>
<h6>Allopurinol alphapharm brand</h6>
<h6>Allopurinol basf brand</h6>
<h6>Allopurinol merz brand</h6>
<h6>Allopurinol pharmafarm brand</h6>
<h6>Allopurinol roche brand</h6>
<h6>Allopurinol tad brand</h6>
<h6>Allopurinol thiemann brand</h6>
<h6>Allopurinol wellcome brand</h6>
<h6>Ashbourne brand OF allopurinol</h6>
<h6>Boots brand OF allopurinol</h6>
<h6>Fawns and mcallan brand OF allopurinol</h6>
<h6>Foligan</h6>
<h6>Hamarin</h6>
<h6>Hennig brand OF allopurinol</h6>
<h6>Horner brand OF allopurinol</h6>
<h6>Jenapharm brand OF allopurinol</h6>
<h6>Milurit</h6>
<h6>Milurite</h6>
<h6>Quimica, pan</h6>
<h6>Remid</h6>
<h6>Rima brand OF allopurinol</h6>
<h6>Rimapurinol</h6>
<h6>Rougier brand OF allopurinol</h6>
<h6>Thiemann brand OF allopurinol</h6>
<h6>Urtias</h6>
<h6>Xanturic</h6>
<h6>Allohexan</h6>
<h6>Allopurinol horner brand</h6>
<h6>Allopurinol merckle brand</h6>
<h6>Allopurinol multipharma brand</h6>
<h6>Allopurinol nicholas brand</h6>
<h6>Allopurinol novopharm brand</h6>
<h6>Allopurinol r.a.n. brand</h6>
<h6>Allopurinol rima brand</h6>
<h6>Allural</h6>
<h6>Amrad brand OF allopurinol</h6>
<h6>Atisuril</h6>
<h6>Clonmel brand OF allopurinol</h6>
<h6>Embarin</h6>
<h6>Glaxo wellcome brand OF allopurinol</h6>
<h6>ICN brand OF allopurinol</h6>
<h6>Merz brand OF allopurinol</h6>
<h6>Multipharma brand OF allopurinol</h6>
<h6>Nicholas brand OF allopurinol</h6>
<h6>Purinol</h6>
<h6>Rhône-poulenc rorer brand OF allopurinol</h6>
<h6>Rosen brand OF allopurinol</h6>
<h6>Suspendol</h6>
<h6>TAD brand OF allopurinol</h6>
<h6>Tipuric</h6>
<h6>Uripurinol</h6>
<h6>Wellcome brand OF allopurinol</h6>
<h6>Xanthomax</h6>
<h6>APS brand OF allopurinol</h6>
<h6>Alloprin</h6>
<h6>Allopurinol ashbourne brand</h6>
<h6>Allopurinol clonmel brand</h6>
<h6>Allopurinol douglas brand</h6>
<h6>Allopurinol hennig brand</h6>
<h6>Allopurinol hexal brand</h6>
<h6>Allopurinol rosen brand</h6>
<h6>Allopurinol gepepharm brand</h6>
<h6>Allpargin</h6>
<h6>Alphapharm brand OF allopurinol</h6>
<h6>Apulonga</h6>
<h6>Apurin</h6>
<h6>BASF brand OF allopurinol</h6>
<h6>Bleminol</h6>
<h6>Boehringer mannheim brand OF allopurinol</h6>
<h6>Byk gulden brand OF allopurinol</h6>
<h6>Capurate</h6>
<h6>Dorsch brand OF allopurinol</h6>
<h6>Douglas brand OF allopurinol</h6>
<h6>Hexal brand OF allopurinol</h6>
<h6>Jenapurinol</h6>
<h6>Merckle brand OF allopurinol</h6>
<h6>Novopurol</h6>
<h6>Pan quimica</h6>
<h6>Pureduct</h6>
<h6>Rhône poulenc rorer brand OF allopurinol</h6>
<h6>Roche brand OF allopurinol</h6>
<h6>Roucol</h6>
<h6>Urosin</h6>
<h6>Gepepharm brand OF allopurinol</h6>
<h6>Allohexal</h6>
<h6>Allopurin</h6>
<h6>Allopurinol aps brand</h6>
<h6>Allopurinol amrad brand</h6>
<h6>Allopurinol azupharma brand</h6>
<h6>Allopurinol bicther brand</h6>
<h6>Allopurinol boots brand</h6>
<h6>Allopurinol dorsch brand</h6>
<h6>Allopurinol icn brand</h6>
<h6>Allopurinol jenapharm brand</h6>
<h6>Allopurinol pinewood brand</h6>
<h6>Allopurinol protea brand</h6>
<h6>Allopurinol rougier brand</h6>
<h6>Allorin</h6>
<h6>Azupharma brand OF allopurinol</h6>
<h6>Bicther brand OF allopurinol</h6>
<h6>Caplenal</h6>
<h6>Cellidrin</h6>
<h6>Henning berlin brand OF allopurinol</h6>
<h6>Lopurin</h6>
<h6>Lysuron</h6>
<h6>Novopharm brand OF allopurinol</h6>
<h6>Pharmafarm brand OF allopurinol</h6>
<h6>Pinewood brand OF allopurinol</h6>
<h6>Progout</h6>
<h6>Protea brand OF allopurinol</h6>
<h6>R.A.N. brand OF allopurinol</h6>
<h6>Reig jofre brand OF allopurinol</h6>
<h6>Uribenz</h6>
<h6>Uridocid</h6>
<h6>Zygout</h6>
<h6>Zyloric</h6>


    								</div>
    							</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color:#f5f2f2;font-size:20px;">Химическая формула</td>
    							<td style="font-family: monospace;color:black !important">C5H4N4O</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Название в ИЮПАК</td>
    							<td style="font-family: monospace;color:black !important"><div style="width: 100%;overflow-x: auto;">1H,2H,4H-pyrazolo[3,4-d]pyrimidin-4-one</div></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Регистрационный номер CAS</td>
    							<td style="font-family: monospace;color:black !important">315-30-0</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Моноизотопная молекулярная масса</td>
    							<td style="font-family: monospace;color:black !important">136.03851077</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Химическая систематика</h4></td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Суперкласс</td>
    							<td style="font-family: monospace;color:black !important">Organoheterocyclic compounds</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Класс</td>
    							<td style="font-family: monospace;color:black !important">Pyrazolopyrimidines</td>
    						</tr>
    						<tr>
    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Подкласс</td>
    							<td style="font-family: monospace;color:black !important">Pyrazolo[3,4-d]pyrimidines</td>
    						</tr>
    						<tr style="background-color: #DEDEDE !important;">
    							<td colspan="2"><h4 style="float: left;">Биологические свойства</h4></td>
    						</tr>

    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->
    						<tr>
    								<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;" colspan="2">Нормальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                            <table border="0" class="dataframe cell-border hover stripe display" id="table2">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>630 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Molybdenum cofactor deficiency</td>
    </tr>
    <tr>
      <td>Urine</td>
      <td>18-23 umol/mmol creatinine</td>
      <td>Newborn (0-30 days old)</td>
      <td>Both</td>
      <td>Normal</td>
    </tr>
  </tbody>
</table>
    										<!-- normal table-->
    								</td>
    						</tr>
    						<tr>
    								<td colspan="2" style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;">Аномальные концентрации:</td>
    						</tr>
    						<tr>
    								<td colspan="2">
                                        <table border="0" class="dataframe cell-border hover stripe display" id="table1">
  <thead>
    <tr style="text-align: left;">
      <th>Биообразец</th>
      <th>Значение</th>
      <th>Возраст</th>
      <th>Пол</th>
      <th>Состояние</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Urine</td>
      <td>630 umol/mmol creatinine</td>
      <td>Adult (&gt;18 years old)</td>
      <td>Both</td>
      <td>Molybdenum cofactor deficiency</td>
    </tr>
  </tbody>
</table>
    									<!-- abnormal table-->
    								</td>
    						</tr>
    						<!-- herehereherehereherehereherehereherehere --><!-- herehereherehereherehereherehereherehere -->

    						<tr>

    							<td style="width: 40%; font-family: monospace;color:black !important;background-color: #f5f2f2;font-size:20px;"><a href='https://hmdb.ca/metabolites/HMDB0000001#biological_properties' target='_blank'>Pathways (Pathway Details in HMDB)</a></td>
    							<td style="font-family: monospace;color:black !important">
    								<div style="overflow-y: auto;height: 80px;">

    								</div>
    							</td>
    						</tr>



    					</tbody>
    				</table>

    		</div>
    	</div>
    	</div>
    	<div class="text-center mt-5">
    			<p>копирайт © ЛФиМА bebris</p>
    	</div>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/af-2.3.7/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/cr-1.5.5/date-1.1.2/fc-4.0.2/fh-3.2.2/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.2/sp-2.0.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>



    <script charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery -->
    <script charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" src='{% static "browse/js/meta_info.js" %}'></script>
    {% endblock content %}
    