{% extends "browse/index.html" %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-md-auto">

    <div class = "card">

          <div class="card-header" style="font-size: 150%">
              <!-- <h4> Specify metabolites you are looking for: </h4> -->
              <h4> Укажите, какие метаболиты вам нужны: </h4>
          </div>
          <div class="card-body" >
                <!-- 1 аккордион -->
                <div class="accordion accordion-flush" id="accordion1">
                  <!-- Открытый элемент -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                        aria-expanded="true" aria-controls="collapse1">Рак лёгкого</button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                      data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">
                        <a href="{% url "browse_metabolites_lung" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Маркеры развития заболевания </h6></a>
                        <a href="{% url "browse_metabolites_lung" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Выбор лекарственной терапии</h6></a>
                      </div>
                    </div>
                  </div>
                  <!-- Закрытые элементы -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Рак лёгкого</button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                      data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">
                        <a href="{% url "browse_metabolites_lung" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Маркеры развития заболевания </h6></a>
                        <a href="{% url "browse_metabolites_lung" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Выбор лекарственной терапии</h6></a>
                      </div>
                    </div>
                  </div>





                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Рак почки</button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                      data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">
                        <a href="{% url "browse_metabolites_kidney" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Маркеры развития заболевания </h6></a>
                        <a href="{% url "browse_metabolites_kidney" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Выбор лекарственной терапии</h6></a>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading8">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Рак молочной железы</button>
                    </h2>
                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                      data-bs-parent="#accordion1">
                      <a href="{% url "browse_metabolites_breast" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Маркеры развития заболевания </h6></a>
                      <a href="{% url "browse_metabolites_breast" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Выбор лекарственной терапии</h6></a>
                    </div>
                  </div>





                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading11">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">Рак молочной железы&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </h2>
                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                      data-bs-parent="#accordion1">
                      <div class="accordion-body fst-italic">
                        <a href="{% url "browse_metabolites_breast" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Маркеры развития заболевания </h6></a>
                        <a href="{% url "browse_metabolites_breast" %}" class="list-group-item list-group-item-action list-group-item-primary"><h6>Выбор лекарственной терапии</h6></a>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Конец 1 аккордиона -->
        </div>
    </div>
    </div>
    <div class="col-sm">
</div>
</div>

<div class="position-absolute top-100 start-50 translate-middle">
    <p>копирайт © ЛФиМА bebris</p>
</div>
{% endblock content %}
