{% extends "browse/index.html" %}
{% load static %}
{% block content %}
<div class="text-center mt-5">

    <a href="{% url "browse_browse_metabolites" %}" style="text-decoration: none;color: #696969 !important; display: inline-block; float: left;""> <p style="text-align:left;"> &nbsp;&nbsp;&nbsp;&nbsp;Метаболиты </p></a>
    <p style="text-align:left; display: inline-block; float: left;">  &nbsp;/  &nbsp;</p>
    <a href="{% url "browse_metabolites" %}" style="text-decoration: none;color: #696969 !important; display: inline-block; float: left;""> <p style="text-align:left;"> Литературные данные </p></a>
    <p style="text-align:left; display: inline-block; float: left;">  &nbsp;/  &nbsp;</p>
    <a href="{% url "browse_metabolites_arthritis_choice" %}" style="text-decoration: none;color: #696969 !important; display: inline-block; float: left;""> <p style="text-align:left;"> Ревматоидный артрит </p></a>
    <p style="text-align:left; display: inline-block; float: left;">  &nbsp;/  &nbsp;</p>
  <br><br>
<!--
<a href="{% url "browse_metabolites_lung" %}" style="text-decoration: none;color: #FFFFFF !important;">
    <figure style="background-color: #ed4a4a;">
        <figcaption>
              <img src="{% static 'browse/molecule.jpg' %}">
              <div class="container">
                <h2 style="text-align:left; color: #000000"> &nbsp;&nbsp; </h2>
              <h5 style="text-align:left; size:120%; color: #000000"> Маркеры развития заболевания&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
              </div>
        </figcaption>
    </figure>
</a>
-->
&nbsp;
<a href="{% url "browse_therapy_arthritis" %}" style="text-decoration: none;color: #FFFFFF !important;">
    <figure style="background-color: #4aed80;">
        <figcaption>
              <img src="{% static 'browse/medicine.jpg' %}">
              <div class="container">
                <h2 style="text-align:left; color: #000000"> &nbsp;&nbsp; </h2>
              <h5 style="text-align:left; size:120%; color: #000000"> Выбор лекарственной терапии&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5>
              </div>
        </figcaption>
    </figure>
</a>



<div class="position-absolute top-100 start-50 translate-middle">
    <p>copyright © ЛФиМА bebris</p>
</div>
</div>
{% endblock content %}
