{% extends "browse/index.html" %}
{% load static %}
{% block content %}
<div class="text-center mt-5">
<br><br>


 <!-- <h1 style="text-align: left"> &nbsp;&nbsp;&nbsp;&nbsp;Укажите, какие публикации вам нужны: </h1> -->
 <br>
<a href="{% url "diagnostic_models" %}" style="text-decoration: none;color: #FFFFFF !important;">
    <figure style="background-color: #7B68EE;">
        <figcaption>
              <img src="{% static 'browse/predictive.jpg' %}">
              <div class="container">
                <h2 style="text-align:left; color: #000000"><br>Предсказательные модели</h2>
              <p style="text-align:left; size:120%; color: #000000">  </p>
              </div>
        </figcaption>
    </figure>
</a>
&nbsp;
<a href="{% url "diagnostic_models" %}" style="text-decoration: none;color: #FFFFFF !important;">
    <figure style="background-color: #40E0D0;">
        <figcaption>
              <img src="{% static 'browse/diagnostic.jpg' %}">
              <div class="container">
                <h2 style="text-align:left; color: #000000"><br>Диагностические модели&nbsp;&nbsp;&nbsp;</h2>
              <p style="text-align:left; size:120%; color: #000000">  </p>
              </div>
        </figcaption>
    </figure>
</a>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>copyright © ЛФиМА bebris</p>

</div>
{% endblock content %}
